[2017-04-04 08:37] asv-hungvt commented on #449
Hi, @raphaelm!
How is this issue going? I also would like to try this task. :)

[2017-04-04 08:38] rahmonov commented on #449
@raphaelm @asv-hungvt sorry for the delay. I am planning to work on it today. Thanks

[2017-04-04 08:44] asv-hungvt commented on #447
Hi, @raphaelm!
I also would like to try this task. :)

[2017-04-04 08:58] raphaelm commented on #447
Sure, give it a try!

[2017-04-04 15:31] lutoma opened #454 "Admin email getting set to empty string, breaking login"
One of the admins of our pretix instance recently complained about not being able to log in anymore. After a bit of testing I had a look at the database and noticed the `email` field for the user was empty. Since the login is email-based, that of course breaks it.

![2017-04-04-17 22 13](https://cloud.githubusercontent.com/assets/179393/24664723/affa6362-195b-11e7-967d-acf2fa2d32a6.png)

I definit

[2017-04-04 15:35] lutoma commented on #454
Upon further investigation, it seems you can just set your email to emptystring by going to `/control/settings`, clearing the email field and entering your password.

[2017-04-05 07:42] raphaelm commented on #454
Well, that's a bug. Thanks for reporting!

[2017-04-05 07:45] raphaelm commented on #449
@asv-hungvt are you interested in #454?

[2017-04-05 14:01] pc-coholic opened #456 "Allow products to be excluded from ticket-generation"
It would be nice to have a checkbox for every product to dis-/enable the generation of tickets (PDF, passbook, etc.).

Usecase: In addition to an entrance-ticket for an event, also offer a donation-product. When generating the downloadable tickets, the donations do not trigger a (useless) printout with a barcode which no one is going to use.

So basically we could either add a "is a downloadable t

[2017-04-06 07:13] raphaelm commented on #456
I believe this is the way to go.

[2017-04-06 10:08] #446 closed

[2017-04-06 10:11] raphaelm commented on #444
In signals.py, you see a commend with the following text:
[code]

It should be enough to extend this text by saying that the ``title`` property can be used to set the alternative text.

[2017-04-06 12:13] #444 closed

[2017-04-06 12:24] morrme commented on #444
@raphaelm Thanks so much for your support!

[2017-04-08 18:07] TeddySmoker commented on #445
Hey @raphaelm, do you mind if I give this one a try? 😄
Thanks!

[2017-04-08 20:51] desponda commented on #443
@raphaelm Giving this one a try!

[2017-04-09 18:23] raphaelm commented on #443
@desponda Have fun and say so if I can help!

[2017-04-09 18:24] raphaelm commented on #445
@TeddySmoker Go ahead and have fun with it :) I'm looking forward to your ideas.

[2017-04-10 07:41] #442 closed

[2017-04-11 08:45] #449 closed

[2017-04-11 12:42] Alexeyisme commented on #448
Hi I'm just starting with Python and Django, and never contributed to Open Sorce. May I try to create that validator? 😄

[2017-04-11 12:57] raphaelm commented on #448
Hi @Alexeyisme! Sure, go ahead! While this only requires you to touch very small parts of pretix (that's why it's great to get started), it is certainly not trivial, so please don't get demotivated too quickly and just ask if I can help :)

[2017-04-11 14:56] raphaelm opened #463 "Write a payment plugin for Braintree"

[2017-04-12 21:08] Alexeyisme commented on #448
Hi, @raphaelm! I have a validator, that uses field's help_text's placeholders. Please take a look at it?
But I also still have open question about how to make it reusable using class based validator. Need some more time.
[code]
Best regards and thank you again for such an opportunity!

[2017-04-13 13:30] raphaelm commented on #448
Hi,

on first sight, this looks good! I did not test it in detail so far, though. Do you need help with the class-based validator?

Few thoughts:

* You got rid of the ``_(…)`` around the ``help_text``, which needs to stay there for translation. If you need to use it as a string later, just cast it to a string using ``str(…)``.
* Parsing the placeholders from the ``help_text`` is a clever idea. Ho

[2017-04-13 13:48] Alexeyisme commented on #448
Hi, @raphaelm, You saved my life with second thought!) Because I have found no way to get to form field's help_text from validator yet!

Well then I got this. It takes list of valid placeholders as an argument:

[code]
What do you think?

[2017-04-13 13:52] raphaelm commented on #448
Looks good :) Could you try integrating this for at least 1-2 form fields and create a pull request? This makes it easier to review and test the changes.

If you have trouble with the PR process, I'm here to help.

[2017-04-13 18:08] Alexeyisme commented on #448
Integrated `PlaceholderValidator` into `MailForm` at (`pretix/plugins/sendmail/forms.py`). Checked locally, it works.
Made (my first) pull request. You've probably already seen it and I shouldn't write this here.
Ready to integrate to `MailSettingsForm` at (`pretix/control/forms/event.py`).

[2017-04-13 19:34] raphaelm commented on #448
Congrats for your first PR! *high-five* Let's go over there to discuss details. 😉

[2017-04-14 09:08] raphaelm opened #467 "Refactor email placeholders"
Placeholders for emails are now defined in

* the preview feature introduced in #438
* the validation feature introduced in #465
* the form's ``help_text``
* the preview method of the sendmail plugin introduced in #279
* the method actually calling ``mail()``

Therefore, adding a new placeholder now requires changes in **four to five** places. We urgently need to find a good abstraction to reduce

[2017-04-14 09:13] raphaelm commented on #433
Since 3c59a870e7816fc66bed2d5115643bd63f9242e6 this *can* be implemented, so this is not urgent. However, it would be nice to have a more flexible mechanism at some point.

[2017-04-14 09:18] raphaelm commented on #35
@harshavamsi Everything alright? No pressure, this is not urgent, just wanted to ask if I can help :)

[2017-04-14 09:19] #308 closed

[2017-04-14 11:30] raphaelm opened #468 "Invoices: Deal with long event slugs"

[2017-04-14 16:00] #468 closed

[2017-04-14 16:04] #448 closed

[2017-04-15 21:50] saschafoerster commented on #421
Hm; I don't know, what s wring:
`docker build -t mypretix .
Sending build context to Docker daemon  2.048kB
Step 1/5 : FROM pretix/standalone
 ---> cf7a14c55f53
Step 2/5 : USER root
 ---> Using cache
 ---> 794ae587ee9f
Step 3/5 : RUN pip3 install pretix-passbook
 ---> Using cache
 ---> 0c05d2f915b5
Step 4/5 : USER root
 ---> Using cache
 ---> f1105759c0d4
Step 5/5 : RUN make production
 ---> Runni

[2017-04-16 21:20] raphaelm commented on #421
Hmm. Try replacing ``make production`` in the Dockerfile with ``cd /pretix/src && sudo -u pretixuser make production make production``. Does that help? might be a documentation bug that happened after we improved the docker file some time ago

[2017-04-17 07:02] saschafoerster commented on #421
[code]
Seems not to work either.

[2017-04-17 07:07] saschafoerster commented on #421
This seemed to work: I removed the second make production and used "USER root" in the 4th line. I hope this doesn't mean, that I created something with to many user-rights?

[code]

[2017-04-17 08:42] saschafoerster opened #469 "Update via Docker does not work"
When I try to install the pretix-pages plugin in a docker-installation, it fails.
Installations of other plugins seem to work without these problems.

[code]

[2017-04-17 08:45] raphaelm commented on #469
Hi,

which pretix version are you using?

Cheers
Raphael

[2017-04-17 08:48] saschafoerster commented on #469
I am using pretix/standalone:stable.

[2017-04-17 08:50] raphaelm commented on #469
Can you try ``docker pull pretix/standalone:stable``? It *looks* like you have something before 1.1.0, but we are at 1.2.0 now.

[2017-04-17 08:53] raphaelm commented on #469
Very weird. Don't know what's going on here right now, then.

[2017-04-17 08:57] saschafoerster commented on #469
For the other plugins it's working fine. If I can help be testing, let me know! :) I will figure out the other plugins first.

[2017-04-17 10:29] raphaelm commented on #297
Hi @jlwt90, if you're interested in this, please tell me if the scope of this is clear, if not, I can sure write one of my lengthier issue descriptions here :wink:

[2017-04-17 11:26] raphaelm commented on #421
Should be fine. I'll look into updating the documentation.

[2017-04-17 11:26] raphaelm commented on #421
Ah, no, better try
[code]
Otherwise, pretix might be running with root permissions

[2017-04-17 11:31] raphaelm commented on #421
I updated the documentation with the simplest solution that should also work: https://docs.pretix.eu/en/latest/admin/installation/docker_smallscale.html#install-a-plugin

[2017-04-17 11:32] raphaelm commented on #469
If you go to /control/ and then to "Global settings" on the left, is there an "Update check" link at the top? If not, you're not using 1.2.0.

[2017-04-17 11:46] saschafoerster commented on #469
There is no "update check" in my installation visible, so probably I am on 1.2.0. I used the stable-tag in docker though.

[2017-04-17 11:50] raphaelm commented on #469
Weird, the stable tag should point to 1.2.0. However, I'm not testing this regularly, as I have no productive installation that uses docker hub.

[code]

also doesn't make the "Update check" appear?

[2017-04-17 11:54] saschafoerster commented on #469
Nope, didn't help. And this time no errors during the installation. Sometimes I needed to reboot.

[2017-04-17 11:58] raphaelm commented on #469
If I pull ``stable`` from docker hub, I get 1.2.0. However, I forgot something in my last comment: After ``docker pull``, you also need to recompile your own docker image that includes the plugins. Can you try that?

[2017-04-17 12:13] saschafoerster commented on #469
I did do that. :)
[code]

[2017-04-17 12:19] raphaelm commented on #469
Hm, then I'm out of ideas now.

[2017-04-17 12:19] raphaelm commented on #469
``docker build --no-cache -t bonndigital/pretix .`` could be worth a try, though

[2017-04-17 12:24] saschafoerster commented on #469
Again: ImportError: No module named 'i18nfield'

Maybe this helps?

[code]

[2017-04-17 12:32] raphaelm commented on #469
Hm. ``ImportError: No module named 'i18nfield'`` is because you're still stuck with pretix <1.1. The warning in the upgrade command is not related.

Can you try an explicit ``FROM pretix/standalone:stable`` in your custom dockerfile and then rebuild your docker file, then run ``upgrade``, then restart pretix?

[2017-04-17 12:41] saschafoerster commented on #469
Happy easter, we just found the egg! 🐰

[2017-04-17 12:41] #469 closed

[2017-04-18 15:04] hd719 commented on #456
Hello I am new to Open source can I work on this?

[2017-04-18 15:09] raphaelm commented on #456
Sure!

First of all, you need pretix running locally on your machine. We have a guide on the developer installation [over here](https://docs.pretix.eu/en/latest/development/setup.html). Play around with it and get a feeling for what pretix is and how it works :) Try to find the places in the interface mentioned in this issue where something needs to change. Maybe try to find the same places in the

[2017-04-19 15:14] raphaelm opened #471 "Optimize performance of quota calculation"

[2017-04-19 15:14] raphaelm commented on #440
Closed for now, as the bottleneck here ist #471

[2017-04-19 15:14] #440 closed

[2017-04-19 15:14] raphaelm commented on #439
Closed for now, as the bottleneck here ist #471

[2017-04-19 15:14] #439 closed

[2017-04-21 10:41] jfwiebe opened #472 "Change name of ticket owner within pretixcontrol"
Hi,
it would be great to have the possibility for the event organizers to change the name of ticket owner within pretixcontrol.
![image](https://cloud.githubusercontent.com/assets/6865786/25273979/73c98eaa-268e-11e7-9549-5e9de91a5455.png)
I know that there already exists a possibility to change the name via the customers order page, but I think this is disabled after the `last_order_modification_d

[2017-04-21 10:51] raphaelm commented on #472
Yep, that would be useful.

Yes. In as sense, this is therefore related to #190.

I'm unsure here, for two reasons:

* It makes only that much sense to add changing the name without changing the answers to event-specific questions, and questions are not easy
* Despite all my tries to keep it simple, I fear that ``OrderChangeManager`` not a good way to start into the project :see_no_evil:

[2017-04-21 12:36] codingcatgirl opened #473 "Allow internal category and product names"
Sometimes i want multiple add-on categories (and their products) to have the same name (this would not confuse customers, because they belong to different products), but this would make it impossible to distinguish them in the control panel. It would be nice if an „internal name“ could be set that is a only used in the control panel.

[2017-04-21 12:37] raphaelm commented on #473
Adding this property could be an easy ticket, however using it in the correct places might be harder.

[2017-04-21 13:04] codingcatgirl opened #474 "Assign questions to product variations, not only products"
Some variations may require additional questioning. Currently I have to add each variation as its own product instead.

[2017-04-21 13:10] raphaelm opened #475 "Add to quota / create quota directly from the product creation form"
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2017-04-21 16:36] efpo commented on #475
Hey! I'd like to give this one a try

[2017-04-22 08:29] raphaelm commented on #475
Hi @efpo, sure, go ahead and let me know if you have any questions!

[2017-04-22 08:52] raphaelm commented on #471
Before we we go to completely different architectures, we should first try optimizing the SQL in the current architecture.

As a reference point, a quota calculation currently requires the following five SQL statements which are autogenerated by Django. The timings are from pretix.eu's production database for an event that contains very little orders, while the rest of the system contains a lot of

[2017-04-22 09:00] raphaelm commented on #471
For Q1 and Q2, at least for small events, this hand-craftet query performs a lot better. Most of the improvement is gained through the filtering on the event index, some also through the cache-friendly subquery structure instead of joins:

[code]

[2017-04-22 15:47] jlwt90 commented on #297
Hi @raphaelm, sorry for replying late. I just got some time checking the finished tasks in this ticket.
Could I confirm whether my direction is correct?

The api pretixdroid is calling is provided by `src/pretix/plugins/pretixdroid`. The checkin information is stored by using the following code block:
[code]
So basically I will play around `OrderPosition`, `Checkin` & `LogEntry` and of course the

[2017-04-24 13:13] AV-room commented on #454
I'm new to github and would like to have a go at this if it's still available!

[2017-04-25 07:09] raphaelm commented on #454
Sure @AV-room, go ahead!

[2017-04-25 07:09] raphaelm commented on #445
Hey @TeddySmoker, just wanted to check if I can assist you in any way :)

[2017-04-25 07:10] raphaelm commented on #300
Hi @anusha94, how's it going? Can I help you in any way?

[2017-04-25 07:24] raphaelm commented on #297
Hi,

I believe you won't need ``LogEntry``, ``Checkin`` should already contain all required information.

Yep, that's exactly what I imagined. I think there should be a page with the check-in status of all attendees (maybe later it could be searchable etc.) and that would be perfect to link to from the dashboard tile.

This should not need to live in the pretixdroid plugin, as there will probably

[2017-04-25 13:02] TeddySmoker commented on #445
Hey @raphaelm,

I've been done a bit of the feature but I've been busy, I will try to send the PR by the end of the month.
Really sorry about the delay! :D

Cheers

[2017-04-26 09:44] raphaelm commented on #445
Hi @TeddySmoker, no problem, we're not in a hurry here, just wanted to see if you're ok! :)

[2017-04-26 13:28] #372 closed

[2017-04-27 16:28] raphaelm opened #479 "Transactional export of order actions"
It would be nice to have an export that is useful for accounting and contains a raw log of financial transactions, i.e. order creations, payments and cancellations in multiple rows with their associated timestamp and values.

[2017-04-30 12:53] raphaelm opened #480 "Enforced base version constraints for plugins"
Plugins should be able to specify a minimal version of pretix they are compatible with.

[2017-04-30 17:46] aph3rson commented on #443
@raphaelm Could I take a crack at this as well?

[2017-05-01 09:10] raphaelm commented on #443
Hi @aph3rson, let's check with @desponda first if he is still working on it or busy with other stuff :)

[2017-05-01 19:38] hd719 commented on #456
Hey @raphaelm sorry, but I cannot work on this.

[2017-05-01 20:03] raphaelm commented on #456
Hi @hd719, sure, we'll find someone else :)

[2017-05-01 20:04] raphaelm commented on #443
Hi @aph3rson, would you be interested in #456?

[2017-05-01 20:09] aph3rson commented on #456
https://github.com/pretix/pretix/issues/443#issuecomment-298418044
@raphaelm I can take a crack at it. The description is a bit vague, though - what I'm getting is that you'd like products to have a property that tickets should be generated for them (so donations/etc. don't generate tickets). I'll need to look through the code a bit more to determine the program flow around when tickets are genera

[2017-05-01 20:16] raphaelm commented on #456
@aph3rson

Nearly correct: There already *is* a property ``Item.admission`` that we want to re-use here. You would now need to:

* Add a setting to ``TicketSettingsForm`` that says "Generate tickets for non-admission products". For backwards compatibility, you should set the default to True in ``pretix/base/settings.py``.
* Disable the download button in ``pretix/presale/templates/pretixpresale/ev

[2017-05-01 21:22] aph3rson commented on #456
@raphaelm One more question, regarding PRs. The contribution guide says I need to squash my commits, though I don't see other PRs doing this. Do you prefer squashed commits for this? I generally fork master (or develop, if there is one) to an issue branch, then non-ff merge back to the appropriate branch, and submitting a PR on that (roughly following [Vincent Driessen's model](http://nvie.com/pos

[2017-05-01 21:30] raphaelm commented on #456
Hi @aph3rson, thanks for the hint, I'll drop that from the contribution guides. The guide was written before GitHub had a "Squash and merge" button, so it's easier to review if you keep your work in "natural" commits. I will then rebase/merge against master once the PR is done so we have a mostly-linear history in the repository.

Should you have a long-running PR that has merge conflicts with mas

[2017-05-02 08:54] raphaelm opened #482 "Release checklist 1.3.0"
- [x] Check translations
- [x] Squash migrations and test them
- [x] Prepare blogpost
- [x] Bump version in ``src/pretix/__init__.py``
- [x] Create git branch
- [x] Create git tag
- [x] Upload PyPI package (sdist and wheel, make sure they are cleanly built)
- [x] Create tag on docker hub
- [x] Check if any official plugins need a release
- [x] Check if pretixdroid needs a release
- [x] Publish blo

[2017-05-02 09:24] #482 closed

[2017-05-03 10:52] anusha94 commented on #300
Hi @raphaelm  Actually I kinda got stuck with the installation itself, will try out one last time on my own and get back to you

[2017-05-03 17:36] TeddySmoker commented on #445
Hey @raphaelm, if you wish you can remove the assigned label so if anyone else wants to try resolving this issues they can do so. I've been a bit busy and I don't want to hold the issue for no reason.

I will update this these next days if I can finish the issue.

Cheers
Thanks.

[2017-05-05 16:04] aph3rson opened #486 "[Git] Cloning on Windows doesn't recognize .woff/etc as binary"
As in the title, web font files aren't explicitly marked as binary in the `.gitattributes` file. This should be a quick fix, and only deals with cloning to a Windows-based environment.

[2017-05-05 16:57] aph3rson commented on #486
Should be handled in #487 by adding relevant file extensions to `.gitattributes`.

[2017-05-06 08:50] #486 closed

[2017-05-06 09:11] #456 closed

[2017-05-06 12:39] #447 closed

[2017-05-08 15:31] #297 closed

[2017-05-08 15:46] #379 closed

[2017-05-08 23:57] jlwt90 commented on #102
@raphaelm Hello, I think I can take this issue. Could you elaborate what is this `Other` -option?

Is it like a textfield with suggested values? It sounds like normal text field for me at this moment :P

[2017-05-09 08:51] raphaelm commented on #102
I didn't have a textfield with autocompletion in mind, rather really an "Other" option. To illustrate, currently, multiple choice fields look like this for the user:

- [ ] Option A
- [ ] Option B
- [ ] Option C

In the future, they should optionally be able to look like this:

- [ ] Option A
- [ ] Option B
- [ ] Option C
- [ ] Other: ____textfield____

In contrast to an "autocomplete" field, this

[2017-05-09 09:10] #41 closed

[2017-05-10 21:50] aph3rson commented on #443
@raphaelm I can take a crack at this if you're interested, now that I'm done with that other issue.

[2017-05-11 06:45] raphaelm commented on #443
@aph3rson Sure, sounds good :)

[2017-05-11 22:07] jfwiebe opened #489 "Handle vouchers with expired items"
Hi! When redeeming a voucher for a product where `available_until` is before today, the list for available products is empty and there is no error message.
![image](https://cloud.githubusercontent.com/assets/6865786/25973976/b4a79a5c-36a6-11e7-8d94-9a495951e971.png)
As a user, I would expect
- to buy the ticket regardless of `available_until`, or
- to get an error message

Thanks for your awesome

[2017-05-12 04:10] aph3rson commented on #443
I've submitted PR #490, which should handle this functionality.

[2017-05-12 07:13] raphaelm commented on #489
Hi Jan Felix,

good point. I see that alternative (1) could be useful, but giving an error message seems more appropriate as it doesn't come as a (unwelcomed) surprise to organizers. So we should probably give an error message for now.

This should be a non-trivial, but fairly easy fix and I therefore mark this as an easy ticket. If anyone would want to take this on and needs more information, fee

[2017-05-12 07:50] raphaelm opened #491 "Allow to search orders by invoice number"
Also: search by invoice numbers in the autocompletion field during manual bank transaction matching

[2017-05-13 04:17] captaincrunch21 commented on #489
Hey I want to fix this Can you assign this to me and help me

[2017-05-15 07:17] raphaelm commented on #489
Hey @captaincrunch21, sure, go ahead, I marked this as assigned. What kind of help do you need? Did you unterstand what this is about or do you have more questions on this? A good start is to get pretix running locally on your computer: https://docs.pretix.eu/en/latest/development/setup.html

[2017-05-15 10:28] raphaelm opened #492 "Deterministic order of navigation entries"
Navigation menu entries collected through ``nav_event``, ``nav_global`` or ``nav_organizer`` are currently not in any deterministic order. We should change that :)

[2017-05-15 11:09] #492 closed

[2017-05-16 17:15] jlwt90 commented on #102
@raphaelm I'm sorry that I have been quite busy recently so I may not be able to work on this issue in the coming weeks. If someone is interested on this matter, feel free to assign to someone else :)
Sorry for that!

[2017-05-16 17:19] raphaelm commented on #102
No worries! Let's see if someone comes along to work on this or if it will still be free then :)

[2017-05-17 07:31] #443 closed

[2017-05-17 10:53] eth3rgeist opened #493 "Wrong alias path for python3.4"
Hey,

the nginx template in the documentation has the following alias for static content:
[code]

which leads to a alot of file-not-found errors for people still using pyhton 3.4.

Changing the path to
[code]
obviously fixed the errors.

Maybe the documentation should mention this. OR did i overlook something?

Best regards.

[2017-05-17 13:42] eth3rgeist commented on #493
I'm sorry, i just realized that there already is a notice to replace the python version with the one used. So never mind then.

[2017-05-17 13:42] #493 closed

[2017-05-17 14:58] raphaelm opened #496 "Event-spanning "gift vouchers" as a payment method"

[2017-05-17 16:21] #322 closed

[2017-05-17 16:21] raphaelm commented on #322
Finally, this should be fixed for new contributors (cc @scabux)

[2017-05-20 19:59] raphaelm opened #499 "Fix placeholder confusion"
There is payment_info in some mails and paymentinfo in others. We should unify this to payment_info.

[2017-05-21 20:00] aph3rson commented on #102
Per https://github.com/pretix/pretix/pull/490#issuecomment-302010187, I'm going to take a shot at this.

@raphaelm, feel free to add the assigned label.

[2017-05-21 22:20] aph3rson commented on #102
@raphaelm, I've gotten (I believe) about half-way through this. I've defined some things as mentioned above, but I'm stuck on the actual rendering of the fields. From what I could find, a new field/widget would be needed for both forms, in order to display/account for the "Other" field. However, I'm at a loss as to how to do this.

I've pushed some things to [aph3rson/pretix:issues/102](/aph3rson/

[2017-05-22 11:56] raphaelm opened #505 "Change text positioning in PDF layout editor"
Currently, everything is positioned by its bottom-left corner. This makes it quite hard to align text with an unknown number of lines appropriately. We should to change this behaviour, but will need to somehow deal with backwards compatibility.

[2017-05-22 12:06] #499 closed

[2017-05-23 15:05] raphaelm commented on #102
Hi @aph3rson sorry for the late reply, I'm quite busy at the moment. I'll hope to be able to get back to you tomorrow!

[2017-05-25 14:19] rixx opened #507 "Offer export of filtered order list"
You can filter the order list by all kinds of stuff, but you cannot get an export of this filtered list (eg: get a csv of all orders containing item x).

[2017-05-25 14:23] raphaelm commented on #507
I believe that filter is a problem in itself, as filtering orders (as opposed to order positions) by product is broken by design. However, there's the "Check-in list" plugin that should help :)

[2017-05-25 14:23] #507 closed

[2017-05-25 14:30] raphaelm commented on #102
Yep, that's tougher than I expected. Sorry for that.

We probably really need to somehow build a custom form field with a custom widget, that in turn has custom form rendering. I found this snippet with a quick google search: https://djangosnippets.org/snippets/863/ It's old, but could be a decend start.

**However**, form renderes changed **completely** with Django 1.11, so it might be better to

[2017-05-28 18:14] parkcl commented on #475
Hi, could I take this on?

[2017-05-29 10:21] raphaelm commented on #475
Hi @parkcl, if @efpo doesn't want to continue working on this, you can, yes

[2017-06-01 10:44] raphaelm opened #510 "Release checklist 1.4.0"
- [x] Check translations
- [x] Squash migrations and test them
- [x] Prepare blogpost
- [x] Bump version in ``src/pretix/__init__.py``
- [x] Create git branch
- [x] Create git tag
- [x] Upload PyPI package (sdist and wheel, make sure they are cleanly built)
- [x] Create tag on docker hub
- [x] Check if any official plugins need a release
  - [x] Update cartshare
  - [x] Update passbook
  - [x] Upd

[2017-06-01 11:45] #510 closed

[2017-06-01 15:04] noelroy commented on #445
Hey! I'd like to give this one a try.
I have to include a go to shop button in each of the 'Settings', 'Products', 'Orders', 'Vouchers' pages just like the one in Dashboard.

[2017-06-01 15:15] raphaelm commented on #445
Hi @noelroy, sure, go ahead!

No. That wouldn't look very good. The first part would be to find a nice-looking way where this button should go instead. Should it be an item in the navigation on the left side? Should it be an icon in the top bar? Try some things out and post a few screenshots, than we can discuss what the best place might be for our users :)

[2017-06-01 17:33] noelroy commented on #445
How about a button like this i just made that is always located bottom
right and has a small animation (rotates 360 on hover).

On Thu, Jun 1, 2017 at 8:45 PM, Raphael Michel <notifications@github.com>
wrote:

--

ησєℓ яσу

[2017-06-01 20:20] raphaelm commented on #445
Hmm, apparently it did not go through. Although, from what you describe, it sounds rather annoying then helpful, you won't need it that often. I think something like this would be more appropriate:
![download](https://cloud.githubusercontent.com/assets/64280/26699011/7751ad64-4718-11e7-9056-8c60d3da7d1e.png)

[2017-06-02 10:47] noelroy commented on #445
Ok. I implemented the same as you showed. Will this do.

Added a go to shop button in top nav bar.
Removed go to shop button from the dashboard.
Added some css to main.scss to make the button of the form look like a link.

​

On Fri, Jun 2, 2017 at 1:50 AM, Raphael Michel <notifications@github.com>
wrote:

--

ησєℓ яσу

[2017-06-02 10:50] raphaelm commented on #445
I don't know. You might want to create a pull request. Email attachments apparently are not supported by GitHub.

[2017-06-02 10:55] noelroy commented on #445
Oh. OK . Thanks for the help. Will do so. Sorry for the trouble I m causing.

On Jun 2, 2017 4:20 PM, "Raphael Michel" <notifications@github.com> wrote:

[2017-06-02 15:42] #454 closed

[2017-06-02 15:47] raphaelm commented on #445
Thank you very much!

[2017-06-02 15:48] #445 closed

[2017-06-04 06:40] AV-room commented on #293
Hey @raphaelm - can I give this one a go? :)

[2017-06-04 09:26] raphaelm commented on #293
Sure, go ahead! :)

[2017-06-04 18:56] td00 opened #514 "Update pretix via WebGUI"
Update the pretix via WebGUI so you don't need shell access.

[2017-06-05 14:02] raphaelm commented on #514
First of all, thanks for the suggestion. I'd also like to have this feature, not only to get updates rolled out more quickly, but even more to be able to easily install plugins. However, there is quite a number of concerns that I have and while I'm always open to discussion, I'm only that much away from closing this as "wontfix".

**Consistency**

Currently, there are two official ways to install

[2017-06-05 14:05] raphaelm commented on #514
Also, for other folks reading this: If you don't want to go through the trouble of updating your own installation, there is always the possibility of using the hosted version running on [pretix.eu](https://pretix.eu) 😉

[2017-06-05 14:32] td00 commented on #514
Following points are not in the right order.

**non-technical persons**

In 1.4.0 you've released a Team Management with IMHO better rights management, so maybe you could create a "updater" role which has the "Update" Button.

**Compatibility**
As pointed out on Twitter, it also could be a alternative to provide web-updater feature only for 1 Version (p.e. only pip installed Versions on Linux host

[2017-06-08 09:29] pc-coholic opened #515 "Add CheckIn-lists"
As discussed over in https://github.com/pretix/pretixdroid/issues/12, it would be nice to have some kind of checkin-lists that can then be used by pretixdroid.

## Concept
As of pretix 1.4, you can get a nice overview of people that have already been checked in (using pretixdroid) by navigating to Orders > Check-ins. You can even filter the list by a single product.

For the future, it might be ni

[2017-06-08 09:36] raphaelm commented on #515
It should probably be more than just a "view", it should be some first-class object that check-ins are attached to. This allows you to have e.g. two check-in lists featuring the same products, for example one for the entry and one for the badges (see e.g. CCC Camp). Then, you can use pretixdroid to scan tickets and every ticket can be scanned exactly once at the entry and once for the badge.

[2017-06-08 09:41] pc-coholic commented on #515
Oh, okay... That is going even further than what I anticipated...

In my mind, I would have kept the "one order position can only be scanned once". For your example that would mean though, that you would need to give every participant two tickets: one entry-ticket and one badge-ticket...

Not to argue - but I feel like allowing to have a single item to be checked in multiple times could cause some

[2017-06-08 09:46] raphaelm commented on #515
Hmm. I think the level of abstraction that I suggested is not that confusing as you have a very powerful metaphor available: It works the same way as if you would print out two lists and check them sepeartely by hand.

(Also, it's what Tito is capable of… :D)

[2017-06-11 13:12] rixx opened #516 "Prevent gaps in plugin list"
flexbox in column direction would be nice, but would kind of destroy ordering.

![2017-06-11-151115_1457x420_scrot](https://user-images.githubusercontent.com/2657547/27011266-6bf96446-4eb8-11e7-8217-95c02774c01c.png)

[2017-06-11 17:06] raphaelm commented on #516
Why don't we do it like in the event dashboard? Does that break for varying heights?

[2017-06-12 01:32] lhhong commented on #35
Hi @raphaelm, is this issue still open?

[2017-06-12 02:03] lhhong commented on #66
It seemed like there are two ways to go about this problem:

1. Fix the bug as stated to make the orders still work when the plugin gets disabled
2. Do not allow users to disable the plugin if there are already payments made

I feel that option 2 seemed to be a better option as it is much easier to fix (correct me if I am wrong as I have not looked at the implementation of plugins), without violat

[2017-06-12 07:34] raphaelm commented on #35
Its assigned to @harshavamsi, but since we haven't heard anything for three months, I guess it isa

[2017-06-12 07:35] raphaelm commented on #66
Yes and no. We can do this, sure, but we can't keep a system administrator from *uninstalling* the plugin globally (i.e. deleting it), at least in case of plugins that ship individually from pretix. So in the end, we probably need *both* option 1 and 2.

[2017-06-12 13:29] rixx opened #517 "Change navpill look in email template editor"
When editing email templates, there are nav pills provided below the i18n input, to switch between edit and preview mode.

To me, they looked like buttons, and I assumed at first that the "Edit" button was meant to save progress. I think this is because normally a very similar looking button is provided at the same relative location (lower right hand corner), and nav pills are normally left-aligne

[2017-06-12 13:31] raphaelm commented on #517
Of something tab-like *above* the input

[2017-06-16 20:04] mfattoru commented on #300
Is this issue still open?
I'm new to the open source community and i would like to understand how  to contribute from now on.

[2017-06-16 20:18] raphaelm commented on #300
Yes, this is still open, if @anusha94 is no longer working on it

[2017-06-17 18:08] rixx opened #521 "Document the cookiecutter template for plugins"
Plugins follow a fairly rigid structure, and a cookiecutter template would reduce set up time when starting a new plugin. (At the moment, I just copy an existing plugin, delete unused files and grep for that plugin's name repeatedly … 😨 )

[2017-06-18 09:59] raphaelm commented on #521
*cough* https://github.com/pretix/pretix-plugin-cookiecutter *cough*

[2017-06-18 10:25] rixx commented on #521
*cough* https://docs.pretix.eu/en/latest/development/api/plugins.html#pluginsetup *cough*

Reopening as documentation issue.

[2017-06-18 12:01] rixx opened #522 "Ordering tickets after payment period"
In my test setup, I ran into this issue:

 - I was within my presale period, but outside my accepted payment period
 - I bought a ticket with a voucher
 - After successful ordering, my order page showed the order status as 'Pending' and notified me, that my chosen payment method (`None` when I used a voucher with price 0, by the way) should have already been completed and could not be accepted any

[2017-06-18 13:45] anusha94 commented on #300
@mfattoru Please take over this issue. Haven't been able to work on this one :(

[2017-06-18 16:32] raphaelm commented on #522
This is somehow what we should have already prevented when we fixed #316. Probably, we should close the shop down completely at the last date of payments to avoid confusion.

[2017-06-18 17:36] raphaelm opened #526 "Webhook API"
pretix should be able to send webhooks to external services e.g. on new orders or payment events.

[2017-06-18 17:43] raphaelm commented on #526
This could also live in a plugin completely :)

[2017-06-19 10:02] raphaelm commented on #521
Fixed as part of https://github.com/pretix/pretix/commit/4b12678fa4c2af31dc0dd47e8ef1503c29d3a1f6 :)

[2017-06-19 11:08] #521 closed

[2017-06-19 11:20] raphaelm commented on #515
pretix has been accepted as a finalist into the [prototype fund](https://prototypefund.de/). If everything goes well, this will be part of the project scope and therefore most likely happen while I'm funded by them (September–February).

[2017-06-19 11:49] pc-coholic commented on #515
That's great news :)

Congrats :)

[2017-06-19 16:46] pc-coholic opened #527 "Typo in Helptext"
Here is a nice and easy one for first time contributors (I think ;-))

https://github.com/pretix/pretix/blob/master/src/pretix/base/models/items.py#L217

allo wit -> allow it

[2017-06-20 12:30] pennylane0815 opened #528 "Make configuration path configurable"
The configuration path /etc/pretix/pretix.cfg seems to be hardcoded.
As I am currently trying to install pretix on FreeBSD, where all user configuration is done in /user/local/etc, I placed the pretix configuration in /usr/local/etc/pretix.
It did not use my configuration until i symlinked /usr/local/etc/pretix to /etc/pretix.
Having a --config flag or similar would greatly enhance that experience

[2017-06-20 14:41] raphaelm commented on #528
A --config flag would be impractical in many situations (we'd somehow need to integrate it into various commands of django), but it would totally merge an option to override the config file location by an environment variable.

[2017-06-21 06:28] tydonk commented on #527
I'll take it if still open.  It's tough but I think I can manage ;)

[2017-06-21 07:50] raphaelm commented on #527
Go ahead @tydonk and let me know if you need help :P

[2017-06-21 13:52] raphaelm opened #529 "Custom prefix for bank transfer references"
It defaults to the slug, but why should it need to be the slug? E.g. in case of a long slug, this might be impractical.

[2017-06-21 13:53] raphaelm commented on #369
Its documented now: https://docs.pretix.eu/en/latest/user/payments/paypal.html

PayPal support assured me there is no better way to do it :cry

[2017-06-21 19:30] tydonk commented on #517
I'd like to give it a try.  I'm running in dev mode but I couldn't find this page, in browser or source code.  Could someone point me in the direction to start?  Thanks

[2017-06-21 22:57] rixx commented on #517
Under Settings > E-Mail > E-Mail content you can edit and preview the templates; that is where my screenshot is from.

The template is at `control/templates/pretixcontrol/event/mail_settings_fragment.html`

[2017-06-22 00:29] tydonk commented on #517
Thanks for the path.  I'm still not sure how to view this in the browser.  When I run the server in development mode and login at `localhost:8000/control/login` it takes me to the dashboard.  How do I view the front end in dev mode?  Sorry for the stupid question, I read through the Dev docs and didn't see an answer.

[2017-06-22 06:15] rixx commented on #517
It's not a stupid question at all! Since this is an event specific setting, you'll need to create a test event from the dashboard. You can use `python make_testdata.py` to generate an event with reasonable settings, products etc configured.

Also, if you see a way to make this clearer in the docs, don't hesitate to put it in a pull request!

[2017-06-22 06:32] tydonk commented on #517
As usual, user error was the issue :) I wasn't logging in as admin@localhost.  Should be good to go now.  Thanks!

[2017-06-22 06:52] tydonk commented on #517
Which do you like better?  IMO with the positioning in the top left, the nav pills look better than the tabs.

Tabs - ![screen shot 2017-06-21 at 11 49 02 pm](https://user-images.githubusercontent.com/13215301/27420821-7f10e5dc-56dc-11e7-986e-0d0f132ae1d3.png)

Pills - ![screen shot 2017-06-21 at 11 49 33 pm](https://user-images.githubusercontent.com/13215301/27420825-81b0b3e4-56dc-11e7-882c-2b163

[2017-06-22 08:36] #527 closed

[2017-06-22 09:04] raphaelm commented on #517
I agree, in your example, the pills look better. I asked for tabs, because something put them right in my face when I wrote this ;)
![2017-06-22-110229_815x273_scrot](https://user-images.githubusercontent.com/64280/27425933-54dba730-573a-11e7-8bba-495f8f22fed5.png)
I think tabs *might* still look better, but it'd require some CSS magic to make their borders merge with the textarea. If you have fun

[2017-06-22 09:09] rixx commented on #517
Hmm, I guess navpills are also more in line with pretix's look in general.

[2017-06-22 17:30] tydonk commented on #517
I'll play with the CSS and try to make the tabs look better

[2017-06-22 22:06] tydonk commented on #517
Is this close to what you had in mind?
![screen shot 2017-06-22 at 2 35 50 pm](https://user-images.githubusercontent.com/13215301/27458091-3c981eb6-575c-11e7-9ab2-a56390520e42.png)

[2017-06-23 14:53] mfattoru commented on #300
I've installed the code on the machine,i got only two warnings in the generation of the test data:
`/Users/mfattoru/Dropbox/GitHub/pretix/env/lib/python3.6/site-packages/django/db/models/fields/__init__.py:1451: RuntimeWarning: DateTimeField Event.date_from received a naive datetime (2018-09-04 17:00:00) while time zone support is active.
  RuntimeWarning)
/Users/mfattoru/Dropbox/GitHub/pretix/env

[2017-06-24 19:04] pc-coholic opened #531 "Placeholders in subjectline are not replaced"
When sending custom mails using ``/control/event/<organizer>/<event>/sendmail/``, the placeholders ({due_date}, {event}, {order}, {order_date}, {order_url}, {invoice_name}, {invoice_company}) are not replaced when placed in the subject line.

[2017-06-24 20:11] pc-coholic opened #532 "Moving multiple elements at the same time screws with PDF-output"
When selecting multiple elements in the PDF-editor and moving them collectively (with the arrow-keys), they will move as expected.

However upon previewing, the moved objects are placed completely at a wrong place.

Saving the whole thing again however (without refreshing; with the fields placed correctly in the editor), and then running a new preview, everything is fine.

This whole thing gets on

[2017-06-25 14:58] raphaelm commented on #300
Create an event, select multiple languages during event creation. Then, click "go to shop"  in the top bar.

[2017-06-26 17:17] raphaelm commented on #517
Yep, that looks good!

[2017-06-27 03:01] Ivan-Rdrgz commented on #475
Hey, just wondering if @parkcl is still working on this issue. If not, I'd really like to give this a shot.

[2017-06-27 06:45] rahmonov commented on #531
Hey, can I be assigned to this?

[2017-06-27 06:51] raphaelm commented on #475
Not sureif @parkcl even started, giving the lack of answer by @efpo

[2017-06-27 06:51] raphaelm commented on #531
Sure, go ahead!

[2017-06-27 20:22] chadapohn commented on #489
Hello, @raphaelm. Can I give this one a try? :)

[2017-06-28 02:18] parkcl commented on #475
I haven't started, was waiting on @efpo  to reply.

[2017-06-28 15:19] raphaelm commented on #489
Hi @chadapohn, let's see if @captaincrunch21 is still working on this?

[2017-06-28 15:20] raphaelm commented on #475
I don't feel @efpo will answer. So if you want to go ahead, @parkcl, you've been first here ;) @Ivan-Rdrgz, maybe you want to look at #528?

[2017-06-28 16:56] #532 closed

[2017-06-28 16:56] raphaelm commented on #532
Thanks a lot! Thats a weird definition inside FabricJS… as soon as something is in a group, its coordinates are then relative to the center of the group…

[2017-06-28 16:57] raphaelm commented on #532
A reset button would be a useful addition, yes, but I think not to editor.fabric.dispose() but to pretix' default layout

[2017-06-28 22:21] parkcl commented on #475
Thanks @raphaelm. I will begin work on it this week :)

[2017-06-29 22:20] Ivan-Rdrgz commented on #475
@raphaelm I just looked at #528 and would really like to fix the issue, although I'm somewhat of a novice. It would be awesome if I could get a short explanation of how I should go about fixing it.

[2017-06-30 09:28] raphaelm commented on #369
There might be a way: https://developer.paypal.com/docs/classic/permissions-service/gs_PermissionsService/

[2017-06-30 13:36] Volcyy commented on #528
Hello!
I'd be interested in this issue, but looking at the [source code of settings.py](https://github.com/pretix/pretix/blob/master/src/pretix/settings.py#L15-L20) it appears that if an environment variable `PRETIX_CONFIG_FILE` is set, it is used instead of the default of `/etc/pretix/pretix.cfg`.

Would a documentation update be needed, mainly in [config.rst](https://github.com/pretix/pretix/blo

[2017-06-30 14:35] raphaelm commented on #528
Oops. You totally caught me. Yep, a documentation update would be what is needed then. :D

[2017-07-01 22:14] aph3rson commented on #102
@raphaelm It looks 1.11 has been merged to master - is this safe to be picked back up?

[2017-07-01 22:20] aph3rson commented on #516
How are these ordered at the moment?

I know I've seen [driveway](https://github.com/jh3y/driveway) used before, but I don't know if that's a hammer-for-a-fly level of overkill.

[2017-07-02 02:36] nmarjanovic opened #535 "An error occured while contacting the SMTP server: [Errno -2] Name or service not known"
Hi,

I got this error when i try to add personal SMTP server. I use last stable docker image build. All was set using your docks (with systemd), and everything is working for now. I tested to add gmail SMTP relay as well, just to be sure if error comes from my personal mail server settings or not.

I will ask as well for pretix docker container root password?

From logs i could grab without root p

[2017-07-02 14:34] raphaelm opened #536 "Release checklist 1.5.0"
- [x] Check translations
- [x] Squash migrations and test them
- [x] Prepare blogpost
- [x] Bump version in ``src/pretix/__init__.py``
- [x] Create git branch
- [x] Create git tag
- [x] Upload PyPI package (sdist and wheel, make sure they are cleanly built)
- [x] Create tag on docker hub
- [x] Check if any official plugins need a release
  - [x] Update sepadebit
- [x] Check if pretixdroid needs a

[2017-07-02 15:42] raphaelm commented on #475
Hi @Ivan-Rdrgz, "unfortunately" someone else noticed that #528 is fixed already :D

[2017-07-02 15:44] raphaelm commented on #102
Ayup, sorry that I forgot about this, too many things at once :(
If you look at the snippet I linked above, you see that it's a custom form field with a custom widget that has a custom renderer. What changed in Django 1.11 is that those renderers do no longer exist and instead, widgets are rendered using templates (which should rather make it easier).

Let me know if I can help you in any way!

[2017-07-02 15:49] raphaelm commented on #516
Currently, this is a standard Bootstrap ``row`` with many many ``<div class="col-md-6 col-sm-12">`` elements. The order is more or less arbitrary (which is a similar problem to #492).

Driveway looks amazing but yes, it seems like a little bit overkill.

As long as the ordering is arbitrary, distributing them to two columns would work fine. But at some point, we'd probably like to have some orderi

[2017-07-02 15:51] #517 closed

[2017-07-02 15:55] raphaelm commented on #535
Did you add the SMTP server in the event settings?
Can you tell me what exactly you entered into the form field "Hostname"?

If you're using a system-wide SMTP server, what's the value of ``host`` in the ``[mail]`` section of pretix.cfg?

Hm? There is none, why would you need it? You can jump into docker as root e.g. with ``docker exec --user root -it pretix.service /bin/bash``

[2017-07-02 15:56] #536 closed

[2017-07-02 16:31] nmarjanovic commented on #535
Hi @raphaelm

1. Yes i wanted to set SMTP on event settings.
2. mail.xxxxxx.com
3. From mail@xxxxxx.com and host host=172.17.0.1

I tested to add other variables about mail server in pretix.cfg, removing same from event setting, thanks to information i have found here: https://docs.pretix.eu/en/latest/admin/config.html#email, didn't help. I tested with postfix on same server, setting SMTP relay, a

[2017-07-02 16:34] td00 opened #537 "Issue while updating pretix"
While updating pretix (Small-scale manual deployment) from Version 1.4.0 to 1.5.0 some pip packages won't install automatically and need to be installed manually.

Otherwise there are errors while migrating to 1.5

``(venv) pip3 install djangoframework``
``(venv) pip3 install django-filter``

fixes the issue for me.

Debian 8 Kernel 3.16.0-4

[2017-07-02 16:40] raphaelm commented on #537
Ouch, thanks, that will probably require a 1.5.1

[2017-07-02 16:42] raphaelm commented on #535
And you are absolutely sure that is correct? You said something about Gmail, why don't you use smtp.gmail.com?

The error mesage basically says you entered the wrong hostname.

[2017-07-02 16:51] nmarjanovic commented on #535
Tested with gmail as well, same error.

[2017-07-02 17:00] raphaelm commented on #535
Sorry, but the error message ist crytal clear that the network connection to the SMTP server is failing :( You can try setting ``host=172.17.0.1`` to ``host=smtp.gmail.com`` if that might be the error (you should get a different one, then), but otherwise, I can't see how this could be a bug in pretix, Sorry.

[2017-07-02 17:00] #535 closed

[2017-07-02 17:08] raphaelm commented on #537
1.5.1 is on PyPI now. Thanks again!

[2017-07-02 17:08] #537 closed

[2017-07-02 19:02] SanketDG opened #538 "pyvenv is deprecated, please use python3 -m venv"
Here https://docs.pretix.eu/en/latest/development/setup.html

See Note 1 https://docs.python.org/3/library/venv.html

[2017-07-03 10:40] danlls commented on #391
Hi @raphaelm, I'm new to this project, would like to have a go at this :D

[2017-07-03 10:42] raphaelm commented on #391
Hi, since @shubh-shetty is not replying, I think it's free. Go ahead, and let me know if you need help!

[2017-07-03 10:52] #528 closed

[2017-07-03 20:28] mfattoru commented on #300
Sorry for the late reply,was really busy during this time.
I was able to find the where to edit the code.
I've found the piece of code to edit and being able to pass the dictionary with different languages to the template.
now i have to access the values inside the dictionary.
For what i understood i need to create a custom filter to access the data inside the templace,considering that i cannot ac

[2017-07-03 21:07] mfattoru commented on #300
I've figured out a way to insert a filter,I've added a new python script to the folder src/pretix/base/templatetags.
this is the final result i get from it.

![screenshot-20170703160239-1188x320](https://user-images.githubusercontent.com/20736338/27807895-9a9dca3c-6009-11e7-80e1-14befedb9f6b.png)

considering i'm new to this,what i'm supposed to do now?

[2017-07-03 23:04] Joepriesto commented on #35
Hi I am currently looking at this, but don't want to claim it yet. I just want to know whether you would accept the location field becoming a fully fledged set of address fields e.g. Street, Street2, City, Zip/Post Code, Country in order to implement this? It's the only way I can see this working.

[2017-07-04 07:26] raphaelm commented on #35
Hi, nope, I don't want the location field to grow like this. If that's the only way to encode the location, we should fall back to only encode the date, time and event name for now, I guess

[2017-07-04 14:33] pc-coholic opened #541 "Allow to delete Waiting list entries"
Nothing special - just a delete-button next to every entry in the waiting list overview.

While silently deleting someone from the waiting list is not nice, it might be a useful feature for admins wanting to clean up: For example delete entries that have been added as a result of testing the waiting list.

[2017-07-04 15:11] raphaelm commented on #541
Good idea!

[2017-07-04 15:17] raphaelm commented on #300
Hi,

I'm not really sure why you think you need a filter. You could just do the following:
[code]
and then change the iteration in the template to
[code]
That would be clearer to read, I guess.

But yes, the end result is the correct one.

[2017-07-04 15:19] raphaelm commented on #538
Good point. Would you like to create a pull request to change the tutorial?

[2017-07-04 16:21] SanketDG commented on #538
Yeah sure, I'll send in a PR

[2017-07-04 21:09] mfattoru commented on #300
should i change the code in the way you you did it? so not using the filter?
I always thought that is better to put the logic in python scripts and leave the templates as clean as possible,but still i'm way far from being an expert of Django,it's just what they recommended me.
Any tips is really appreciated.
Thank You

[2017-07-04 22:43] Joepriesto commented on #35
According to [Google events microdata](https://developers.google.com/search/docs/data-types/events) guide location.address is required. But for that we could probably get away with addressLocality, Region and Country.
Do you have any example data, real user location strings, I could test with?
Also, can I claim this one? Thanks

[2017-07-05 07:14] raphaelm commented on #35
Unfortunately, the field is used very differently. I've seen full adresses, cities only, building names only – and many events do not fill it at all. I'm not really sure how we should handle this, tbh. THis also depends on what Google does if the property is missing… ignore the data altogether or do something useful still. Can you find any information on that?

Sure!

[2017-07-05 07:37] raphaelm commented on #300
You are right. However, the filter is also sub-optimal design, since it makes the flow of code harder to understand, because it goes "Python → Template → Python" without necessity. Then, what do you think of the following:

[code]
and then just iterate over this variable in the template.

[2017-07-05 13:39] mfattoru commented on #300
I like the last implementation

[2017-07-05 13:44] raphaelm commented on #300
perfect, then we are on the same page :D Go ahead and create a pull request with it, if you like :)

[2017-07-05 13:45] raphaelm commented on #300
Ah, bonus points if you use https://docs.djangoproject.com/en/1.11/topics/i18n/translation/#get-language-info-list or https://docs.djangoproject.com/en/1.11/topics/i18n/translation/#django.utils.translation.get_language_info to display the names of a language *in* the language (e.g. "Deutsch" instead of "German"). But that's not absolutely required for now

[2017-07-05 14:56] mfattoru commented on #300
I've completed it and created a the pull request.

[2017-07-05 19:28] danlls commented on #541
May I work on this? :D

[2017-07-06 07:07] raphaelm commented on #541
Sure, go ahead! :)

[2017-07-06 07:09] raphaelm opened #543 "Allow to send email from order"
Currently, we can send emails automatically (e.g. on payment) or to many buyers at once (via the sendmail plugin). However, it would also be very useful to send emails directly to one buyer.

This could be a new button in the backend's order detail view, e.g. next to the "mark as paid" or "refund order" buttons, or next to the "change email address" button. The button would take you to a new page

[2017-07-06 07:13] #300 closed

[2017-07-06 09:59] #391 closed

[2017-07-07 10:53] pc-coholic opened #545 "Ticket layout in editor does not match output"
OK... This one might be a bigger one, potentially causing some headaches ;-)

I noticed, that the layout done in the visual editor does not always yield exactly the same output on the PDF: the positions of the items are just not the same.

I can't really put my finger on it, but I have a feeling, the larger the font-size, the more the editor-placement and the real placement diverge.

Attached are

[2017-07-07 12:08] raphaelm commented on #545
Since it's two completely different rendering engines (your browser and reportlab), *some* differences are expected, though it shouldn't be that major

[2017-07-07 12:09] raphaelm commented on #545
Also, can you have the instance upgraded to 1.5 and share the now-copyable JSON source of the design here?

[2017-07-08 12:49] pc-coholic commented on #545
Sure :-)

`[{"type":"textarea","left":"55.00","bottom":"175.00","fontsize":"20.0","color":[0,0,0,1],"fontfamily":"Roboto","bold":true,"italic":false,"width":"142.57","content":"itemvar","text":"Sample product – sample variation","align":"left"},{"type":"textarea","left":"172.00","bottom":"28.00","fontsize":"10.0","color":[0,0,0,1],"fontfamily":"Roboto","bold":false,"italic":false,"width":"30.00","

[2017-07-09 13:19] #541 closed

[2017-07-09 18:52] SanketDG commented on #293
Hi, I have been [working](https://github.com/SanketDG/pretix/commit/23ea414dac56f4bd11eb38d4532cfff65a2a6986) on this issue, and I haven't been able to figure out how to send the email.

It would be of great help if you can guide me through it. :smile:

[2017-07-09 19:51] danlls commented on #543
I'll work on this :)

[2017-07-10 11:40] pc-coholic opened #547 "CVC for Stripe-payments is limited to 3 chars"
When using the inline-form to process Stripe-payments, there is a tiny issue with the CVC:

While most CC-companies agreed on 3 digits for the CVC, Amex has to roll their own way and actually sets their CVCs to 4 digits.

Right now, the form will not allow the user to enter that 4th digit.

IIRC, right now pretix is using the v2-API... This problem could probably be solved by either upgrading to v

[2017-07-10 11:43] raphaelm commented on #547
Good point. Quick fix: Change the Stripe UI to "Stripe Checkout" in the settings to switch to a interface by stripe itself

[2017-07-10 11:45] raphaelm commented on #547
The stripe integration will change for #407 anyways

[2017-07-10 11:47] raphaelm commented on #293
Hi @SanketDG, can you phrase your question a bit more specifically? I already see a call to mail() in your code so I'm not sure from the top of my head where the problem is

[2017-07-10 11:50] pc-coholic opened #548 "Allow products to be excluded from ticket-generation - 2nd incarnation"
Sorry for warming up #456 again...

I was actually happy with the solution we went with, as it looked good in theory. But in practice, it's not as good...

As it turns out, the "is Admission"-property is used in the Dashboard-tiles "Attendees (ordered)" and "Attendees (payed)".

So right now, we can either choose to
- screw up the numbers in the statistics by declaring non-admission products like

[2017-07-10 11:59] pc-coholic opened #549 "Allow multiple ticket-designs"
Sorry for posting so much stuff today ;-) Here is another item that is probably in the "big ideas"-section ;-)

I think, it would be a nice feature for the long-term future, to have multiple ticket-designs that can be attributed to different items: Admission-tickets will probably need to have different stuff on them than (for example) parking-tickets where you want people to fill in their contact

[2017-07-10 18:28] SanketDG commented on #293
oops sorry about that

The things is I just copied the previous function `send_expiry_warning`, and renamed it, I haven't changed basically anything inside the functions, so if I could understand what the `send_expiry_warning` is doing, that'd be great.

[2017-07-10 19:37] #547 closed

[2017-07-10 20:04] SanketDG commented on #293
Hi, I have updated the [commit](https://github.com/SanketDG/pretix/commit/0b7647c9fd30c0e3bfd06e2787a5c1f75de37ef6), and although it is mostly complete, I am still confused about [this line](https://github.com/pretix/pretix/blob/master/src/pretix/base/services/orders.py#L461). Assuming it is indeed returning an integer, what exactly does it return?

[2017-07-10 20:11] AV-room commented on #293
I am also working on this - should I stop and find something else to do?

[2017-07-11 09:13] raphaelm commented on #53
Oops, we have that now :)

[2017-07-11 09:13] #53 closed

[2017-07-11 09:24] raphaelm commented on #293
Hi @AV-room, you've been here first, so if you're planning to submit a PR, I won't hold you back, @SanketDG didn't asked first (but I also didn't hold him back since I haven't heard from you here for a month) ;)

So, @AV-room, if you're nearly done with this, feel free to submit a PR; but if you haven't really started, letz @SanketDG finish their work. Unfortunately, we're a bit low on easy issues

[2017-07-11 16:18] AV-room commented on #293
No worries. I have been looking at this issue periodically and had a
solution mapped out, but looks like @SanketDG is much further along than I
am. I'll try to find something else.

On 11 Jul. 2017 2:24 am, "Raphael Michel" <notifications@github.com> wrote:

[2017-07-12 05:30] danlls commented on #516
Depends on browser support requirement, using flexbox can fix this problem, but IE<10 doesn't support flexbox.
See http://caniuse.com/#feat=flexbox to see full list of browser support

Without flexbox:
![beforeflex](https://user-images.githubusercontent.com/28383090/28103012-e1be0d98-6705-11e7-89a3-ce6fd047196b.png)

Using flexbox:
![afterflex](https://user-images.githubusercontent.com/28383090/28

[2017-07-12 05:41] rixx commented on #516
pretix is already using flexbox in other places, so I don't think compatibility is an issue.

[2017-07-12 07:40] raphaelm commented on #516
Yes, I believe in this place flexbox is fine. Would you like to create a PR?

[2017-07-12 07:41] SanketDG commented on #293
Thanks! I also saw the last comment's timestamp, and assumed that it's okay to go on with this.

I'll be careful in the future, though!

[2017-07-12 08:49] danlls commented on #516
Alright, I'll submit a PR for this.

[2017-07-12 11:21] raphaelm commented on #99
See also https://stripe.com/docs/currencies#zero-decimal

[2017-07-12 14:43] #407 closed

[2017-07-12 15:30] #516 closed

[2017-07-13 09:25] h01ger commented on #300
On Thu, Jul 06, 2017 at 12:14:00AM -0700, Raphael Michel wrote:

many thanks to everyone involved in fixing this!

:)

--
cheers,
	Holger

[2017-07-14 06:08] danlls opened #552 "Add icons to expansible panels"
Currently, expansible panels headers has the same style as the non-expansible except having strong text. It could mislead users thinking it is just a normal header.

Suggestion:
-  `fa-angle-down` icon can be used as indication
![panel-collapsed](https://user-images.githubusercontent.com/28383090/28199910-a30f6c44-689b-11e7-8c95-f2beca8dbd5d.png)

- rotated when expanded
![panel-expanded](https://

[2017-07-14 07:34] raphaelm commented on #552
Sounds great! Do you want to create a pull request yourself?

(There is the other topic of expanding it automatically whenever there is a form error inside it. checkout_questions does it, but mail_setting_fragment and payment do not, and I'm not sure what a good way to do this might be)

[2017-07-14 08:04] pc-coholic opened #553 "Order items in order overview as in Ticket-Shop"
The items within the categories in the order overview (`/control/event/<org>/<event>/orders/overview/`) seems to be ordered quite randomly.

Perhaps we can have the list ordered in the same way as they have been set up to be displayed in the shop.

[2017-07-14 08:22] #553 closed

[2017-07-14 08:43] pc-coholic opened #555 "Preselect Addons if they have to be bought"
Using AddOns, we can already force a customer to buy an AddOn...

Even though this specific usecase might be outdated when CheckIn-lists arrive (#515), this could be used (for example) to give users a second ticket for swag-redemption (badges, T-Shirts, etc.).

`if (minAddons == maxAddons) && num(AddOns) == (minAddons || maxAddons)`, I would propose to either skip the AddOns-page completely and si

[2017-07-14 08:50] rixx commented on #555
Maybe we should present the page as an information ("Your choice of <foo> comes with <bar>.") instead.

[2017-07-14 09:34] pc-coholic opened #556 "Voucher not being counted correctly"
In the voucher by tag overview, the number sometimes just don't add up ;-)

![image](https://user-images.githubusercontent.com/654548/28206928-1c7ff030-6888-11e7-8891-14e5c794e730.png)

So the progressbar is showing nothing, because it's class is set to 200%. Okay, that's kinda expected to not work ;-)

Explanation for the numbers:
- 2: Two vouchers are created with this tag
- 4: Those two voucher

[2017-07-14 09:41] raphaelm commented on #556
We should probably show redemptions, not vouchers.
(This view is older than multi-use vouchers, so …)

[2017-07-14 09:46] raphaelm commented on #555
We'd somehow need to already add it to the cart when the base product is added to the cart, in which case the user already sees it before coming to the addon page. Also, it makes CartManager even more complicated (but it certainly is possible).

The problem (which is a general problem with the ``min_count`` field, even without this feature) is that it's easy to shoot yourself in the foot if the ad

[2017-07-14 09:47] pc-coholic opened #557 "metisMenu.min.css not in Cache"
I tried to fix that one myself - but I can't get quite the gist of the caching-system... ;-)

On every pretix-instance I have seen so far (including pretix.eu), metisMenu.min.css is 404ing...

Expected locations seems to be `/static/CACHE/css/metisMenu.min.css` - but it actually is in `/static/pretixcontrol/css/metisMenu.min.css`

[2017-07-14 10:03] raphaelm commented on #557
You are right but… if that's 404ing everywhere and missing for years then… I guess we can just delete it? I'll look into that.

[2017-07-14 10:11] #557 closed

[2017-07-14 10:11] #556 closed

[2017-07-14 10:39] rixx commented on #555
Well, we could put the information about the addon product on an intermediary page (as it is now), and just hide the form? The backend would keep on validating the choices, and UI wise it's only a *bit* clumsy to have a separate page tell you about included options. This way it's more or less only a presentation fix.

[2017-07-14 12:39] raphaelm commented on #555
Well, the easiest way would be to just preselect the checkbox. That would be a no-brainer to merge ;)

[2017-07-14 16:46] danlls commented on #552
Yeah, I'll work on this.

The last time I tried, the forms in `checkout_questions` doesn't expand upon error. It display error messages only when the panel is not collapsed. Maybe you meant the invoice panel will expand if it is set as required instead of optional. I have no good way to do this atm, gotta research.

[2017-07-16 14:18] raphaelm commented on #552
Hmm, ok. You can also leave the error handling part to me or for a separate PR and get started with the symbol first, it is helpful in itself already.

[2017-07-17 10:29] #552 closed

[2017-07-18 09:15] #491 closed

[2017-07-18 09:31] raphaelm commented on #496
Problem: Partial payments?

[2017-07-18 09:33] #35 closed

[2017-07-18 09:45] #543 closed

[2017-07-18 13:19] danlls opened #565 "Ordering caret not working in orders page"
URLs are correctly generated but `ordering` get requests handling is missed out in OrderList `get_queryset` method.

![orderingcaret](https://user-images.githubusercontent.com/28383090/28318730-62cd1f80-6bfe-11e7-86fc-83a311af017f.png)

[2017-07-18 14:16] #565 closed

[2017-07-19 06:13] SanketDG opened #568 "No documentation for expiry_reminder_sent in src/pretix/base/models/orders.py"
Documentation is not present in docstring

[2017-07-19 09:02] #130 closed

[2017-07-20 03:25] danlls opened #569 "Includes other email to order-specific email history"
As mentioned in https://github.com/pretix/pretix/pull/550#pullrequestreview-49534315 , it would be useful to add other order-specific emails to email history (e.g. expiry_warning, order_paid, ..)

Todo:
- Some emails are currently sent without being logged such as `mark_order_paid`, `_cancel_order`. Add logs  when email is sent.
- Currently, email logs are inconsistent in naming such as `pretix.pl

[2017-07-23 10:41] raphaelm commented on #429
This is fixed, in 1.5.x the callback URLs will be event-independent (see 5f529817 and 1d2d9d8b)

However, we strongly recommend keeping the webhooks for past events in place as long as you want to receive events fro them, since only events for payments created with 1.5.x will be properly recognized by the new URL.

[2017-07-23 10:41] #429 closed

[2017-07-24 07:33] raphaelm opened #571 "Partial payments and refunds"

[2017-07-25 18:51] rixx opened #572 "Show Team Permissions on Team site"
When looking at a team site, I have to go to the edit mode to see the actual permissions associated with this team. This is especially annoying when I'm trying to compare permissions. A list of permissions granted to this team would go a long way to make this page more usable.

[2017-07-25 18:53] raphaelm commented on #572
Very good point!

[2017-07-26 07:00] danlls commented on #406
I can work on this. Since the ordering should persist, should I create a new column in `WaitingListEntry` that specific the priority of each entry?

[2017-07-26 07:54] raphaelm commented on #406
Hi, yes, that would be required.

[2017-07-26 10:54] danlls commented on #406
Should this function be limited to only those entry without voucher yet?

[2017-07-26 10:59] raphaelm commented on #406
Yes.

Also, having up/down buttons like in the category/item list might be really cumbersome if you have many many entries. Normally, you probably only want to move important people up. So it might be worth considering actually allowing the user to edit the priority field directly instead of hiding it.

[2017-07-26 11:05] danlls commented on #406
How about instead of letting them edit, having an additional button which send an entry to the topmost? Because wouldn't editing the number directly be cumbersome too if the list is huge?

[2017-07-26 11:11] raphaelm commented on #406
I also thought about the button to set it to the top, but that gives really little flexibility.

The thing with editing the number directly is that one wouldn't need to fill in "1,2,3,4,5,6…" you could just use it as a real priority field like "1000 for the people I like best, 100 for some other people, 1 for the rest" and keep the natural order (date) within the ones with same priority. We could

[2017-07-26 11:33] danlls commented on #406
Alright! I guess allowing them to fill in arbitrary numbers would maximize flexibility. They can use it in all variation: "1,2,3,4,5,6, ..." or grouped like "1000, 100, 10, 1" or mix grouping and individual "1, 10, 100, 101, 1000".

[2017-07-26 11:35] raphaelm commented on #406
Yep, I think that's good

[2017-07-26 11:41] #475 closed

[2017-07-26 20:47] pc-coholic opened #573 "Position-Count in Organizer-search is sometimes off"
I have seen this issue already two or three times, but never wrote down the order-number... But now I remembered ;-)

![image](https://user-images.githubusercontent.com/654548/28642803-eaa9c074-7253-11e7-8de5-66d763277d46.png)

But curious thing: The order actually only contains 3 items...

I can't put my finger on it why the count is wrong - especially since the count in the regular event-search

[2017-07-27 01:54] danlls commented on #573
This is fixed in https://github.com/pretix/pretix/commit/335955820be54ab609448bec73b6c2691edd5ebb

Log-entry "The order details have been modified." happens when the payee modify the order. I've reproduced this problem by simply creating a brand new order with multiple purchases (doesn't happen when it is only 1 item purchased).

Hence, I believe it is not caused by both global order search / orde

[2017-07-27 07:09] raphaelm commented on #573
Yep, as @danlls pointed out, the issue is fixed in the next release and it is not related to the log entries.

It is rather related to the fact that the search also searches in attendee names and (new) invoice numbers, which are 1:n relations to the order. This leads to weirdly large result sets on SQL level and here the fun begins.

[2017-07-27 07:09] #573 closed

[2017-07-28 02:20] #569 closed

[2017-07-29 13:56] raphaelm opened #574 "Add help texts to questions"
When creating a question, it should optionally be possible to insert a help text that explains the question in more detail. This requires a new model field on the ``Question`` model that is then added to the respective forms.

Also, the auto-generated form fields during checkout should then use that as their help text.

If someone wants to take this on, let me know if help is needed, I'll gladly p

[2017-07-29 15:31] rixx opened #576 "Render linebreaks in payment info in HTML email"
When rendering payment information in HTML emails, line breaks are swallowed. Works fine in text mals (and regular front end display, of course).

[2017-07-29 16:01] rixx opened #578 "Add a hook to validate voucher format"
Ok, so this may be overengineering things, but bear with me:

Event organizers may want their vouchers to be formatted in a certain way, e.g. always numerical, or without a 0/O, or of a specific length. It would be really cool to have a plugin hook for voucher name validation there, to enforce those rules.

[2017-07-30 17:33] raphaelm commented on #576
Yep, that's a side-effect of using Markdown there since markdown ignores single linebreaks. I'm unsure what the best fix is.

[2017-07-30 17:35] raphaelm opened #580 "Release checklist 1.6.0"
- [x] Check translations
- [x] Squash migrations and test them
- [x] Prepare blogpost
- [x] Bump version in ``src/pretix/__init__.py``
- [x] Check that dependencies in setup.py match requirements.txt
- [x] Create git branch
- [x] Create git tag
- [x] Upload PyPI package (sdist and wheel, make sure they are cleanly built)
- [x] Create tag on docker hub
- [x] Check if any official plugins need a rel

[2017-07-30 17:36] rixx commented on #576
Maybe just rendering markdown isn't the best idea then? Because adding in blank lines would look fairly stupid in plain text mails … The quick'n'dirty workaround is making the payment information an unordered list, I guess.

[2017-07-30 18:52] #580 closed

[2017-07-31 08:54] #574 closed

[2017-07-31 08:56] raphaelm commented on #576
Dropping markdown is one option, changing its rendering of linebreaks in this place is another. Displaying the payment information as a code block in the markdown would work as well... I'll think harder…

[2017-07-31 15:55] codingcatgirl opened #582 "Setting an organizer domain to the main pretix host breaks access to the control panel"
I guess this should just not be allowed?

[2017-07-31 16:00] nomoketo opened #583 "The [django] hosts config option is not implemented"
It's documented [here](https://docs.pretix.eu/en/latest/admin/config.html#django-settings) but not implemented [here](https://github.com/pretix/pretix/blob/master/src/pretix/settings.py#L100). It should not be documented or be implemented.

[2017-07-31 16:34] raphaelm commented on #583
It should no longer be documented. Thanks!

[2017-07-31 16:34] raphaelm commented on #582
Yep, that should not be allowed. We could just add a form validation in there and hope that sysadmins are sensible if they change the main host name.

[2017-07-31 21:00] raphaelm opened #584 "Write a comprehensive user guide"
- [x] Organizer accounts
    - [x] Teams
- [ ] Creating an event
    - [ ] Event series
- [ ] Configuring an event
    - [ ] Payment
    - [ ] Plugins
    - [ ] Display
    - [ ] Tickets
    - [ ] E-Mail
    - [ ] Invoicing
- [ ] Managing products
    - [ ] Creating a product
    - [ ] Quotas
    - [ ] Categories
    - [ ] Questions
- [ ] Managing orders
    - [ ] View
    - [ ] Transform, Change

[2017-07-31 21:02] #583 closed

[2017-08-01 14:14] nomoketo opened #585 "When creating an invoice after an order has been refunded, the invoice is not zero and can not be canceled"
So you're left with an invoice that is not correct, was maybe just created for testing, and cannot be canceled.

[2017-08-01 14:41] nomoketo opened #586 "The orders subnavigation is not unfolded when in order detail view."
It seems to me like it would be a good convenient if it was unfolded.

[2017-08-01 17:22] rixx commented on #585
Imo correct behaviour would to forbid creating invoices for refunded orders. (Alternatively, cancelling them should of course be allowed.)

[2017-08-01 18:39] raphaelm commented on #585
IMO correct behaviour could also be to create an invoice and a cancellation at the same time, such that formal documentation for the order can be generated

[2017-08-03 08:21] danlls commented on #387
I can work on this. I suggest that the graph should show statistic from event start_date until today instead of going from the earliest order until latest order. This would show how the sales is performing throughout the entire event timeline.

[2017-08-03 08:31] danlls commented on #388
The bullets can be easily removed by setting `pointSize: 0`, IMHO, I think having each day as data point is fine if the bullet isn't there.

As I've suggested in https://github.com/pretix/pretix/issues/387#issuecomment-319902137, it would be nice to show results from event `start_date` to `now` for revenue as well.

I can fix this too, let me know what you think! 😄

[2017-08-03 16:20] rixx commented on #388
Not having bullets is probably the best thing to do, :+1:

[2017-08-05 21:23] pc-coholic opened #590 "Combined Ticket-PDFs are not invalidated when rotating secrets"
When rotating secrets, the corresponding ticket-PDFs in cache are invalidated and generated from scratch when a new download is requested.

However the combined PDF with all tickets is not invalidated and keeps getting served - old secrets and all.

[2017-08-05 21:28] pc-coholic commented on #590
Fix is probably as easy as importing CachedCombinedTicket and adding
`CachedCombinedTicket.objects.filter(order=self.order).delete()` in line https://github.com/pretix/pretix/blob/master/src/pretix/control/views/orders.py#L581

[2017-08-07 14:15] #293 closed

[2017-08-07 16:25] raphaelm commented on #387
Wonderful, go ahead!

Unsure. ``Event.date_from`` does not make sense to use since its the day the event happens, not the day the sale starts. ``Event.presale_start`` is hard to use here, since it is optional (and not even really recommended) to set. Therefore, starting at the first order is a bad idea.

Going until today is also impractical, since for example I currently often look at the statist

[2017-08-07 16:28] raphaelm commented on #388
I'm not happy with having the revenue chart behave differently than the order chart. I believe there should be one fat switch between "daily/weekly/monthly" or and maybe even a time slicer "date from/to" on top of the statistics page that should affect *all* statistics. Deciding for or against the bullet point could then be done based on the number of data points (because I think the bullet is rea

[2017-08-07 16:28] #388 closed

[2017-08-07 16:30] raphaelm commented on #531
Hi @rahmonov, did you already have time to take a look at this? :)

[2017-08-07 16:31] raphaelm commented on #489
@chadapohn if you're still interested, I think it would be free…

[2017-08-07 16:34] #590 closed

[2017-08-07 17:53] sambit-m commented on #489
Hey @raphaelm! I'm a first timer and want to fix the issue. I'm going to read the developer documentation.

[2017-08-07 20:29] RincewindWizzard opened #591 "SQL Error after upgrade from 1.3.0 to 1.6.0 in orders view"
After upgrading my pretix instance I cannot view my orders for my event in the admin panel.
It fails with following error:

with following stack trace:

    django.db.utils.OperationalError: (1055, "Expression #22 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'pretix.pretixbase_invoiceaddress.id' which is not functionally dependent on columns in GROUP BY clause; this i

[2017-08-07 21:06] RincewindWizzard commented on #591
You can fix this error by excecuting following SQL statement:

    SET GLOBAL sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''));

via [Stackoverflow](https://stackoverflow.com/questions/23921117/disable-only-full-group-by)

[2017-08-07 21:12] raphaelm commented on #591
Good to know. Is it enough if you execute that once (as in: does it work for you now) or would that need to be executed in every connection?

I'm wondering why my MySQL installations are not running into the issue, what MySQL version do you run?

However, that query will change in 1.7 again an, so I will look out for this.

[2017-08-08 08:05] debugduck commented on #450
I know you've already played around with this, but I'd like to give it a try too, if you haven't already decided to change it?

[2017-08-08 08:10] raphaelm commented on #450
Well, I have decided that it should be changed, but I'm not happy with my color proposals yet. Feel free to come up with new ones, I'd be more than happy!

[2017-08-08 12:30] rahmonov commented on #531
@raphaelm hey, I am sorry but I haven't had a chance. I should have informed earlier. Sorry once again. Please, remove the assigned label so that another person can fix this issue. Apologies.

[2017-08-08 19:19] #576 closed

[2017-08-09 17:43] danlls commented on #387
👍 Exactly what I planned to do.

[2017-08-09 22:05] SanketDG commented on #531
Can I take this up?

[2017-08-10 13:21] raphaelm commented on #531
@SanketDG Sure!

[2017-08-11 08:53] rixx opened #593 "Provide settings <legend> headings with id attributes"
The pretix settings are fairly extensive and on some pages, you have to scroll quite a bit to reach the setting you are looking for. Formatting the headings like this:

    <legend id="waiting-list">{% trans "Waiting list" %}</legend>

would allow to refer to a specific heading by the `#waiting-list` fragment at the end of a URL.

[2017-08-12 04:25] SanketDG commented on #593
Hi, interested in taking this up.

Instead of going the manual terse way of editing each html file, how about using a custom template tag to generate the whole `<legend>...</legend>`? I would pass the name, which would be slugified in the `id` attribute.

[2017-08-12 04:35] SanketDG commented on #531
Hi, due to the limited capabilities of testing locally, I am not able to replicate this. Can I get some help on this?

[2017-08-12 08:59] raphaelm commented on #531
Hi, in what way can you not test this locally? You just need to somehow create an order, then you should be able to try this out. There is a note in the developer docs regarding sending emails locally without actually sending them. Let me know if you need more help, though I am on vacation for a week from today and will answer slowly. :)

[2017-08-12 11:22] raphaelm commented on #593
@SanketDG Sure, go ahead. I'm not sure if a custom template tag is worth it, since it *still* involves editing all HTML files manually and inserting the ``id=""`` attribute does not make the code that much more maintainable. But there are also more downsines to automatic sluggifying: (a) The slugs should if possible never change, even if the text changes in the future and (b) The slugs should be a

[2017-08-12 11:47] RincewindWizzard commented on #591
The MySQL server version is "5.7.19-0ubuntu0.16.04.1 - (Ubuntu)".
I executed the above once and had no error since.

[2017-08-14 18:02] nafur opened #595 "UnicodeDecodeError when exporting all invoices"
We have a pretix 1.5.1 instance and when we try to export all invoices the page tells me `An unexpected error has occured.`
The error log shows the following:
`pretix.base.async async Unexpected exception: UnicodeDecodeError('ascii', b'%PDF-1.4` followed by a big bunch of binary data...

I already went through our orders and removed some of the more obscure special characters, but still could not

[2017-08-16 09:49] danlls commented on #387
Regarding custom time slice, slicing daily data is pretty straightforward. However, for weekly/monthly should user slices based on week/month? `eg. Week 1 to Week 5`, `May to September`? Or simply slicing using specific start_date and end_date similarly to orders by day?

[2017-08-20 09:31] raphaelm commented on #595
Hi! Yes, this is fixed in pretix 1.6 (commit 9bf9dca88aee6af3f500bd50e3c9178b0628d6ea to be specific, if you would want to apply a patch manually).

[2017-08-20 09:31] #595 closed

[2017-08-21 11:15] raphaelm opened #598 "Better password strength validation"
* We want to use [zxcvbn](https://github.com/dropbox/zxcvbn) to estimate password strength reasonably
* We want to display visual feedback on the password strengh while creating accounts or changing passwords.

It might be worth checking if https://pypi.python.org/pypi/django-zxcvbn-password/ is a good way to achieve this.

[2017-08-21 12:48] sylvinus opened #599 "API to buy tickets"
Hello,

I was happy to see the new REST API!

I'm going to need to be able to buy tickets via the API. (Payment would not go through Pretix but I'd still need to create orders in Pretix & mark them as paid).

I'm planning to implement it in the next few days and will submit a PR if there's any interest here. Regardless, it would be very helpful to have feedback on my implementation plan:

1. Add 2

[2017-08-21 15:56] raphaelm commented on #599
Hi @sylvinus!

You just chose the single most complicated feature imaginable to build for the API as a starter. Don't get me wrong, I'd **love** to see this feature and I'd love to get such a pull request, but it will be quite an effort to polish that well enough. I would strongly suggest to implement the "mark order paid" API call first and the order creation second, just because it is a lot easi

[2017-08-21 15:57] raphaelm commented on #387
I think both would be fine, choose what's easier to implement :)

[2017-08-21 16:03] raphaelm commented on #591
Okay, since this appears to be a default setting in mysql 5.7.5+ we should maybe fix this nevertheless. In MariaDB it apparently is not.

[2017-08-22 11:55] sylvinus commented on #599
Thanks a lot @raphaelm for the pointers!! Very helpful.

Doing a PR fully compatible with all the features of Pretix indeed seems very complicated. My usecase is much narrower as I'm not using all the features so there are many shortcuts I can take. I'm still happy sharing the experience here, it might help implementing the full-blown API in the future, and hopefully have a nice public showcase of

[2017-08-22 22:26] johnjohndoe opened #600 "Mention event title in download file names (pkpass, pdf)"
# Current status
- Download files for do not mention the title of the event in the their name, e.g. `2017-ABCDE-1-passbook.pkpass`, `2017-ABCDE-1-pdf.pdf`

# Proposed change
- Prefix the file name with the title of the event, e.g. `MRMCD-2017-ABCDE-1-passbook.pkpass`, `MRMCD-2017-ABCDE-1-pdf.pdf`

[2017-08-23 06:56] raphaelm commented on #600
Welps, the thing is, that the ``2017`` in this case is the event title. It's therefore more of a "mis"configuration issue than a code problem. :wink:

[2017-08-23 06:56] #600 closed

[2017-08-23 20:50] rixx opened #601 "Provide a setter for OrderPosition.meta_info_data"
… I might have just tried to set `meta_info_data` twice before looking it up. m)

[2017-08-24 12:33] kunalkakade commented on #598
Hi , I am interested in this . This is my first time for contributing to opensource project . I will do my best.

[2017-08-24 12:36] raphaelm commented on #598
Yay! :) Be sure to let me know if you need help!

[2017-08-24 18:34] kunalkakade commented on #598
yes for sure. I cloned the project on local machine but got an error during  template rendering.

`Environment:

Request Method: GET
Request URL: http://localhost:8000/control/login?next=/control/

Django Version: 1.11.4
Python Version: 3.5.4
Installed Applications:
['django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.messages',
 'django.contrib.stat

[2017-08-25 13:59] raphaelm commented on #598
Uhm, I haven't seen this one before. Can you try to see if ``python manage.py collectstatic --noinput`` and ``python manage.py compress`` can help`

[2017-08-25 15:00] kunalkakade commented on #598
error while running  `python manage.py compress` :-
`CommandError: An error occurred during rendering D:\opensoure\pretix\src\pretix\control\templates\pretixcontrol\global_settings.html: __init__() got an unexpected keyword argument 'charset'
`

[2017-08-26 22:34] johnjohndoe opened #604 "Product - Check-in - Missing German translation"
I configured German as the language for the user interface. I noticed that at the end of a **Product** page the **Check-in** section is not translated as shown in the screenshot:

![image](https://user-images.githubusercontent.com/144518/29745581-16df3ef2-8abf-11e7-973a-ad59631b4878.png)

[2017-08-26 22:51] johnjohndoe opened #605 "Logo image per language"
I noticed that the logo image can only be uploaded once. Given the event is configured for multiple languages such as German and English it would be convenient to be able to upload an image per language. This is useful if the logo image contains text which should be localized.

[2017-08-26 23:46] johnjohndoe opened #606 "UnexpectedResponseException: Unexpected server response (0) while retrieving PDF"
I successfully customized the ticket background using Chromium v.60.
Later I came back to update the background PDF. When I open the **PDF editor** in a new tab the following error is output:

The editor does not stop `loading...`

The browser console outputs:

I cannot reset the background PDF to the default.

[2017-08-26 23:51] johnjohndoe opened #607 "Render release version"
When users file issues it might be valuable for you to know the **software version** which they are using to analyze the source of the problem. Therefore, please render the release version both in the **website** and in the **administration backend**.

[2017-08-27 07:24] rixx commented on #607
I can see that this would be useful for the administrator, but I cannot imagine that it would be terribly useful or pretty in the frontend.

[2017-08-27 07:27] rixx commented on #606
It appears you have not set `SITE_URL` to your domain.

[2017-08-27 07:37] johnjohndoe commented on #606
I am using an instance hosted by you. Where would I set this variable?

[2017-08-27 07:39] rixx commented on #606
Ahh, I should have written "your administrator" instead of "you", sorry.

[2017-08-27 07:42] raphaelm commented on #604
This is just the case because the feature was added to master yesterday and I only add in translations every few days in batch and before releases -- pretix.eu is running the master branch most of the time ;) But thanks for the heads up!

[2017-08-27 07:44] raphaelm commented on #607
While it is already displayed for system administrators, it is not visible for event organizers. I'm unsure here, because it is potentially dangerous because it very directly leaks which security vulnerabilities might be unfixed in the deployed version.

(Also, since I know Tobias is using pretix.eu, it would only be useful that much because it'd show something like ``1.7.0.dev0`` right now all th

[2017-08-27 07:45] #604 closed

[2017-08-27 07:49] raphaelm commented on #606
Hi,

this is a bug introduced by a recent configuration change on pretix.eu during the security fixes of 1.6.2. I will try to fix this until tomorrow.

Cheers
Raphael

[2017-08-27 07:55] johnjohndoe commented on #607
I saw you also showing the revision in the docs.

![pretix-docs-footer](https://user-images.githubusercontent.com/144518/29748065-b98a5a94-8b0d-11e7-84b2-feec24865fb2.png)

I think it would be useful to show the version and revision (Git hash) for administrators. Here is a mockup how it could look like:

![pretix-version-mockup](https://user-images.githubusercontent.com/144518/29748043-4b73ce82-8b

[2017-08-28 05:56] vinibiso commented on #312
Hello! I think I can tackle this if the help is still needed.

Also I have to say this would technically be my first PR to a Open Source project so if you don't want a first timer with the whole PR thing I understand. I have worked with django for 3 years now if that's worth anything 😛.

[2017-08-28 07:09] raphaelm commented on #599
Sorry for the late reply :)

That's what I expected :( I obviously hoped to get a full PR, but didn't really expect it ;)

Using a fake request object would be an hack that works, but wouldn't be a good option in the long term. A good, stripe-specific solution would be to create private methods on the ``Stripe`` class that only operate on the level of strings like the payment token and have those

[2017-08-28 07:13] raphaelm commented on #312
Yes, please, go ahead and implement it! Let me know if you need to know anything more specific or need any help.

The wizard-y interface that rixx mentions is still not merged, I will add it in and merge your changes later, should that happen at some point

[2017-08-28 08:38] raphaelm commented on #606
Fixed in 557a0513

[2017-08-28 08:38] #606 closed

[2017-08-29 09:04] rixx opened #611 "Fix overflow in payment information"
![2017-08-29-110328_882x269_scrot](https://user-images.githubusercontent.com/2657547/29813233-d0c99a56-8ca9-11e7-86e4-6766f6f9b1e5.png)

[2017-08-30 04:32] vinibiso commented on #312
Alright! I'm gonna get to it.

It may take a moment for me to get used to the project and all that, but, it will be done.

[2017-08-31 20:36] johnjohndoe opened #613 "Typo in Einstellungen / Allgemein / Ablauf"
I found a minor typo in the German version in _Einstellungen / Allgemein / Ablauf_

![typo](https://user-images.githubusercontent.com/144518/29944122-8024f8c6-8e9c-11e7-9216-f6c6e90a2cab.png)

[2017-08-31 20:51] johnjohndoe opened #614 "Show useful message if no ticket output is active"
I am trying to test the ticket ordering and ticket download before I add pretix to the website of the event.
- Therefore, I "activated" my pretix.eu instance.
- In the administration backend I set the ticket download date to **yesterday**.
- I ordered a "free" product (0€) and pretix shows this:

![download-ticket-date](https://user-images.githubusercontent.com/144518/29944653-9d4d28f4-8e9e-11e7-9

[2017-08-31 21:00] johnjohndoe opened #615 "Formal German in order email"
I configured my prefix.eu instance to use **informal** German. When I received an email for a test order I noticed that there is one sentence which uses **formal** German.

![Order email](https://user-images.githubusercontent.com/144518/29945096-222b749e-8ea0-11e7-9ce6-512f5d5c0b4a.png)

Further, `Das` in `Viele Grüße, Das XXX Team` can be lowercase.

[2017-09-01 12:55] pc-coholic commented on #614
Might sound like a stupid question - but did you also enable one of the ticket-generating plugins?

[2017-09-01 16:20] johnjohndoe commented on #614
There is no stupid questions! Thank you for solving the problem!
Interesting is that tickets which have been downloaded are not regenerated when the layout is changed.

[2017-09-02 10:23] pc-coholic commented on #614
Yes, that is true...

There is however a workaround for this: For individual ticket files, you can purge the cache-information from pretixbase_cachedticket, for combined ticket-downloads pretixbase_cachedcombinedticket... Upon next download-request, the file will be regenerated.

[2017-09-02 10:28] johnjohndoe commented on #614
I am using a hosted instance on pretix.eu. I guess there in cannot purge the cache.

[2017-09-04 07:42] #613 closed

[2017-09-04 07:46] raphaelm opened #617 "Purge ticket cache after ticket settings/layout changes"
see discussion in #614

[2017-09-04 19:30] raphaelm opened #618 "Release checklist 1.7.0"
- [x] Make pretixdroid configuration prettier
- [x] Merge fees branch
- [x] Check translations
- [x] Squash migrations and test them
- [x] Prepare blogpost
- [x] Bump version in ``src/pretix/__init__.py``
- [x] Check that dependencies in setup.py match requirements.txt
- [x] Create git branch
- [x] Create git tag
- [x] Upload PyPI package (sdist and wheel, make sure they are cleanly built)
- [x] C

[2017-09-04 20:13] #585 closed

[2017-09-04 20:13] #586 closed

[2017-09-04 20:13] #614 closed

[2017-09-04 20:13] #617 closed

[2017-09-04 22:55] luto opened #619 "stripe: check format of API keys in settings"
The current settings form allows the stripe secret key to be submitted as the publishable keys. This can easily happen by accident (publishable key starts with `pk_` => "private key"). Since publishable keys always start with `pk_` and secret keys always start with `sk_`, a simple validator should do the trick.

[2017-09-05 07:26] #619 closed

[2017-09-05 09:47] #615 closed

[2017-09-05 09:47] raphaelm commented on #615
This has been fixed in 77a8726a. However, as this unfortunately only fixes the default values, you might still need to correct the values for your event by changing the texts at Event > Settings > Emails.

[2017-09-05 11:33] #618 closed

[2017-09-06 10:15] #156 closed

[2017-09-06 11:16] johnjohndoe commented on #613
:-)

[2017-09-06 11:21] johnjohndoe commented on #615
@raphaelm Thank you. I manually updated the email templates in my instance.

[2017-09-10 23:49] parkcl commented on #572
Hi @raphaelm, I would like to look into this. Could you please assign it to me?

[2017-09-11 06:58] raphaelm commented on #572
Hi @parkcl, sure, go ahead!

[2017-09-13 19:28] Speedy1991 opened #623 "docker-compose"
Hi!
I try to run Pretix via docker-compose and if i get it running i will open a PR if you are interested.
The current state is:
- compose is starting without errors
- database doesn't get migrated
- website isn't reachable

I hope you can help me figure out the problems.
The isn't any error to see except  `pretix_1  | 2017-09-13 19:14:04,988 INFO exited: pretixtask (exit status 1; not expected)`

[2017-09-15 06:59] raphaelm commented on #598
So sorry I can't help at the moment, I really haven't seen this before :\

[2017-09-15 08:08] rixx commented on #598
The only thing I could think about would be nuking the dev environment and try setting it up again (new clone, new virtualenv, etc).

[2017-09-16 12:28] Speedy1991 opened #626 "maintainance mode"
Whats the best way to bring pretix into a maintainance mode?
I don't want to break any payment in process (e.g. paypal).

[2017-09-16 13:40] Speedy1991 opened #627 "[Plugin idea] Native giropay support"
What do you think about offering a giropay payment method?
The API looks kinda straight forward: [http://api.girocheckout.de/en:girocheckout:giropay:start](http://api.girocheckout.de/en:girocheckout:giropay:start)
Especially [http://api.girocheckout.de/en:girocheckout:paypage:start](http://api.girocheckout.de/en:girocheckout:paypage:start)

€dit: Just noticed the pricing of griopay - maybe not rea

[2017-09-17 09:51] luto commented on #627
Stripe [supports giropay](https://stripe.com/docs/sources/giropay) and pretix supports stripe :) Or are you looking for direct support?

[2017-09-17 10:07] Speedy1991 commented on #627
Ah awsome!
Just read the docs and there was only

Didn't notice there are more payment methods in the background.

[2017-09-17 20:22] domke opened #628 "Sorting of filtered order list"
When you select some filter on the orders list, only the orders matching the filter are displayed. However if you then click the sorting icons on any of the columns, the result list switches to display *all* orders (sorted).

[2017-09-24 18:42] raphaelm commented on #627
I love giropay as a concept since it's basically SOFORT done the right way. Therefore, yes, it is already supported via Stripe, but I'd like to see native support as well, even though the minimum fee makes it only interesting to large users.

[2017-09-24 18:57] raphaelm commented on #626
Currently, there is no such thing directly in pretix. The easiest way is probably on the event-level, i.e. taking an event "offline"/"not live" using the first tile on the event dashboard. PayPal/Stripe webhooks will still arrive but all users will see a "not found" and all users currently doing a checkout/payment will be interrupted.

If you want to take it offline completely, just stop the preti

[2017-09-25 11:32] MacLake opened #629 "Export Check-in list (CSV): Add column for company name"
Hello,

It would be useful to add the company name to the CSV check-in list. I think we can assume that the company name that is entered for the invoice information applies to all participants of that order.

We need the company name for name tags, but also when using the check-in list for its main purpose it’s useful to have the company name on the list.

[2017-09-25 11:36] raphaelm commented on #629
I understand the intention why this would be useful. I think that your assumption is valid enough. However, from my experience both as a conference organizer as well as an attendee, I find it more polite to add a question "What should we print on your badge?" since there are many legit cases where one wants to have the company name formatted differently on invoice and badge (or have a brand name o

[2017-09-25 11:56] MacLake commented on #629
Yes, sure, a solution like that would also solve our problem. Btw, that’s how it was done for PyConWeb with another ticket system. And that’s also better for cases when in one order there are participants of different departments or even companies.

[2017-09-25 16:28] raphaelm opened #630 "Manual check-in of attendees"
It is useful e.g. for statistical reasons to be able to mark participant as checked-in manually after the event, e.g. when check-in was done offline with a paper list.

I imagine the best way to do this would be to have checkboxes in the first column of the view at "Orders" -> "Check-ins" in the event admin interface that allow to bulk-change the check-in status of attendees.

[2017-09-26 11:16] koebi commented on #628
Hey,

I'd like to give this a try. I'll let you know when I've come up with something or need help :))

[2017-09-26 16:05] koebi commented on #628
Hey,

I think I found out what happens, but I'm not super sure… Here goes:

Both ordering and filtering requests of the orders-list are handled by an EventOrderFilterForm.
This has an "ordering"-field inherited by FilterForm and defined in [the filter-forms](https://github.com/pretix/pretix/blob/master/src/pretix/control/forms/filter.py#L24). The choices of this field are set to an empty tuple, si

[2017-09-27 08:48] saschafoerster commented on #630
+1

[2017-09-28 20:19] raphaelm commented on #628
This has an "ordering"-field inherited by FilterForm and defined in the filter-forms. The choices of this field are set to an empty tuple, since the orders-variable of a FilterForm is an empty dict.

That sounds correct. Thanks for the good analysis! To understand where it comes from: Previously, all filtering and ordering has been done in the views. Do save duplicate code, I recently introduced t

[2017-10-02 12:55] #628 closed

[2017-10-03 09:35] chadapohn commented on #489
Hi @raphaelm, I'm really sorry for late reply. Now I'm reading the developer documentation and trying to run Pretix on my computer.

[2017-10-04 13:02] jfwiebe opened #632 "Timezone inside the docker container"
Hi!
Currently, the pretix docker container uses its own timezone setting, which can leads into some unexpected results. I am living in Germany (currently GMT+2), so when setting a presale-start to 0 o'clock inside the application, tickets will be available at 2 o'clock. This behavior is expected because of the docker concept ([see discussion in the moby project](https://github.com/moby/moby/issues

[2017-10-04 13:10] raphaelm commented on #632
Hi!

No, that is the wrong approach to the problem. The server timezone should be irrelevant as multiple events on the same server have different timezones and all dates will be stored in the database as UTC. All that should matter is setting the timezone of your event. Is this correctly set?

[2017-10-04 13:23] jfwiebe commented on #632
No, I assumed that it was. You are totally correct, sorry for bothering you!

[2017-10-04 13:23] #632 closed

[2017-10-04 16:29] sambit-m commented on #489
@chadapohn I guess, you're doing it then!

[2017-10-05 20:49] jfwiebe opened #634 "Error message if an event series has no date"
Hi!

I am using the latest "stable" pretix release from today. When an event series has no scheduled dates, opening the "event selector" (top left corner) leads into an "internal server error".

![image](https://user-images.githubusercontent.com/6865786/31251718-3ffd282e-aa1f-11e7-9288-7efbd30c3a68.png)

![image](https://user-images.githubusercontent.com/6865786/31251655-00bd4c2a-aa1f-11e7-9a57-e3

[2017-10-07 12:51] koebi commented on #630
Hey,

I'd like to give this a shot. I'll let you know when I come up with something :)

[2017-10-07 13:08] raphaelm opened #635 "Visually indicate optional and required fields"
Currently, when I see users walking through e.g. the event creation process, one of the main sources of confusion is that it is unclear which fields are optional and which are not. We should therefore establish a pattern to make this clearer. However, I'm unsure which pattern it should be. I've come up with the following options so far:

## Option 1: The asterisk
![optional0](https://user-images.g

[2017-10-07 13:16] rixx commented on #635
Just for the record:

## Option 6: Bold and normal labels

Bold form field labels would indicate mandatory inputs, normal labels would be applied to optional inputs.

**Pro:** It's visually distinguishes the fields at first glance.

**Con:** Maybe a cluttered look. May not be understandable.

[2017-10-07 13:29] raphaelm commented on #635
See also here for feedback received: https://twitter.com/_rami_/status/916652986671263744

[2017-10-07 13:31] chrko commented on #635
Related to option 1: You can invert the asterisk so fields mark with the asterisk is marked as optional and not required. Place the legend above all fields.

[2017-10-07 13:32] raphaelm commented on #635
@chrko Thanks for the comment!

Unsure. People do not tend to read legends and the asterisk is highly associated with required fields all over the internet (and in pretix' frontend itself).

[2017-10-07 13:56] stapelberg commented on #635
I like Option 6 + Option 4 best. I.e., distinguish required (bold) vs. optional (normal, with “optional” label).

[2017-10-07 14:45] nazco commented on #635
I would prefer option 4. Because:
Option 1 is easily misunderstood as mandatory or a footnote.
Option 2 is better but it requires the user to move their view if they want to check if a field is optional or not.
Option 3: If there is some input you have no easy way to determine if the field was optional or not.
Option 4: It is clear and you see it directly if you browse over the different fields. A

[2017-10-07 14:47] raphaelm commented on #635
@stapelberg

I think the combination of 6+4 is worse then either of them alone for the reason that then "optional" seems like a part of the field label (there might be two-line labels) and makes parsing the information harder.

[2017-10-07 14:50] #538 closed

[2017-10-07 15:46] raphaelm opened #636 "Release checklist 1.8.0"
- [x] Deploy to pretix.eu
- [x] Merge #589
- [x] Merge #594
- [x] Check translations
- [x] Squash migrations and test them
- [x] Prepare blogpost
- [x] Cart ID compatibility?
- [x] Bump version in ``src/pretix/__init__.py``
- [x] Check that dependencies in setup.py match requirements.txt
- [x] Create git branch
- [x] Create git tag
- [x] Upload PyPI package (sdist and wheel, make sure they are cle

[2017-10-07 15:50] steeph-k commented on #635
I never thought option 1 might have issues. But it's true: People don't tend to read legends, even if there would be one.

Obviously, option 5 would be the easiest to notice because of the color. I don't like the idea of introducing an additional place with information to the right of the field, though. And colors are already used for other information in some forms (password strength, non-matchin

[2017-10-07 16:16] #531 closed

[2017-10-07 19:33] #636 closed

[2017-10-09 07:53] raphaelm commented on #572
Hi @parkcl, everything going fine? :)

[2017-10-09 07:53] raphaelm commented on #489
Hi @sambit-m and @chadapohn, this gets to confusing for me to decide who's doing what now. If one of you wants to look at something else #629 might be fitting

[2017-10-09 10:25] Speedy1991 opened #637 "[Plugin idea] Native paydirekt"
Working with big german banks (e.g. VR, Sparkasse, Postbank, etc)
[https://www.paydirekt.de/](https://www.paydirekt.de/) scroll down

[2017-10-09 10:28] Speedy1991 commented on #637
API: [https://www.paydirekt.de/haendler/merchant-api.html](https://www.paydirekt.de/haendler/merchant-api.html)
Maybe a good starting point [https://github.com/ParticulateSolutions/django-paydirekt](https://github.com/ParticulateSolutions/django-paydirekt)

[2017-10-09 10:31] raphaelm commented on #637
The trouble with paydirekt is, that it is quite cumbersome to get a merchant account. It is better than in the beginning (with the new concept of "merchant concentrators"), but I still don't expect many event organizers to go through the hassle.

That said, I'd love to see a pretix plugin anyway ;)

[2017-10-09 10:42] JanX2 commented on #635
Option 4 is my preferred solution as well. It has the advantage that users will have to look where the optional marker is situated. If they were not to read the label, they would not know what to fill in. So when you read the label you mentally mark it “optional” almost without effort.

[2017-10-09 10:50] AVWG commented on #635
I'd say Option 4, too! Easy ✌️

[2017-10-09 13:32] SanketDG commented on #635
Option 4 is easily the most intuitive one, can I proceed with this?

[2017-10-09 13:39] raphaelm commented on #635
Hi @SanketDG, thanks for the comment and the offer to implement it! I've already started doing it, though, and it is quite complicated to do it since there are multiple non-obvious ways in pretix a field could be required (e.g. multi-language fields are never *technically* required, as it is at most required to fill *at least one* language, never to fill all of them. So Django thinks they're optio

[2017-10-09 15:29] raphaelm commented on #635
I implemented option #4 in #638 :)

[2017-10-10 15:35] darrenwee commented on #629
I'm a first-timer for contributing to an OSS project. Can I take this?

[2017-10-12 12:25] raphaelm commented on #514
I'm gonna close this for now as I don't see that my opinion on this will likely change ;)

[2017-10-12 12:25] #514 closed

[2017-10-12 12:31] raphaelm commented on #607
I'll close this for now, because I'm decided that this will not happen, at least not in production installations. The reason is simply that my data suggests that unfortunately many pretix installations are not quickly updated when new versions are released. In case of security vulnerabilities or exploitable bugs I wouldn't want to expose which installations are already patched and which are not to

[2017-10-12 12:31] #607 closed

[2017-10-12 13:24] johnjohndoe commented on #607
Okay. Thanks. I hope _security by obscurity_ does not get one's revenge. 😈

[2017-10-12 13:30] raphaelm commented on #607
We'll do our best to do the right security decisions wherever possible and security by obscurity is certanly not the way to go :wink: However, internet-wide scans for vulnerable web software versions are a thing and I believe it is more than just security by obscurity to make their job harder. I'm aware that software version fingerprinting exists and it is probably easy to fingerprint the differen

[2017-10-12 14:00] #635 closed

[2017-10-15 00:59] aimanparvaiz commented on #598
@raphaelm Hi there, I am a new comer to software development field (coming from ops background) and would love to contribute. I know this issue has been assigned but I wanted to know can I also work on it too? I am actively working on this issue and have a couple of questions too, please let me know if I can proceed.
Thanks

[2017-10-17 15:42] domke opened #641 "Buttons missing after order cancelation"
When an order is in the state _canceled_ the menu bar on top of the order details page in the admin backend is missing.
It would be nice if the buttons _View order as user_ and _View email history_ would still be available when an order is canceled (the other buttons don't make sense in this state).

[2017-10-17 22:35] Marlysson commented on #601
There are more description to do this?

[2017-10-18 07:15] rixx commented on #601
An OrderPosition's user generated information (answers to questions, that is) is accessible via OrderPosition.meta_info_data, which is a property loading the stored json data from OrderPosition.meta_info. It would be nice if there was also a property setter which would dump the received json data to a string and set it on the OrderPosition object.

[2017-10-18 13:09] Marlysson commented on #601
Doing this setter to dumping the text received, then the ```meta_info_data``` property just would return the ```meta_info``´ attribute model?

Or after this would remove the ```meta_info_data``` already that the ```meta_info``` already would have the json content.

The ```meta_info``` already would have the json dumped into them.

[2017-10-18 15:41] domke opened #643 "Order Details: History"
The order history as the text "_An email has been sent to notify user order has been received and require payment._" Which does not sound like like proper english.

Please change that into something like "_An email has been sent to notify the user that the order has been received and requires payment._"

[2017-10-19 02:39] scperkins commented on #643
@domke Opened a PR for this [here](https://github.com/pretix/pretix/pull/644). Thanks!

[2017-10-19 21:46] #643 closed

[2017-10-19 22:00] raphaelm commented on #629
@darrenwee Sure, go ahead! :)

[2017-10-19 22:01] raphaelm commented on #629
Sorry for the late reply. Let me know if you have any questions!

[2017-10-22 11:48] domke opened #647 "Possibly missing translation"
On the Orders/Export screen there seems to be missing translations:

<img width="547" alt="export-questions" src="https://user-images.githubusercontent.com/529017/31861553-8a8e356e-b72f-11e7-9ac9-8d632ab707e8.png">

[2017-10-22 11:51] Speedy1991 opened #648 "Dashboard and event list in event timezones"
The datetime in dashboard is utc.
This is programmatically correct but kinda confusing for my admin colleagues.
They create an event with an timezone and put the "correct" datetime in their timezone but see an utc time on the dashboard.
Maybe it is a good idea to put two time information on the overview menu:
- UTC (as now)
- Timezone based (based on the timezone which was selected on the product)

[2017-10-22 12:28] Speedy1991 commented on #648
I think this is kinda easy to implement, here is some pseudocode:

https://github.com/pretix/pretix/blob/master/src/pretix/control/views/dashboards.py#L355
[code]

https://github.com/pretix/pretix/blob/master/src/pretix/control/views/dashboards.py#L285
[code]

[2017-10-22 15:40] domke opened #650 "Date/time picker for cart sharing"
Everywhere in pretix there is a date/time picker when there's a date/time to be entered. Except in the "Share a cart" feature for the expiry date where it's a text box.

I'd like to recommend to change this into a date/time picker as well.

[2017-10-22 19:19] aimanparvaiz commented on #634
@raphaelm Should I take a shot at this?

[2017-10-23 07:01] raphaelm commented on #634
@aimanparvaiz Sure, go ahead! :)

[2017-10-23 07:04] raphaelm commented on #648
Thanks for the feedback! I think showing two dates is to complicated. With the next pretix release, you'll be able to set a timezone in your user profile that will be used for the dashboard and likewise "global" views. The dashboard should either always show user timezone or always show the timezone of the respective event (and I think user timezone is clearer).

[2017-10-23 07:23] Speedy1991 commented on #648
Thanks for the information. But what about this scenario:
User sets timezone Berlin(+1), creates an event in China (+8) at 2 pm china time.
What does the dashboard display? If it is the users timezone, it will be 2 pm - 8h (china) + 1h (berlin) = 7 am??
I think it would be better displaying the time related to the timezone of the event, not related to the users timezone.

[2017-10-23 07:29] Speedy1991 commented on #648
Another thought: maybe a setting in the pretix.cnf would be useful, something like:
[code]

[2017-10-23 15:24] darrenwee commented on #629
I've been playing around with Pretix for a while and I cannot figure out how to check in a person? I can't find documentation for it either in the user guide. I assume that because no one is checked in, there's no option to export the check-in list, right?

[2017-10-23 17:10] aimanparvaiz commented on #634
Hey @jfwiebe
I am trying to reproduce this issue but haven't been successful yet, I will share the steps I have taken please let me know if I am missing something here.
1. I created a series of events (event 7, event 7.2, event 7.3)with a start date and no end date.
2. I clicked on Dates in the left column and also at the top left and it didn't throw any kind of error.
3. I also tried the same whe

[2017-10-23 21:05] jfwiebe commented on #634
Hi,

sorry if my report was not clear enough. To reproduce the error, create an event series and then delete all dates. Now click on the event selector and you‘ll get the error.

With best regards
Jan Felix

[2017-10-23 21:18] aimanparvaiz commented on #634
Thanks for getting back @jfwiebe. Ok, trying what you mentioned didnt produce error but something else did, let me list my steps.
1. I deleted all dates under event7.
2. Clicked on Dates in the left menu and also on the top left, none of this broke anything (see screen shot attached)
3. On clicking pretix.de (at the top left corner) though led to this error:
`ERROR 2017-10-23 21:13:15,141 django.r

[2017-10-24 06:37] jfwiebe commented on #634
Yes indeed, this is the error I am talking about.
(In my first report, I stated that it happens on the date selector, but that was wrong - I'm sorry!)

[2017-10-24 14:55] aimanparvaiz commented on #634
No worries, now since I have reproduced it, I will start working on it.
Thanks

[2017-10-26 14:46] koebi commented on #629
As of now, checkins are only done via the pretixdroid-app. A manual checkin is currently being built, the corresponding PR is #642 - although not merged yet, this should work.
The check-in list exporter is a plugin, maybe you haven't enabled it? For me, even with no orders, I can click on the export button. That gives me a 405 - Method not allowed error, but it works ;)

[2017-10-26 15:02] koebi opened #651 "Creating testdata behaves weird on docker container"
I first set up a docker image using `docker build .` on my local checkout (which has some data, events and organizers in it) and ran it. Although I had no access to any organizers, events and whatsoever, the `python make_testdata.py`-command told me that "There already is data in your DB!"

Then I started a container using `docker run pretix/standalone:stable` and tried the `python make_testdata.p

[2017-10-26 16:00] koebi opened #653 "Possibly missing translations"
On the Account Settings screen, there seem to be some missing translations:

![pretix_missing_trans_settings_1](https://user-images.githubusercontent.com/4692974/32063436-72c20898-ba77-11e7-8044-306eead15c6c.png)
![pretix_missing_trans_settings_2](https://user-images.githubusercontent.com/4692974/32063435-729b6684-ba77-11e7-9191-b8c7efced1df.png)

[2017-10-26 22:51] #647 closed

[2017-10-27 09:55] raphaelm opened #654 "Writable API"
This is to track the whole progress on adding write operations to our REST API.

- [ ] Orders
  - [x] create (#599, #911)
  - [x] mark paid
  - [x] mark pending
  - [x] mark expired
  - [x] mark canceled
  - [x] mark refunded?
  - [x] extend order
  - [x] change comment
  - [x] create invoice
  - [x] resend link
  - [x] change email address
  - [x] regenerate secrets
  - [x] change locale
  - [x]

[2017-10-27 09:56] raphaelm commented on #314
I created a new overview ticket at #654

[2017-10-27 09:56] #314 closed

[2017-10-28 09:27] koebi commented on #653
This seems to be due to me playing around with the translation and weird things ending up in the translation files. The checkout from master seems clean…

[2017-10-28 09:27] #653 closed

[2017-10-28 21:16] #630 closed

[2017-10-30 08:33] koebi commented on #629
As of [this commit](https://github.com/pretix/pretix/commit/1a894d71b860fc1c787f74a9d299c4fa70e8acce), this feature is implemented, so you can now easily manually check in people :))

[2017-10-30 09:38] turegjorup commented on #654
Thank you for the overview. We're currently evaluating Pretix, but need create/update on at least events, items and quotas for it to be a viable solution.

I've been looking into trying to add this, but I have no previous Django experience. I have have basic create/update working by just changing to `class EventViewSet(viewsets.ModelViewSet):`, this however bypasses the validation in `EventWizardB

[2017-10-30 09:56] raphaelm commented on #654
Hi @turegjorup! For not having any Django experience you did an excellent job on correctly identifying what the problems are here :laughing:

Your chances are good, I believe items and quotas are comparatively easy to implement and events still doable. The only really near-impossible model to implement the API for well is the order model.

Correct. In principle, we only need to drop the ``ReadOnly

[2017-10-30 11:02] #611 closed

[2017-10-30 11:30] darrenwee commented on #629
Awesome, thanks!

[2017-10-30 11:36] MacLake commented on #629
Thank you! So I close this issue.

[2017-10-30 11:37] darrenwee commented on #629
You closed the wrong issue! #629 isn't implemented, @koebi was saying that #630 (manual check-in) is implemented.

[2017-10-30 11:39] raphaelm commented on #629
No, that's a misunderstanding as @darrenwee points out :) #630 implemented by koebi has nothing to do with this.

@darrenwee The "check-in list" is just badly named it has nothing to do with who is already checked in, it is more a list that could be used for printing it out and checking in manually on paper.

[2017-10-30 11:44] MacLake commented on #629
Okay, sorry, I didn’t read it so carefully.

[2017-10-30 22:15] #339 closed

[2017-10-31 05:52] BenHagan commented on #489
![image](https://user-images.githubusercontent.com/2807012/32208985-e809e18e-bdd3-11e7-8449-3ba2961266d9.png)

This what I came up with #659.

Currently the patch handles when the current date is past `Items.available_until`, shouldn't we also have it handle when the current date is before `Items.available_from`?

[2017-10-31 08:41] #641 closed

[2017-10-31 17:08] koebi opened #663 "Question: Add automatic spell checking?"
The last three commits I made were born by running aspell on the .po-files. I quite enjoyed this and would maybe like to work on this some more - If the changes are merged, I'll definitely run the same "tests" on the informal german translation.
Apart from this, would it be an idea worth pursuing to add automatic spell checking to the project?

[2017-11-01 09:03] raphaelm commented on #663
Please do so!

Yes! I edit the translation files with [Poedit](https://poedit.net/) which already sort-of spellchecks but apparently not good enough or not visible enough ;)

Django itself uses a [Spelling check](https://docs.djangoproject.com/en/dev/internals/contributing/writing-documentation/#spelling-check) for their documentation that we could use as well for our docs. Would you like to set t

[2017-11-01 21:05] #489 closed

[2017-11-02 10:09] jfwiebe commented on #489
Lovely, thank you @BenHagan !

[2017-11-02 13:05] rimi-itk opened #665 "Question: Naming plugins and using MultipleChoiceField"
Hi,

I'm playing around with developing a plugin and have a couple of questions:

1. Should I include "pretix" in the unique plugin key, e.g. "pretix_notifyadmin", or is this prefix reserved for core plugins?
2. I cannot make a `MultipleChoiceField` show currently selected values (from the database) in my plugin settings. I can check values and they are saved correctly in the database (I think) on

[2017-11-02 15:20] raphaelm commented on #665
Sure! :)

Yes, you can use the ``pretix_`` prefix for the plugin key and/or the ``pretix-`` prefix for the python package to show that is a plugin for pretix. I believe it to be a good idea that you can find all installed pretix plugins with ``pip freeze | pretix`` etc., so I'd vote in favor of the prefix.

Some people prefer to choose a shorter [label](https://docs.djangoproject.com/en/1.11/ref/a

[2017-11-02 21:06] ZEROF opened #666 "Portable Barcode Scanner"
Hi,

I need advice for buying some portable barcode scanner(s) for better work-flow. Scanner must work with pretix android application. P.S.Phone scanning is ok, but slow in some cases.

Would like to here from your experiences ;)

Thanks

[2017-11-03 04:22] BenHagan commented on #650
I'd take this on if approved.  I can't find this feature in the app though.  @domke could you add some screenshots or walk me though how to access the feature?

[2017-11-03 08:01] raphaelm commented on #650
This ticket rightfully belongs to the https://github.com/pretix/pretix-cartshare plugin :) GitHub unfortunately does not allow moving issues

[2017-11-03 08:06] raphaelm commented on #666
Hi,

Hard to say. I have no experiences with bluetooth-based mobile barcode scanners so far. I have experience with [this china-sourced handheld device](https://lecom.en.alibaba.com/product/60501076709-805287995/A.html) (make sure to get the 2D-scan-version!) that has a good scanning module but bad overall quality and breaks fast if it falls down… There are [way more expensive products](https://ww

[2017-11-03 08:06] #666 closed

[2017-11-03 10:53] raphaelm commented on #648
Probably, yes. It is easy to fix this for the dashboard. It is a bit less easy to fix it for the list of events since ordering by datetimes in different timezones is … well… hardly well-defined, but we could still do it.

But pretix' next version (at least the Enterprise edition) will have options to create reports that span multiple events and aggregations with different timezones will get to con

[2017-11-03 10:55] raphaelm opened #667 "Release checklist 1.9.0"
- [ ] Deploy to pretix.eu
- [x] Check translations
- [x] Squash migrations and test them
- [x] Prepare blogpost
- [x] Bump version in ``src/pretix/__init__.py``
- [x] Check that dependencies in setup.py match requirements.txt
- [x] Create git branch
- [x] Create git tag
- [x] Upload PyPI package (sdist and wheel, make sure they are cleanly built)
- [x] Create tag on docker hub
- [x] Check if any o

[2017-11-03 12:35] raphaelm opened #668 "Widget requires low CSP settings"
Currently, the pretix widget only runs with ``unsafe-eval`` allowed in the CSP header of the hosting page. This is due to vue.js' template compiling (see [here](https://vuejs.org/v2/guide/installation.html#CSP-environments)). We'd need to find a way to compile these templates beforehand – preferrably without requiring every developer and admin installing pretix to install and setup nodejs.

with(t

[2017-11-03 13:05] domke commented on #650
I re-created the issue in pretix-carshare. See issue 6 there.

[2017-11-03 13:05] #650 closed

[2017-11-03 21:12] stapelberg opened #669 "feature request: export function for ordering at external vendors"
For ordering t-shirts (for example) easily, I’d like to export:

* specific products (not tickets, just shirts)
* filtering by paid status, with checkboxes (so that i can manually include people even if they have not paid)
* resulting in order number and product _only_ (no personal details)

cc @koebi

[2017-11-03 21:15] stapelberg opened #670 "ux issue: bank details shown too early, position in ordering process unclear"
3 different people (!) had issues ordering tickets for this year’s RGB2R. All of them thought their order was completed because they saw the bank details. This resulted in much unnecessary confusion and unhappy participants who were too late for our shirt order.

A few ideas which would likely help:
* An option to hide the bank details until _after_ the order was accepted
* A clear indicator telli

[2017-11-03 22:24] koebi commented on #667
Actually, translations should be revisited, I created two new pull-requests. The current version is rather probable to break informal german…

[2017-11-04 10:16] raphaelm commented on #667
Hmm, I didn't see any mess when making the release (and it's too late now), but I'll have a look at your PRs! :)

[2017-11-04 10:16] #667 closed

[2017-11-04 10:27] koebi commented on #663
Yes, I'd like to take a look into this :)

[2017-11-07 09:13] mmmchl commented on #259
@rixx

Thank you for You might just want to run pip install --upgrade sqlparse

Have a nice day

[2017-11-07 22:47] tiefpunkt opened #674 "Order code splitted at wrong character during bank transfer assignment"
Just ran into an issue while manually resolving an unresolved transaction. When I enter the order code of the transaction (just the 5 characters) into the input field, a dropdown opens up to reveal the order. This includes the entire string with the name of the event, the full transfer description that should have been used by the payer. When I click it, this entire description is filled into the

[2017-11-07 22:54] raphaelm commented on #674
I cannot reproduce this right now, it should totally accept the full order code including the reference as well. Let me know if you run into this again!

[2017-11-08 18:07] aimanparvaiz commented on #634
PR Submitted, all checks are passing.

[2017-11-09 15:42] aimanparvaiz commented on #572
@raphaelm can I take a shot at this?

[2017-11-09 15:44] aimanparvaiz commented on #634
@raphaelm please let me know if I am missing something in the fix, really excited about this PR.

[2017-11-09 20:31] saschafoerster opened #678 "Deletion of data"
I created some test-events and test-organisations, which I only can delete via SQL, but which I never do, because I fear breaking things. But this is not really problematic, just a bit disturbing for me.

But in the advent of stronger data protection laws, it should be possible to delete all email-adresses and customer-data easily, so there will be a small footprint of user data collected. Thats w

[2017-11-09 20:33] raphaelm commented on #678
Yes, I have such a "shred personal data" feature in mind for at least a year but have never written it down what I imagine it to be like… it will come! :)

[2017-11-09 20:34] raphaelm commented on #678
However, it would still only delete the personal data like email addresses and answers (as you suggested), not the "financial" data. I thought about allowing deletion of events that have no orders, but I'm really not willing to allow deleting orders (i.e. financial records)

[2017-11-09 20:40] saschafoerster commented on #678
So you prefer me to go into the database? To delete all the paypal-sandbox-transactions? 💃 And then break everything, because I don't know... 👹

[2017-11-09 20:47] raphaelm commented on #678
I prefer that financial transactions can not be deleted, see e.g. https://de.wikipedia.org/wiki/Revisionssicherheit :)

[2017-11-09 21:07] saschafoerster commented on #678
Okay, how about an Archive?

[2017-11-09 21:10] raphaelm commented on #678
Yep, some kind of archiving would be more appropriate. So that would just be a simple flag that hides the event?

[2017-11-09 21:14] saschafoerster commented on #678
And maybe a second step to remove all personal data (besides transactions). Yes!

[2017-11-09 21:19] raphaelm commented on #678
I've see those as separate features so fare (archive and shredder), but it might also make sense to combine it.

[2017-11-09 21:41] saschafoerster commented on #678
Maybe shredding is only allowed after at least 30 days of archival?

[2017-11-10 07:47] Speedy1991 commented on #678
I have a similar problem. I created a testevent but i am unable to delete it in a clean way.
Maybe it's a good idea to create a django-admin command? This can only be used by the server-admins (having anyway access to the database).

[2017-11-10 14:29] jfwiebe opened #679 ""Show presale start" missing for event series"
As stated in the title, the event setting "show presale start" is not available for event rows, neither on the settings page, nor on the date pages.

[2017-11-10 14:56] raphaelm commented on #679
Can't reproduce. It is in the normal event settings like for any other event.
![download](https://user-images.githubusercontent.com/64280/32663817-9484446e-c62f-11e7-808f-72abdcfa4588.png)

[2017-11-10 14:56] #679 closed

[2017-11-11 17:41] blinry commented on #598
Doing a fresh pretix installation following the [manual guide](https://docs.pretix.eu/en/latest/admin/installation/manual_smallscale.html) (on an up-to-date Arch Linux), I'm getting the same errors as @kunalkakade when running `python -m pretix rebuild`:

[code]

All errors repeat a few times for other templates. Any clue what I could do? Should we open a new issue for this?

[2017-11-11 19:03] raphaelm commented on #572
@aimanparvaiz Sure!

[2017-11-11 19:04] raphaelm commented on #598
The parsing errors are largely inside templates of third-party dependencies that we don't use, so if everything works fine, just ignore it.

Only the ``D:\opensoure\pretix\src\pretix\control\templates\pretixcontrol\subevents\detail.html: __init__() got an unexpected keyword argument 'charset'`` that @kunalkakade experienced is weird.

[2017-11-11 19:12] aimanparvaiz commented on #598
@raphaelm I have submitted the PR for this: https://github.com/pretix/pretix/pull/645
Again, writing tests are not my forte(still learning :) ), please let me know if you see something missing

[2017-11-11 19:19] blinry commented on #598
No issues so far! :)

[2017-11-11 20:35] blinry opened #680 "Filters on orders page look crammed for some window sizes"
For a browser window with a width of 1600 pixels, and a DPI setting of 144, the filters row on the orders page looks like this, making it unclear what the first box is supposed to be used for:

![pretix-width](https://user-images.githubusercontent.com/81277/32693254-01241484-c728-11e7-9f56-8660dc14d0cd.png)

[2017-11-11 23:35] tiefpunkt commented on #674
Just made this happen again, but screwed up my screenshots. There's only the order code in the reference, thus it doesn't properly recognize the transaction. If I copy that reference, I get to choose the full code, as shown in the screenshot, which it then does not accept. <img width="1350" alt="screen shot 2017-11-12 at 00 27 13" src="https://user-images.githubusercontent.com/434444/32694482-21e3

[2017-11-11 23:41] tiefpunkt opened #681 "Waiting list voucher created despite payment timeframe already closed"
Not sure whether this is a bug, a missing logic check or plain user error.

I had an event with a waiting list, and a last day of payments set up. Now one order expired after said date, and a new voucher for the next one on the waiting list was generated and sent out.

Is there a scenario in which that makes sense? Why would I sell a ticket, when someone is not allowed to pay for it anymore?

[2017-11-12 10:49] raphaelm commented on #674
That might be because we split the event slug and the order code at the first ``-`` in [this](https://github.com/pretix/pretix/blob/master/src/pretix/plugins/banktransfer/views.py#L97) and other places, which obviously is wrong, we need to split at the last ``-``. :) Thanks for finding this!

[2017-11-12 12:36] raphaelm commented on #578
This exists in the meantime :)

[2017-11-12 12:36] #578 closed

[2017-11-13 17:54] raphaelm commented on #681
Good point, this does not make that much sense. While we're at it, the waiting list also should not be served if the general presale period is over or the requested product is no longer available.

[2017-11-17 17:35] koebi commented on #663
I have been working on this for the last few days (finally ;) ) and there are a few choices that have to be made about how stuff is to be done:

1. Is pretix using UK or US english?
    This comes up in things like (behaviour vs behavior) or (favour vs favor)
2. There are two ways of defining custom words:
     a) listing them in the respective file using
         `.. spelling:: Customword1 Custom

[2017-11-20 21:21] raphaelm commented on #663
Ah, sorry, I missed this, too many GitHub notifications currently.

I think we settled on US, even if I like British English more, US English is just the way to go in technology and makes things easier.

Agreed, although I'd always err on the side of putting it into the customword file if it is at least likely that the word will be reused. ``spelling_wordlist.txt`` sounds fine to me.

I think so,

[2017-11-21 13:38] koebi opened #686 "Documentation of order_paid-signal unclear"
This might be just me not being able to english, but I think that the documentation  at https://github.com/pretix/pretix/blob/a08cb3b8e4adaa300868e3f730e045bc8e6d0203/src/pretix/base/signals.py#L152-L154 is missing something.

[2017-11-21 19:17] raphaelm commented on #686
I think just the ``it`` is too much

[2017-11-22 18:53] koebi opened #689 "Mention code of conduct on github"
Browsing the pretix github, I found that although the project has a [Code of Conduct](https://docs.pretix.eu/en/latest/development/contribution/codeofconduct.html), the [Community Page](https://github.com/pretix/pretix/community) doesn't mention it - because there is no `CODE_OF_CONDUCT.md`-file anywhere.

I'd propose to add that file in the same style of the `CONTRIBUTING.md`-file - even if just

[2017-11-23 17:49] raphaelm opened #691 "Convert all middlewares to new-style middlewares"

[2017-11-23 19:38] domke opened #692 "Order date of split order"
When an order is split the order date of the newly created order is now.

I'd better like it if the order date of the second order would be the same as the original.

[2017-11-25 13:31] #686 closed

[2017-11-26 15:07] raphaelm commented on #689
Agreed. By same style do you mean to just put a link to the docs there? I think that makes most sense.

[2017-11-29 21:34] rpirritano commented on #680
@blinry , Is this issue still available?  Is so, I can take it.

[2017-11-29 22:02] rixx commented on #680
@rpirritano Nobody is currently working on this issue, feel free to tackle it! :)

[2017-11-30 07:27] Speedy1991 opened #694 "[Feature Request] Better way getting the name for non invoice"
I need the name of the people ordering a ticket with "Require attendee names" in Settings -> General. But i can't see the name in the Orders -> All orders like i can if i check "Require Customer Name " in Invoicing.

Is it possible to add the name to the all orders if "Require Customer Name" is set and no invoice "Require Customer Name" is set?

The current problem is:
- Someone is paying with ban

[2017-11-30 07:35] raphaelm commented on #694
There is a very simple reason why the list of orders does not show attendee names: An order can contain any number of tickets and therefore any number of different attendee names. Attendee names are per ticket, customer names are per order. Showing potentially tens of names per row in the list of orders won't make it easier.

However, the search field in the orders list, the autocompletion during

[2017-11-30 08:01] Speedy1991 commented on #694
Ah i didn't know this option.
Thank you!

[2017-11-30 08:01] #694 closed

[2017-11-30 10:38] koebi commented on #689
yes, pretty much :)
One could consider removing the CoC-Mention in the CONTRIBUTING.md-file, or changing the link to link to the new COC.md-file, and whether the CoC should be mentioned in the README.
As for the first, I wouldn't, because a Code of Conduct can't be mentioned enough.
As for the second, it increases the time it takes people to get to the CoC, so I wouldn't.
As for the third, I think

[2017-11-30 11:00] raphaelm commented on #689
ACK.

ACK.

ACK.

❤️

[2017-11-30 11:01] #689 closed

[2017-12-01 05:45] rpirritano commented on #680
@blinry,  Is this the same page as the Order Search? (see screenshot).  If so, it looks different from my page on the developer environment.  Also, should the above DPI be 1440?  The below page seems to be responsive.

![screen shot 2017-11-30 at 9 41 05 pm](https://user-images.githubusercontent.com/8380531/33469423-a03121c2-d617-11e7-8181-da43d8e5a26d.png)

[2017-12-04 15:49] raphaelm opened #697 "Release checklist 1.10.0"
- [x] Merge #693
- [x] Deploy to pretix.eu
- [x] Check translations
- [x] Squash migrations and test them
- [x] Prepare blogpost
- [x] Bump version in ``src/pretix/__init__.py``
- [x] Check that dependencies in setup.py match requirements.txt
- [x] Create git branch
- [x] Create git tag
- [x] Upload PyPI package (sdist and wheel, make sure they are cleanly built)
- [x] Create tag on docker hub
- [

[2017-12-04 17:12] #515 closed

[2017-12-05 18:15] #697 closed

[2017-12-05 19:58] sturzl commented on #674
Hey, I'm going to take a look at this one

[2017-12-05 21:17] raphaelm commented on #674
@sturzl Great, go ahead and let me know if you have any questions!

[2017-12-06 10:29] shokinn opened #699 "<pre> </pre> HTML Tag in ordering Mail is shown as plaintext"
The `<pre> </pre>` Tag is shown as plaintext in the ordering mail.

<img width="794" alt="screen shot 2017-12-06 at 11 25 07" src="https://user-images.githubusercontent.com/10045300/33657133-9a139eb8-da78-11e7-8964-ea04da71ced7.png">

[2017-12-08 16:08] raphaelm commented on #699
Thank you! Fixed in https://github.com/pretix/pretix/commit/1011b67f0abbb71a9550ccca7635487f99799000

[2017-12-08 16:08] #699 closed

[2017-12-09 12:04] raphaelm opened #702 "U2F login does not work in Firefox 57"

[2017-12-09 17:38] #702 closed

[2017-12-10 20:57] saschafoerster opened #704 "Pycups fails during update"
Hi Raphael, I tried to update, but there seems an problem with pycups.
I tried 'apt-get install libcups2-dev', but it didn't help.

Kind regards
Sascha

`root@sfvm01:/home/pretix# docker build -t bonndigital/pretix .
Sending build context to Docker daemon  6.144kB
Step 1/9 : FROM pretix/standalone:stable
 ---> f0793b024bb7
Step 2/9 : USER root
 ---> Using cache
 ---> 1250f3069939
Step 3/9 : COPY i

[2017-12-10 20:59] raphaelm commented on #704
Why do you try install pretix-printtool on the server? Your server probably does not have a printer, so this doesn't make too much sense.

[2017-12-10 20:59] #704 closed

[2017-12-10 22:03] saschafoerster commented on #704
Sorry for not reading the whole documentation (as I should have done): in consequence the export as PDFs don't work anymore: pretix.log shows
'ERROR 2017-12-10 22:00:30,888 pretix.base.async async Unexpected exception: NotRegistered("'pretix.base.services.export.export'",)
'
Is there anything I can do, besides creating docker-compose from new (which I tried)?

[2017-12-10 22:07] raphaelm commented on #704
This is completely unrelated to the problem above… I currently don't know what this is, I haven't seen this exception before

[2017-12-10 22:44] saschafoerster opened #705 "Export of data doesn't work after update to 1.10.0"
After updating to 1.10.0, I tested to create a checkin list as PDF. The browser shows:

Logfiles: pretix.log
`ERROR 2017-12-10 22:39:54,482 pretix.base.async async Unexpected exception: NotRegistered("'pretix.base.services.export.export'",)`

Thanks! ;)

[2017-12-10 23:07] saschafoerster commented on #705
Trying to buy a test-ticket, leads to the same error, but without trace in the logfiles.
<img width="523" alt="bildschirmfoto 2017-12-11 um 00 04 49" src="https://user-images.githubusercontent.com/1153741/33810610-2e8c0e18-de07-11e7-8d76-3038ee0572e1.png">

[2017-12-10 23:08] saschafoerster commented on #705
PS: The Progress indicator doesn't really look like in the preview (but maybe this is worth another issue report).

[2017-12-11 10:42] #663 closed

[2017-12-11 10:59] koebi opened #707 "Expand spell-check to translation files"
In [this commit](https://github.com/pretix/pretix/commit/9ab39904e851cbb228eaa53960ce330803b4f0ef), automatic spell-checking for the documentation is implemented. This spell-checking should now be expanded to the translation files in the [locale-directory](https://github.com/pretix/pretix/tree/master/src/pretix/locale).

So far, I have not found a convenient way to simply pass the .po-files to the

[2017-12-11 11:10] raphaelm commented on #707
I'm not sure what the easiest way here is, either. pospelcheck looks nice, but I'm not sure about requiring perl for the development setup, although it wouldn't be a blocker since spellchecks are a very optional feature of the development setup.

We could also write a simple script [reading the PO file](https://polib.readthedocs.io/en/latest/quickstart.html#loading-existing-catalogs) and using [Py

[2017-12-11 11:13] koebi opened #708 "Consistence in spelling checkin/check-in"
So far, it seems as both checkin and check-in are used throughout the pretix.
This should be made consistent, though I don't know yet how. I'll check for how inconsistently this is currently used and maybe this will help in making a decision.

For reference, compare #688 where this came up first.

[2017-12-11 14:46] raphaelm commented on #705
For this one, can you try running ``docker exec -it pretix.service pretix upgrade`` again or changing and reverting the color of your shop? Your shop somehow has the old CSS.

[2017-12-11 14:46] raphaelm commented on #705
If you didn't run ``docker exec -it pretix.service pretix upgrade`` at all, this might also be reason for the first problem. Restart the service afterwards, to be sure.

[2017-12-11 15:07] #403 closed

[2017-12-11 18:42] CarstenG opened #709 "Typo in German translation"
In [de/LC_MESSAGES/django.po, line 11351](https://github.com/pretix/pretix/blob/cf1883a039c868595d588fcffc867d36e4072457/src/pretix/locale/de/LC_MESSAGES/django.po#L11351) and [de_informal/LC_MESSAGES/django.po, line 11322](https://github.com/pretix/pretix/blob/cf1883a039c868595d588fcffc867d36e4072457/src/pretix/locale/de_Informal/LC_MESSAGES/django.po#L11322) should be the last word »wurden.« ins

[2017-12-12 10:27] koebi commented on #708
`make spelling` finds 7 occasions where checkin is used. A short online search revealed, that
- if used as a verb, it should be spelled `check in`, e.g. "I already checked in yesterday."
- if used as a noun or adjective, it should be spelled `check-in`, e.g. "I'm currently in line at check-in."
- the single word `checkin` is in use in some places, but hasn't gained an as widespread use as for exam

[2017-12-12 16:09] koebi commented on #707
While pospelcheck seems to be nice for manually checking the .po-files, I think its interactivity makes it not that suitable for an automatic spell check. Therefore, I'd like to have a look at a python script that checks the .po-files. We'll see where that leads ;)

[2017-12-12 17:56] Ahrdie opened #712 "Product-Questions Statistics still include data from canceled orders"
The summary statistics, that can be found at every question still include the data from canceled orders. The same is the case in the Statistics Plugin.
Maybe the ability to switched canceled orders on or off would be a solution.

[2017-12-12 20:49] blinry commented on #680
That's the one! I notice you have four search fields instead of my five – are we using the same versions? I'm on 1.9.0.

[2017-12-12 21:46] saschafoerster commented on #705
I tried several times to upgrade and restart, with no change for export or CSS. Is there anything else I can do or give you more detail? Try for instance here:
https://ticket.bonn.digital/bonndigital/vorlage/

[2017-12-12 21:54] saschafoerster commented on #705
Maybe it depends of my faulty installation of this plugin? https://github.com/pretix/pretix-printtool

[2017-12-12 22:01] saschafoerster opened #713 "Error messages: favicons"
I found a lot of these in my error logs:

`WARNING 2017-12-09 11:11:40,522 django.request base Not Found: /apple-touch-icon-120x120-precomposed.png/
WARNING 2017-12-09 11:11:40,522 django.request base Not Found: /apple-touch-icon-120x120-precomposed.png/
WARNING 2017-12-09 11:11:40,628 django.request base Not Found: /apple-touch-icon-120x120.png/
WARNING 2017-12-09 11:11:40,628 django.request base

[2017-12-12 22:06] saschafoerster commented on #705
Or maybe this is more helpful

MacBookMF:~ Ikarus84$ ssh bonn.digital
Linux sfvm01 4.9.0-4-amd64 #1 SMP Debian 4.9.51-1 (2017-09-28) x86_64

The programs included with the Debian GNU/Linux system are free software;
the exact distribution terms for each program are described in the
individual files in /usr/share/doc/*/copyright.

Debian GNU/Linux comes with ABSOLUTELY NO WARRANTY, to the extent
per

[2017-12-12 22:10] Ahrdie opened #714 "Change of user settings (language or timezone) triggers two "mail-address changed" mails"
At changing the user language settings, there are two identical mails send, that inform you, that your mail address has been changed, although the mail address stayed the same and only the language setting changed.

[2017-12-12 22:19] saschafoerster commented on #705
`python -v` gives me "Python 2.7.13" on Debian 9. But maybe it's about the version in the docker container...

[2017-12-13 03:02] rpirritano commented on #680
I'm using the latest version, v1.10.0.

Maybe the issue is no longer occurring?  Can you check Master?  Thanks!!

On Tue, Dec 12, 2017 at 12:49 PM, Sebastian Morr <notifications@github.com>
wrote:

[2017-12-13 08:12] raphaelm commented on #680
I think @blinry is thinking of another page, namely the list of orders when you're *inside* an event. It is very similar, though.

[2017-12-13 11:07] koebi commented on #707
A first proof of concept is implemented in #715 :)

[2017-12-13 11:14] raphaelm commented on #705
That might be it. There is a bug in the reportlab package that I already tried to work around but apparently it still happens. I'm unsure why I don't get the error, though. I pushed e9e15520 right now, the docker container should be built in an hour by docker hub.

Could you try building pulling pretix/standalone:latest then and building on top of that for a test instead of :stable?

[2017-12-13 14:38] rpirritano commented on #680
oh ok, let me look for that one....thanks!

On Wed, Dec 13, 2017 at 12:12 AM, Raphael Michel <notifications@github.com>
wrote:

[2017-12-13 21:57] flexwie opened #716 "504 Gateway Timeout Error"
I set up Pretfix stricly according to the installation document on a new Ubuntu 16.04 machine but I can't get it to serve the website. Instead its giving me a 504.

The docker container is running, nginx is up and configured like described and the SSLcertificates are working. What could I have been missing?

[2017-12-13 22:01] raphaelm commented on #716
Did this happen after a new install or on an existing install? Does logs/pretix.log in the data volume of the container contain anything of interest?

[2017-12-13 22:04] flexwie commented on #716
The install is new and the log file is empty

[2017-12-13 22:11] raphaelm commented on #716
Weird. Can you post the output of ``docker logs <containername>``?

[2017-12-13 22:14] flexwie commented on #716
I copied the whole output into this gist: https://gist.github.com/flexwie/5e24c9357a625ee251cd4a5dae725ba5

[2017-12-13 22:18] flexwie commented on #716
Figured out that it might be the missing mysql.sock?

[2017-12-13 22:19] raphaelm commented on #716
Hmm, okay, while pretixtask crashes, pretixweb doesn't so you should at least get an error 500… But the log looks like your database server is not running / not reachable at ``/var/run/mysqld/mysqld.sock``? Do you have MySQL running and is it listening via socket and is the socket correctly mounted into the docker container and has appropriate permissions?

[2017-12-13 22:32] saschafoerster commented on #705
How shall I say it... maybe with a GIF, didn't work...
![bug](https://user-images.githubusercontent.com/1153741/33965897-d8be81ec-e05d-11e7-8f78-9d09284ca6e3.gif)

[2017-12-14 09:21] flexwie commented on #716
I got rid of the mySQL problem, by creating a swap file as I seemed to run out of memory.
I'm still getting a 504 error when accessing the page...
Docker log seems fine, nginx is only showing the time outs.

[2017-12-14 09:50] saschafoerster commented on #705
Besides everything is really slow. It takes 30 seconds to load a page. Celery and python3 are taking up to 50-70% of CPU some times...

[2017-12-14 17:07] raphaelm commented on #716
Since there now have been two reports of problems with the docker installation (#705 and #716), I created a shell script that closely follows the tutorial and executed it in a fresh virtual machine with debian stretch installed. I was thereby able to verify that the tutorial is correct and the resulting pretix instance was working for me. You can follow my steps and compare with your setup here: h

[2017-12-14 17:07] #716 closed

[2017-12-14 17:08] raphaelm commented on #705
Since there now have been two reports of problems with the docker installation (#705 and #716), I created a shell script that closely follows the tutorial and executed it in a fresh virtual machine with debian stretch installed. I was thereby able to verify that the tutorial is correct and the resulting pretix instance was working for me. You can follow my steps and compare with your setup here: h

[2017-12-14 19:38] raphaelm commented on #708
This sounds reasonable! Thanks for doing the research.

[2017-12-14 19:41] raphaelm commented on #712
Hi :) For the questions, there is a filter directly above the chart. Do you have an idea how to make this more obvious?

[2017-12-14 19:44] raphaelm commented on #714
Can you reproduce this? It doesn't happen for me at the moment.

[2017-12-14 23:34] saschafoerster commented on #705
I had to go back to pretix 1.9.1, there everything still works. How can that be? I'm still ready to help fund the bug. 🐜

[2017-12-14 23:55] saschafoerster commented on #705
To be also more detailed: I compared all the config-files and options with the recommended options, and they are mostly exactly the same. I wiped all docker images and container, I tried fresh installations following the instructions with :stable as well as with  :master, each with fresh docker installations. Nothing did help. After hours of testing, I tried to go back to version 1.9.1 and here, e

[2017-12-15 00:11] saschafoerster commented on #705
Even with a fresh data base I get this error messages:

  File "/usr/local/lib/python3.6/site-packages/MySQLdb/cursors.py", line 411, in _query
    rowcount = self._do_query(q)
  File "/usr/local/lib/python3.6/site-packages/MySQLdb/cursors.py", line 374, in _do_query
    db.query(q)
  File "/usr/local/lib/python3.6/site-packages/MySQLdb/connections.py", line 277, in query
    _mysql.connection.que

[2017-12-15 00:19] saschafoerster commented on #705
Last but not least for today, but maybe also unrelated:

System check identified some issues:
WARNINGS:
?: (mysql.W002) MySQL Strict Mode is not set for database connection 'default'
	HINT: MySQL's Strict Mode fixes many data integrity problems in MySQL, such as data truncation upon insertion, by escalating warnings into errors. It is strongly recommended you activate it. See: https://docs.djangop

[2017-12-15 08:06] dnsmichi opened #717 "Add copyright/license header to source code files"
Hi,

I was looking into specific source code regions and used some code from there in a plugin. In terms of the license, this isn't an issue as it only can be Apache again. But granting the copyright is difficult - it should include the original author(s) and myself/my employer.

The source code doesn't contain a copyright header with license information. I'm not sure how the Python development gu

[2017-12-15 08:16] raphaelm commented on #717
Hi,

I really dislike them, but apparently there is a point. The Apache Foundation however, says that you should only mention the license there, not the copyright holder: https://www.apache.org/legal/src-headers.html#faq-exceptions

I'm not an expert on this stuff, so I don't know what would be *correct* here.

[2017-12-15 08:51] dnsmichi commented on #717
Hi,

I wouldn't call myself an expert either, just a few years of open source experience and lots of license discussions. I'm a friend of keeping things safe and relaxed, I don't want to start a license discussion here.

Reading your link, it suggests to apply a license header to let others know that this source file is your work, copyright and license included. This may not be the case if you jus

[2017-12-16 00:09] jfwiebe opened #718 "Staticfiles Update while updating Docker Container"
Hi!

It seems that when upgrading a docker container as described in the docs, the staticfiles (I am not a django expert but I assume that is the mechanism used?) won't be refreshed, so e.g. the newly introduced progress bar is not shown correctly. A simple `./manage.py collectstatic` (even with removing the old statics first) will result in generating new files but the links in the html-output wi

[2017-12-16 10:40] jfwiebe commented on #705
I have the same css problem after upgrading the container, see #718.

[2017-12-16 12:37] raphaelm commented on #718
Hi,

as soon as you set your own color for an event, event CSS is no longer processed using the ``staticfiles`` mechanism, no.

Does ``./manage.py updatestyles`` help? This command is responsible for generating the stylesheet. It is also run automatically when you do ``docker exec -it pretix.service pretix upgrade``.

[2017-12-16 17:43] raphaelm commented on #705
I was able to reproduce the problem and just released 1.10.1 which should fix the problem. Make sure to read the notes on docker installations at the end of the blogpost:
https://pretix.eu/about/de/blog/20171216-release-1101/

[2017-12-16 17:43] #705 closed

[2017-12-16 17:43] raphaelm commented on #718
I was able to reproduce the problem and just released 1.10.1 which should fix the problem. Make sure to read the notes on docker installations at the end of the blogpost:
https://pretix.eu/about/de/blog/20171216-release-1101/

[2017-12-16 17:43] #718 closed

[2017-12-16 17:48] raphaelm commented on #716
Maybe 1.10.1 fixes this problem as well. Make sure to read the notes on docker installations at the end of the blogpost:
https://pretix.eu/about/de/blog/20171216-release-1101/

[2017-12-16 19:39] jfwiebe commented on #705
Awesome! Will try it out this evening.
JF

[2017-12-16 20:24] saschafoerster commented on #705
Because I was working with a self-build docker-container (to get all the plugins I need, and sometimes even the ones, I don't really need), my line in the pretix.service-file was anyway:

instead of

I tried once to add stable to my line, but the build then failed.

I changed the line in the dockerfile following the blogarticle to:

without "all" at the end.

After the update and migration everyth

[2017-12-16 23:01] jfwiebe commented on #718
Worked! Thank you!

[2017-12-18 19:37] saschafoerster opened #720 "CSS for widgets seems incomplete"
We started our shop and used this plugin: https://github.com/jfwiebe/pretix-wp-plugin
We added CSS, JS and link to the ticket shop to sell tickets for Barcamp Bonn.
By mistake I have added the CSS from an earlier event (which seemed to work). But when I added the correct link, the CSS seems broken:
Here is the link to the old event (wrong link, but working css):
https://ticket.bonn.digital/bonndig

[2017-12-18 19:45] raphaelm commented on #720
Weird. Can you try changing the primary color of the event to see if it helps to re-generate that CSS?

[2017-12-18 19:53] saschafoerster commented on #720
Problem solved! Thanks!

[2017-12-18 19:53] #720 closed

[2017-12-18 20:08] saschafoerster opened #721 "Email check seems to run wild"
I don't know how the email-check works, but it makes our customers wonder. ;) We got two such reports today:
https://twitter.com/dailypia/status/942839885043552256

[2017-12-18 20:13] raphaelm commented on #721
The email check tries to find if e.g. the name of the customer is misspelled in the address, i.e. it takes the content of the name field, splits it into words, generates permutations of these words and checks for them in the email address.

I'm really unsure what goes wrong for your customers here, I haven't seen reports *that* crazy so far, I believe they appear now after my latest readjustments

[2017-12-18 20:57] Ahrdie commented on #714
Yes, I just tried it again; its reproducible. The same also happens, if you change your user timezone, one field below.

[2017-12-18 21:05] raphaelm commented on #714
Okay, I was testing with the wrong form. This explains why the mail is sent twice: If it detects an email address change, it sends the email to both the old and the new address, which is on purpose.

However, if I only change the language, I don't get any email at all, so I still can't reproduce and I'm really unsure why it detects the email address as changed.

[2017-12-19 10:28] Ahrdie commented on #712
Ok, I found it. Don't know how I missed it..
The only minor issue I have is, that there is no way for me to select all orders, that are not canceled.
In my usecase of pretix I'm pretty sure, that sooner or later everyone in my event will pay.

[2017-12-19 13:54] cjol opened #722 "Purchaser Authentication"
I need to sell tickets to a closed community. No one outside this community should be able to purchase tickets. Vouchers could be a solution for this, but it's clunky and they can be shared outside the community.

Instead, I would like to force registration/login before tickets can be purchased. This opens up a few possibilities:
- different user "types" who would have access to different products

[2017-12-19 16:34] raphaelm commented on #722
Hi,

thank you for your suggestion :)

This is currently not possible and will not be implemented in pretix. We had a complex concept of purchaser registration/login in pretix early on and completely removed it in 2015 because it was a big usability issue and did not add much value, so I don't see that it is coming back to pretix core.

Some of this can be done with vouchers, yes, but you listed t

[2017-12-19 16:34] #722 closed

[2017-12-19 17:13] #721 closed

[2017-12-19 17:18] Ahrdie opened #724 "[Plugin-Idea] Apple Pay"
As [Apple Pay](https://en.wikipedia.org/wiki/Apple_Pay) is an (for the consumer) easy desktop payment method, I would like to include the possibility to pay with it to the ticketshop.

Apple Pay: https://support.apple.com/en-us/HT201239

Example use of Apple Pay at [iPhoneblog](https://iphoneblog.memberful.com/checkout?plan=11485) by [memberful](https://memberful.com/help/how-to/enable-apple-pay/)

[2017-12-19 17:22] raphaelm commented on #674
Hi @sturzl, have you been able to try to solve this? :)

[2017-12-19 17:24] raphaelm commented on #724
Yes, that'd be great to have as a plugin!

[2017-12-19 17:25] raphaelm commented on #724
It even could be implemented as part of the Stripe plugin pretty easily into pretix core, probably: https://stripe.com/docs/apple-pay

[2017-12-19 19:42] koebi commented on #721
I can't reopen this, but I'd like/am in the process of investigating here. This seems like a fun bug to hunt down, and the algorithm intrigues me :)

[2017-12-21 11:13] koebi opened #726 "Remove spelling-directive for checkins"
In [the api documentation](https://github.com/pretix/pretix/blob/master/doc/api/resources/orders.rst), "checkins" might occurr both as the name of a variable, which shouldn't be changed, and a misspelling of "check-ins", in which case sphinxcontrib-spelling should notify us.

Therefore, it is not the best solution to add "checkins" to the spelling-directive for this file. Instead, a way to mark si

[2017-12-21 13:28] #708 closed

[2017-12-26 17:48] koebi opened #727 "Consistent spelling of Add-on or addon"
As of now, this doesn't seem to be too consistent. I'll have a look into this and report back with viable options :)

[2017-12-30 14:59] loelkes opened #728 "Update via Docker does not work"
# Context

Installed pretix with docker following the installation guide by the letter. For some reason i got the Version 1.9.0.dev0.

# What I did
Following the update guidelines I did
`# docker pull pretix/standalone:stable`

`# systemctl restart pretix.service`

`# docker exec -it pretix.service pretix upgrade`

Running the migration didn't change anything.

# What I got
Nothing changed.
<img w

[2017-12-30 16:20] raphaelm opened #729 "Regenerating order secrets does not flush the ticket cache"

[2017-12-31 10:48] felixrindt commented on #709
This issue could be closed I guess.

[2017-12-31 11:03] felixrindt opened #730 "Add Date, Time and Datetime Question Types"
I'd like to add time related question types to ask for things like birthday, time of arrival or some other event related point in time.

[2017-12-31 11:15] felixrindt opened #731 "Payment fee formatting in payment selection form"
When the user is in checkout and selects a payment method, if a payment fee is negative, e.g. -4.00, it is dislayed with a prefixed + sign. It should just be a minus.

Also I think that the '+ 0.00 EUR' looks very bulky and numbery. Maybe the font for these fees could be a little smaller?

![screenshot from 2017-12-31 12-10-19](https://user-images.githubusercontent.com/5970076/34461152-9f8c004c-ee

[2017-12-31 14:39] raphaelm commented on #731
The "+ -" thing is obviously a bug. The formatting looks indeed weird on your screenshot, the baseline should match with the name of the payment method and be aligned to the right. What browser are you using?

[2017-12-31 14:40] raphaelm commented on #709
Yep, thanks!

[2017-12-31 14:40] #709 closed

[2017-12-31 14:41] raphaelm commented on #728
You probably are affected by a tutorial bug that we explained in more detail here: https://pretix.eu/about/en/blog/20171216-release-1101/ in the section "Documentation bug in the Docker installation tutorial". Feel free to reopen this issue if that is not the reason.

[2017-12-31 14:41] #728 closed

[2017-12-31 14:45] raphaelm commented on #727
In an offline discussion, @koebi and I decided that "add-on" would be correct.

[2017-12-31 14:52] felixrindt commented on #731
Recent Chrome and firefox-developer aswell as chrome on Android.

[2017-12-31 15:00] raphaelm commented on #731
Does it look the same on https://pretix.eu/demo/democon/ ? Using Chrome, I get
![download](https://user-images.githubusercontent.com/64280/34462410-a579cad2-ee43-11e7-9984-203ec4e87aa3.png)

[2017-12-31 15:24] felixrindt commented on #731
Just checked out a fresh pretix copy. Formatting was like in your screenshot, so I must have gotten something wrong there. So there's just the +/- thing.

[2017-12-31 16:43] loelkes commented on #728
Yup, thanks. Fixed it.

[2017-12-31 17:05] felixrindt commented on #731
Here"s what I've found regarding the alignment.

I had installed a copy of pretix on an uberspace and created an event around 2 weeks ago. From the beginning, payment fees weren't right-aligned. Now, when using a freshly cloned version of pretix (but same database, data and setting) the fees are still not right aligned. I created a new event, and it had the correct alignment.

I can't see how some

[2017-12-31 17:14] raphaelm commented on #731
As soon as you change the "display settings" of an event, the event shop will no longer load the CSS that shipped with pretix, but a CSS file that is generated specific for that event. Therefore, after every upgrade of the pretix codebase, these CSS files need to be re-rendered manually with ``python manage.py updatestyles``

[2017-12-31 17:48] felixrindt commented on #731
Regarding the alignment errow: I regenerated the css in the data/media directory by changing the organizer color. Looks fine now, although I still don't know how it got corrupted.

[2017-12-31 23:21] #731 closed

[2017-12-31 23:27] #729 closed

[2018-01-01 13:12] raphaelm commented on #731
I do, it's simple. The old CSS file was created with an older version of pretix, and the markup and default CSS of this part has recently changed ;)

[2018-01-02 12:33] Ahrdie opened #734 "Additional "payment information" placeholder in email page"
Possibility to use payment information as a placeholder in the "Send out emails" page.
This would be useful, if the payment info or Total sum changes.

[2018-01-03 17:11] felixrindt opened #735 "listing of event with subevents on organizer page irritating"
When creating an event with subevents you need to provide a `date_from` date. Since there are multiple dates, this can be used for the timespan the workshops take place in. For example, an art club does 4 painting workshops every February, it could set the event date from Feb 1st to Feb 28th and have the individual workshops as subevents with the actual start times.

On the organizer page, events

[2018-01-06 21:43] raphaelm opened #737 "Release checklist 1.11.0"
- [x] Deploy to pretix.eu
- [x] Check translations
- [x] Squash migrations and test them
- [x] Prepare blogpost
- [x] Bump version in ``src/pretix/__init__.py``
- [x] Check that dependencies in setup.py match requirements.txt
- [x] Create git branch
- [x] Create git tag
- [x] Upload PyPI package (sdist and wheel, make sure they are cleanly built)
- [x] Create tag on docker hub
- [x] Check if any o

[2018-01-07 10:53] #737 closed

[2018-01-08 11:44] LiaraAlis opened #738 "Control panel: Shop button with custom organizer domain; Site not secure"
If a organizer has a custom domain, in the control panel of a organizer event the "Go to shop" button-form points to the `http://`- Domain, so the connection to site is marked as insecure and the button is no longer working.

[2018-01-08 11:49] raphaelm commented on #738
That must be a problem with your setup. Either SITE_URL in your pretix.cfg does not have HTTPS protocol or your reverse proxy does not set ``X-Forwarded-Proto: https`` correctly.

[2018-01-10 10:53] felixrindt opened #740 "rendering issue with decade selection in date picker"
While trying out the datepicker in the event settings view I saw this.
![screenshot from 2018-01-10 11-26-57](https://user-images.githubusercontent.com/5970076/34768739-0e42831e-f5fc-11e7-929c-03f6ca15a895.png)

As you can see, the year ranges are seperated by a big vertical gap. What I expected to see was this

![screenshot from 2018-01-10 11-36-37](https://user-images.githubusercontent.com/59700

[2018-01-11 11:04] LiaraAlis commented on #738
@raphaelm Oh, you're right. The site url in the `pretix.cfg` file was configured with the `http` protocol.
Thanks for your help!

[2018-01-11 11:04] #738 closed

[2018-01-13 20:40] td00 opened #741 "Migration fails"
Migration fails
`django.db.utils.OperationalError: (1050, "Table 'pretixdroid_appconfiguration' already exists")
`
Version 1.11.0

[2018-01-13 20:43] td00 commented on #741
How to upgrade to a specific version in manual deployment?
Like 1.10?
Want to upgrade an old 1.6 instance.

[2018-01-13 21:16] rixx commented on #741
Depends on your installation method ;)
If you use pip, you can install a specific pretix version with `pip install pretix==1.10`.

[2018-01-13 21:27] td00 commented on #741
Still the same issue in Version 1.10 :/
Any quick fix?

[2018-01-14 10:08] raphaelm commented on #741
I believed this is a bug in 1.11 until now. Can you post a full stacktrace?

[2018-01-14 12:54] #634 closed

[2018-01-14 13:16] raphaelm commented on #740
Maybe a broken line-height or something?

[2018-01-14 13:21] #712 closed

[2018-01-14 13:27] raphaelm commented on #735
Yeah, this is one of the issues with event series. In principle, the ``date_from`` and ``date_to`` attributes of an event series are rarely ever useful. That's why

* in the calendar view, we flatten the hierarchy and display subevents along with regular events. This is hard to do in a list, because it breaks pagination
* in the backend list view, we discard date_from and date_to and instead use t

[2018-01-14 13:28] raphaelm commented on #712
I added a new option and even made it the default, as I believe it is the same for most events.

[2018-01-14 14:11] felixrindt commented on #730
PR #732 solved this.

[2018-01-14 14:11] #730 closed

[2018-01-14 18:03] raphaelm commented on #741
https://pretix.eu/about/en/blog/201801014-release-1111/ should fix it

[2018-01-14 18:03] #741 closed

[2018-01-14 18:04] raphaelm commented on #741
If you already ran into the bug, you might need to manually drop the pretixdroid_appconfiguration table in the database

[2018-01-15 11:34] JindalMohit commented on #674
Hi, I want to solve this issue. Can you tell me which files need to be changed and how to make unresolved transactions?

[2018-01-15 11:47] raphaelm commented on #674
I linked the file above. I guess you just need to change the ``code.split('-')`` to ``code.rsplit('-', 1)``. Testing it is harder, you'd need to
* create an event with a ``-`` in the slug
* create a product and quota
* perform an order
* enable the bank transfer plugin
* upload any CSV file via the bank import (you can find sample CSV files in the test folder of the banktransfer plugin, if you wan

[2018-01-15 12:35] JindalMohit commented on #674
I have tested as you suggested above. Working Fine. No error was shown

[2018-01-15 13:10] #674 closed

[2018-01-15 19:30] JindalMohit commented on #735
Hi, I want to solve this issue. Can you please help me how to make sub-events of an event. I know how to create an event, but I did not find out any option to make sub-events.

[2018-01-15 19:33] raphaelm commented on #735
You need to select "event series" during event creation, subevents are named "dates" in the interface. You can read more here: https://docs.pretix.eu/en/latest/user/events/subevents.html

[2018-01-15 19:34] felixrindt commented on #735
![screenshot-2018-1-15 create a new event pretix de](https://user-images.githubusercontent.com/5970076/34958732-6bdb250e-fa33-11e7-9fdf-5c3f96fb5796.png)

Make sure you tick "This is an event series". You will then be able to define multiple dates for a series of events who share most of the attributes.

[2018-01-15 23:13] felixrindt commented on #100
Isn't this already implemented as seen on https://pretix.eu/about/en/features/shop ?

[2018-01-16 11:36] raphaelm commented on #100
Yep, this is implemented by now :)

[2018-01-16 11:36] #100 closed

[2018-01-16 12:31] felixrindt commented on #100
I think many feature idea issues (mostly really early ones like #48) have already been fixed. Maybe you should look through them and close them.

[2018-01-16 13:51] JindalMohit commented on #735
On the organizer page, all the events are not shown. Can you please tell me where is the problem:
![screenshot from 2018-01-16 19-08-37](https://user-images.githubusercontent.com/16673210/34991724-a1b55f10-faf0-11e7-9f3f-e5253e1cbcae.png)
![screenshot from 2018-01-16 19-08-53](https://user-images.githubusercontent.com/16673210/34991726-a422d994-faf0-11e7-9d8b-fd1b4656a3d0.png)

[2018-01-16 14:03] felixrindt commented on #735
Do you have the `public` option enabled for all of them?

![screenshot-2018-1-16 painting workshop pretix de](https://user-images.githubusercontent.com/5970076/34992749-70133e0e-face-11e7-975c-6f93c9357f48.png)

[2018-01-16 15:09] sylvinus opened #747 "Download reminder email uses wrong logging ID"
Not very important but:
https://github.com/pretix/pretix/blob/master/src/pretix/base/services/orders.py#L649

[2018-01-16 15:25] felixrindt opened #748 "Markdown Doc underscore italics"
At https://docs.pretix.eu/en/latest/user/markdown.html, one sees this:

![screenshot-2018-1-16 markdown guide pretix 1 12 0 dev0 documentation](https://user-images.githubusercontent.com/5970076/34996340-9b3ae6d0-fad9-11e7-8daa-7dc5334c714f.png)

As you may see, the underscores didn't emphasize the text.

[2018-01-16 16:46] #48 closed

[2018-01-16 16:53] raphaelm commented on #747
Yep, this should be ``pretix.event.order.email.download_reminder_sent`` instead of ``pretix.event.order.email.expire_warning_sent``. Also, https://github.com/pretix/pretix/blob/master/src/pretix/control/logdisplay.py would need a proper human string for that then :)

[2018-01-16 16:53] raphaelm commented on #748
Just to be sure, they do in pretix, right? Just the docs sample is wrong?

[2018-01-16 16:57] #123 closed

[2018-01-16 16:58] #138 closed

[2018-01-16 16:59] #368 closed

[2018-01-16 17:02] #591 closed

[2018-01-16 17:03] #665 closed

[2018-01-16 17:03] #670 closed

[2018-01-16 19:07] felixrindt commented on #748
It does work in Pretix. Just the docs are misleading ^^

[2018-01-17 10:24] felixrindt commented on #748
We could

1. Fake the italics by writing `Please *really* pay your *ticket*.` I don't like this because it could confuse readers of the doc source.
2. Remove the hint about using underscores. I don't like this because the user should now about them.
3. Fix the markdown rendering. That's a bit harder, but probably the best solution.

[2018-01-17 10:34] raphaelm commented on #748
That's what I had in mind.

Would also work for me, to be honest.

Nope. The docs are not markdown, they are restructured text. This is probably not even a "bug" and we won't ship our own docs renderer.

[2018-01-17 10:34] raphaelm commented on #748
Another option: Use raw HTML in the docs. This is probably the best solution ;)

[2018-01-17 10:36] felixrindt commented on #748
I like that, too.

Right ^^

[2018-01-17 11:15] #747 closed

[2018-01-17 11:15] #748 closed

[2018-01-17 13:36] felixrindt opened #751 "order_free email send with non-free payment provider"
When only buying free products, pretix skips the payment checkout step and uses the `FreePaymentProvider` (identifier `free`). It then sends the email `event.settings.mail_text_order_free`. So far so good.

What if someone (read "I") is using a payment provider with `-100%` payment fee?
(e.g. if one is a member of a club, they get in for free)
When the customer has a cart with value > 0, you can s

[2018-01-17 13:42] felixrindt commented on #751
I'm working on writing a PR, including a regression test...

[2018-01-17 13:55] raphaelm commented on #751
Then, that someone, is kind-of abusing the payment provider system, as we discussed in person 😉 I believe in this case vouchers or separate products (and then maybe payment providers limited to certain products etc.) should be used, but I do understand your reasons and if it is really solvable by an easy change, I think we'll do the change.

I think we can do that change. I'm a bit reluctant since

[2018-01-18 10:31] JindalMohit commented on #735
I have done the changes in [https://github.com/pretix/pretix/blob/master/src/pretix/presale/views/organizer.py](url).

Output:
![screenshot from 2018-01-18 15-59-32](https://user-images.githubusercontent.com/16673210/35093456-71226a9a-fc68-11e7-9314-18382840a33c.png)
![screenshot from 2018-01-18 15-59-45](https://user-images.githubusercontent.com/16673210/35093461-7510845c-fc68-11e7-8a61-c0ea41180

[2018-01-18 13:56] felixrindt opened #754 "Error when adding item with no tax rule and custom price to order"
I have an event series with a single product, for which I did not configure any tax rule. When trying to add a product to an order with a custom price, I get an Error.

https://github.com/pretix/pretix/blob/fc7bafe3d98b499f9ae2b2fe4f17e79552b62e4c/src/pretix/base/services/orders.py#L777

`item.tax_rule` is `None`, so the function call fails.

[2018-01-18 21:04] felixrindt commented on #751
After discussing this, we came to some conclusions:

- Changing pretix is fine, as long as existing supported behavior is not affected
- Not only should the correct email be send, but the order's status and payment provider should not change through adding or removingn products using the admin interface. For this, some more things in [orders.py](https://github.com/pretix/pretix/blob/master/src/pre

[2018-01-19 16:44] JindalMohit commented on #735
@felixrindt Please review the changes made by me.

[2018-01-19 23:49] felixrindt commented on #735
Just did. I also shared my ideas about how the value in the date column could work.

I don't have a good idea for that, yet.

[2018-01-21 12:36] raphaelm commented on #754
That's bad, OrderChangeManager should respect that. Although I'm thinking about deprecating tax_rule=None at some point, it is too easy to forget setting one and having a tax problem…

[2018-01-22 00:12] felixrindt opened #757 "TypeError when redeeming voucher at subevent overview"
**What I did** 🔧
I have an event series called `testseries` under the organizer `bigevents`. Naturally, the event can be seen at `http://localhost:8000/bigevents/testseries/`.

I have a voucher for the event with subevents `testseries` which is not tied to a specific subevent. I paste the voucher code in the field on `http://localhost:8000/bigevents/testseries/`.

**What happened** 💥
I get a type

[2018-01-22 00:16] felixrindt commented on #757
I just saw that the service Django is uploading the stacktraces to expires them after a day, so here's the trace again:

Request URL: http://localhost:8000/bigevents/testseries/redeem?voucher=NZL45DWD342PZ8MH&subevent=

Python Version: 3.6.4
Installed Applications:
['django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.messages',
 'django.contrib.stati

[2018-01-22 11:53] #751 closed

[2018-01-22 17:09] felixrindt opened #758 "getting payment form information in order pending mail"
So I have this payment provider which uses `payment_form_fields` to get information from the user. As this information is needed later, I save them from the request to the order payment information in `payment_perform` as advised in `https://docs.pretix.eu/en/latest/development/api/payment.html`. Now I want to use the `order.payment_info` at `order_pending_mail_render`.

`payment_perform` is calle

[2018-01-22 17:24] raphaelm commented on #758
Apparently, you currently can not access this data there and I don't really see an easy way to fix that, as it is currently only persisted to the session, which is not available in the async thread that actually creates the order. We would need a mechanism similar to ``pretix.presale.signals.order_meta_from_request``, but for ``payment_info`` and pull it through all the layers like we do with ``or

[2018-01-22 21:45] felixrindt commented on #758
I got it working using the `order_meta_from_request`, but yea, it's not really nice. Sending a second mail would be another option, but the render pending mail function exists for this kind of integration.

[2018-01-26 08:09] #400 closed

[2018-01-26 11:44] #190 closed

[2018-01-26 11:44] #472 closed

[2018-01-26 14:08] bpcurse opened #762 "Add first start reminder that events cannot be deleted"
As probably many users will create test events before going "live" and events cannot be deleted afterwards a splash screen with this information on first start would be helpful.

[2018-01-29 11:25] #762 closed

[2018-01-29 11:28] raphaelm commented on #678
As of 0b12b7a, you can delete events that have not yet received any orders or created any invoices.
Just to be clear, here are my future plans:

* There **might** be a "shred personal data" mode which anonymizes all data but does keeps all numbers intact, if that seems to be legally possible.

* The **might** be a way to "archive" an event, making it read-only and hiding it from some lists, althou

[2018-01-29 11:29] raphaelm commented on #762
Thanks, I added such a note. Also, deletion is now possible until the first order has been placed.

[2018-01-29 23:47] samirfor opened #764 "Refused to execute a script because its hash, its nonce, or 'unsafe-inline' does not appear in the script-src directive of the Content Security Policy."
Refused to execute a script because its hash, its nonce, or 'unsafe-inline' does not appear in the script-src directive of the Content Security Policy.

Nobody can buy a single ticket.

It get stuck on ⚙...

![captura de tela 2018-01-29 as 20 46 15](https://user-images.githubusercontent.com/2769423/35540635-92c3ad14-0535-11e8-9989-4ce110dab9ab.png)

From csp.log:

[code]

[2018-01-30 17:24] prakharcipher commented on #740
I'd like to pick up this issue.

[2018-01-30 17:26] raphaelm commented on #740
@prakharcipher It seems @LeonardoChrivi already found a solution

[2018-01-31 08:22] raphaelm commented on #764
I've thought about this for a moment but I don't think I want to spend my time providing free support for someone who patches the "powered by pretix" out of the software.

[2018-01-31 08:22] #764 closed

[2018-01-31 12:59] bobapple opened #765 "Update docs with P3P support"
On my website I'm using the Pretix widget to allow users to buy tickets. While testing with Internet Explorer 11 I came across a behaviour where the browser wouldn't accept a cookie from the ticket system.

It turned out to be an issue with something called `P3P` (which I never heard before). Anyways, I had to set a custom header before IE11 accepted the cookies. Maybe you want this in the docs so

[2018-01-31 13:06] raphaelm commented on #765
Oh wow, I also never heard of this. Does this need to be set on the embedding website or on the widget itself?

I did test the Widget with various IE versions before releasing it and I remember it to work fine.

[2018-01-31 13:22] bobapple commented on #765
I had to set this on the server where Pretix is running. I'm using Apache2 as reverse proxy. Maybe it also depends on the security settings of IE, I'm not very familiar with it. I tested with the most restrictive scale of security settings.

Also, I wasn't able to reproduce this with any other browser. Regarding IE, I did not test with versions older then 11. Edge works fine btw.

[2018-02-01 07:53] bobapple commented on #765
Related to this: When the Pretix ticket shop is embedded with the widget, the cookies of it are identified as "third-party" cookies if the domain of the shop differs from the website. In this case the iframe that is opened by the widget adds items to the cart, but the cart is not displayed to the user. Third party cookies are sometimes blocked in some environments, either by company policies, adbl

[2018-02-01 15:29] raphaelm commented on #765
I had a separate request on a similar topic. Unfortunately, we can't really detect that before we open the iframe containing the popup (since the cross-origin requests are always sent without cookies) and after we opened the iframe, we can't decide to open the shop in a new tab any more (any browser's popup blocker would interfere).

Therefore, I don't see a real fix right now and pushed a mechani

[2018-02-01 15:32] bobapple commented on #765
This helps already a lot, thank you. Can the warning message also include a link to the shop? The user could then just open the shop directly and buy the tickets there.

[2018-02-01 15:39] raphaelm commented on #765
It does :)

[2018-02-03 13:10] raphaelm opened #766 "Release 1.12"
- [x] Deploy to pretix.eu
- [x] Check translations
- [x] Squash migrations and test them
- [x] Prepare blogpost
- [x] Bump version in ``src/pretix/__init__.py``
- [x] Check that dependencies in setup.py match requirements.txt
- [x] Create git branch
- [x] Create git tag
- [x] Upload PyPI package (sdist and wheel, make sure they are cleanly built)
- [x] Create tag on docker hub
- [x] Check if any o

[2018-02-03 16:15] #766 closed

[2018-02-05 10:24] rixx opened #767 "Find order for specific answer"
If you have an answer type of text (one-line or multiline) or multiple choice with "other" option, you'll get answers like "Yes, but contact me if this is an issue" or "I'd love to, please tell me about future developments". It's hard to contact that person, and there's no way to find the correct order short of exporting all orders and looking in the export.

What I could imagine to be a feasible

[2018-02-05 10:25] raphaelm commented on #767
Very good point indeed

[2018-02-09 14:37] prakharcipher commented on #734
I'd like to fix this. Can you please tell me where the source code file for this fix is located?

[2018-02-18 23:36] FeaturedBugs opened #772 "Checkbox for cost-free tickets in checkout-process nearly transparent"
In Firefox 58.0.2/Android in the checkout-process of the user for a cost-free ticket (its called GRATIS) the checkbox is nearly invisible.  Thus, its hard for the user to continue with the check-out process on the mobile device.
See attached screen from FF58.0.2/android:

![checkbox](https://user-images.githubusercontent.com/36610587/36358265-f7c0e21e-150b-11e8-8982-48f355d3b4ae.jpg)

In Chrome, t

[2018-02-19 14:47] Duncanio opened #773 "Error when logging in as a super user - Please help."
Hi all,

I hope you can help me.I have just had Pretix installed on my server under cloudlinux.
The issue I have is that when I log in as a super user e.g admin@localhost, I get an Internal Server Error.
If I then use the back button a couple of times, I can get a screen up and view users but can not view organizers or set one up, therefore rendering Pretix unusable as I can't set up my first orga

[2018-02-19 16:06] raphaelm opened #774 "Question options should be sortable"

[2018-02-20 10:51] MaicoTimmerman opened #775 "External authentication (LDAP, OAuth)"
We'd like to use pretix in our current system, however we would like to share credentials between our main system and pretix, such that we do not have to create separate organization accounts for all our users in our organisation.

For example, we could implement the OAuth2 Password grant. Where we allow the user to login using their username and password, which pretix will check against the OAuth

[2018-02-20 11:13] raphaelm commented on #773
Did this really happen right from the beginning?

The weird thing is, this looks like you already created an event, but one with an empty slug (which should not be possible). What database system are you using? Is it feasible to try deleting the database and starting from scratch again?

[2018-02-20 11:16] raphaelm commented on #775
I see why this would be useful. However, it wouldn't save you from creating organization accounts and them assigning teams and permissions to the users, am I right?

[2018-02-20 11:23] MaicoTimmerman commented on #775
The important note there is, we are not dealing with user credentials and secrets. For permissions we could assign them manually or create some push/pull method.

[2018-02-20 11:47] Duncanio commented on #773
Yes though the first thing I did was register a new user (rather than as the documentation says go in as Admin and create an organizer).  It is a mysql database.
There are rows in pretixbase_event, pretixbase_logentry and pretixbase_organizer (pics attached)
Am I right in thinking that the only rows that should be there initially are the rows in pretixbase_logentry that relate to the Admin login?

[2018-02-20 11:53] raphaelm commented on #773
Yes. The event and organizer rows should absolutely not be there and I have no idea how that happened. You can try deleting them or just starting again from scratch.

[2018-02-20 12:54] Duncanio commented on #773
I've deleted all rows from pretixbase_event and pretixbase_organizer and I can now log in and have created an organizer.
Fantastic, many thanks Raphael.

[2018-02-20 13:28] #773 closed

[2018-02-21 11:39] felixrindt commented on #757
I think not showing the Voucher redeem section if an event has subevents, but no subevent was selected yet, would be the most obvious fix.

Would you prefer not having the voucher section at all or just a text saying that a date must be selected before a voucher can be redeemed?

I don't think that a hint like the following is necessary...
![screenshot-2018-2-21 presale painting workshop](https://

[2018-02-21 13:48] felixrindt commented on #754
Resolved in #776

[2018-02-21 13:48] #754 closed

[2018-02-21 17:13] felixrindt opened #779 "Check-in list include unpaid option in subevent detail view"
All properties of a check-in list linked to a subevent can be altered in the subevents detail view. The option `include unpaid` is new, but can't be edited there.

This also has the effect that when duplicating a subevent, the attribute value `include unpaid` of the check-in list isn't copied over to the form.

[2018-02-22 08:39] bobapple opened #780 "Invoice displays wrong event date"
The invoice of a subevent displays the date of the "main" event. I would expect it to display the date of the subevent.

References:
https://github.com/pretix/pretix/blob/master/src/pretix/base/invoice.py#L292

https://github.com/pretix/pretix/blob/master/src/pretix/base/models/event.py#L66

[2018-02-22 08:43] raphaelm commented on #780
Agreed, at least in the case when all positions on the invoice belong to the same subevent.

[2018-02-22 08:44] raphaelm commented on #779
Good catch! Do you want to submit a PR? :wink:

[2018-02-22 08:48] felixrindt commented on #779
Yes :)

[2018-02-22 08:49] felixrindt commented on #757
Solved in #777

[2018-02-22 08:49] #757 closed

[2018-02-22 17:23] felixrindt opened #782 "Selection of checkin lists for export cumbersome"
Pretix often lets the user select a Subevent to filter orders or checkin lists. It uses Select2 to show a searchable select box, which is really handy.

![screenshot from 2018-02-22 18-15-43](https://user-images.githubusercontent.com/5970076/36553383-771e396a-17fc-11e8-9af0-b4c2a729f836.png)

When trying to export check-in lists though, the user is shown a scrollable radio button list. I used `yyy

[2018-02-22 17:29] raphaelm commented on #782
Good idea! Not only for the export, but also for creating pretixdroid configurations etc.

[2018-02-23 10:00] raphaelm commented on #99
With #783 we support 0..2 decimal places. Supporting 3 will be much harder, but only affects:

* Bahraini dinar (BHD)
* Iraqui dinar (IQD)
* Jordan dinar (JOD)
* Kuwaiti dinar (KWD)
* Libyan dinar (LYD)
* Omani rial (OMR)
* Tunesian dinar (TND)

Source: https://stackoverflow.com/questions/2701301/various-countrys-currency-decimal-places-width-in-the-iphone-sdk

[2018-02-23 15:37] Duncanio commented on #773
Yes it did.   The only thing I did was register a new user straight away (when the documentation says go in as admin and create an organizer).

I’m using a mysql database.  Do you mean delete the entire database or the rows from the tables with the event in?   How would I recreate the DB if I delete it?

Thanks, I really appreciate you help.

Duncan

From: Raphael Michel [mailto:notifications@gith

[2018-02-23 15:48] felixrindt commented on #782
These are the two **other** places I found that could benefit from a searchable list.

## Checkin lists when creating a checkin app configuration
![screenshot from 2018-02-23 14-41-35](https://user-images.githubusercontent.com/5970076/36602232-cf976786-18b7-11e8-8388-be61867285e8.png)

## Quotas when creating vouchers
Again, quotas should be annotated with their corresponding date.
![screenshot fr

[2018-02-23 17:30] felixrindt opened #785 "Show ticket availability in (sub)event list"
#### Situation
Imagine an event series with many dates of which many are sold out. A potential customer now needs to click through every subevent to find one which is not sold out (in the lists or calendar view).

![screenshot from 2018-02-23 18-11-07](https://user-images.githubusercontent.com/5970076/36607055-c6d27bfa-18c5-11e8-94ab-348bcd524857.png)![screenshot from 2018-02-23 18-23-28](https://

[2018-02-23 22:59] rixx commented on #785
Great idea, that'd definitely be good to have, UX wise.

In minor niggle comments: I'd prefer labels of "Tickets on sale", "Waiting list available" "Sold out" ein green, orange, and red respectively (since as you said, we wouldn't want people to overlook an active waiting list).

[2018-02-25 21:08] raphaelm commented on #785
I totally want this, ever since we have the calendar or list view and it is also something requested by some customers. Not only for subevents, but also for the organizer-level list of events. I've given this some thought already and I did not implement it yet for the following reasons:

For every event, we need to determine the available products. As you suggested, we might or might not want to r

[2018-02-25 21:35] rixx commented on #785
I appreciate the complexity of calculating those quotas, thank you for the detailed write-up. :star2:

I don't agree that crude caching is an issue here. While I agree that on the actual shop page of a single event we should never show something as available when it isn't, I don't think the same applies to overview pages such as calendars, sub-event lists etc. Having their status five minutes out

[2018-02-25 21:41] raphaelm commented on #785
Showing "sold out" while tickets are in fact available would be a major source of frustration, I guess (way more than the other way round, at least).

[2018-02-25 21:49] felixrindt commented on #785
Again, thanks for your thoughts and comments.
what about something like this:

![screenshot from 2018-02-25 22-37-30](https://user-images.githubusercontent.com/5970076/36646776-8f616010-1a7c-11e8-8076-6615db0dbbb5.png)

Would this be helpful for a user? Since tickets might become available again anyway (e.g. if a cart runs out), having a long cache time might be problematic. This on the other hand

[2018-02-26 09:17] #779 closed

[2018-02-26 15:06] tabascoeye opened #787 "Further restrict access to 2FA settings"
1. after registering a new device, the 2fa is still not active, which was confusing to me. I would automatically activate it after the first device was registered successfully (imho)
2. logged-in session can deactivate 2fa without being asked for any credentials or a current 2fa token
3. logged-in session can delete an associated 2fa device without being asked for any credentials or current 2fa to

[2018-02-26 16:53] tabascoeye commented on #787
I just saw that each change of the profile leads to a (warning) mail being sent. Thats good, but imho not enough.

[2018-02-27 00:29] Duncanio opened #789 "Cache Clearing ?"
Hi,

Thanks in advance for any help.

I have made an amendment to checkout_confirm.html file and uploaded to my server.  I then amended it a couple times more but now the latest change is not showing at all.  If I click browser refresh (repeatedly) on the Review Order page it cycles through a few old versions but never shows the newest.
I'm guessing there is a cache that needs to be cleared but we

[2018-02-27 22:42] felixrindt commented on #789
Have you tried `./manage.py rebuild`?

[2018-02-28 11:04] Duncanio commented on #789
Hi thanks, I haven't.  I haven't actually got a manage.py.