[2014-10-17 15:43] raphaelm opened #4 "User settings"
Implement the user settings dialog
* Change password
* Change e-mail address
* Change name, etc.

[2014-10-17 15:44] raphaelm opened #5 "'Password reset' feature"
A 'password reset' feature should email the user a token to reset his or her password.

[2014-10-17 15:45] raphaelm opened #6 "Creating events"
We already have ``tixlcontrol.views.event.EventUpdate`` but no process for creating new events. For the beginning, this can be a simple creation form.

Later, this should become a multi-step wizard enabling users to select from multiple presets to initialize the event with.

[2014-10-17 15:46] raphaelm opened #7 "Creating items"
We already have ``tixlcontrol.views.item.ItemUpdate`` for changing items. It should be easy to implement ``ItemCreate`` in a similar matter.

[2015-01-06 10:50] raphaelm opened #8 "Build the whole frontend"
- [x] Cart / Checkout
- [x] Login
- [x] Viewing and changing orders
- [ ] Downloading tickets
- [ ] Forgot password, etc.

[2015-01-06 10:50] raphaelm opened #9 "Control panel: Build a nice dashboard"

[2015-01-06 10:51] raphaelm opened #10 "Control panel: Allow to inspect/control orders"
- [x] List of orders
- [x] Order details
- [x] Switching between order states
- [ ] ~Switching payment methods~
- [ ] Expand payment term

[2015-01-06 10:51] raphaelm opened #11 "Implement quotas"
- [x] When adding things to cart
- [x] When submitting an order with expired card positions
- [x] When receiving payments for an expired order

[2015-01-06 10:52] raphaelm opened #12 "Import of payment data"
The admin panel should be able to import CSV files to process payments. See the [statementmagic](https://github.com/tixl/statementmagic) subproject.

[2015-01-06 10:53] raphaelm opened #13 "Think about ticket PDF generation"
* XeLaTeX – bloaty, but produces nice output
* fpdf – nope, crappy software
* SVG – unable to do word wrapping, but this might be the only blocker

[2015-01-11 16:10] #7 closed

[2015-01-18 18:38] raphaelm opened #14 "Django 1.8 compatibility"
We want to move to Django 1.8a1 as soon as possible, as we want to use the new template engine features as early as possible (and maybe move to Jinja2). However, the following issues block the move:

- [x] Django debug toolbar issue [#668](https://github.com/django-debug-toolbar/django-debug-toolbar/issues/668)
- [x] cleanerversion issue [#46](https://github.com/swisscom/cleanerversion/issues/46)

[2015-02-18 18:58] raphaelm opened #15 "Implementation of settings like 'start time of presale'"
- [x] Start and end time of presale
- [x] End of payment period
- [ ] Start of ticket downloading period

[2015-02-18 18:58] raphaelm opened #16 "Data internationalisation"
Internationalisation features for item names, categories, …

[2015-03-04 10:37] raphaelm opened #17 "New event-level/organizer-level settings"
The ``EventSetting``/``OrganizerSetting`` models provide a way of storing event-like settings.

- [x] Use them for more things that are currently fields of the ``Event`` model (payment term, plugins, …)
- [x] Provide a form/UI for changing them

[2015-03-04 11:13] raphaelm opened #18 "Beautiful UI for checkout process"
- [x] Stepping back or forward
- [ ] Answering questions for multiple items: Accordion members should have a 'continue' button and open the next one automatically
- [ ] Proper field error reporting for questions (accordion should open / be red)

[2015-03-04 11:15] raphaelm opened #19 "Required boolean question"
A required question of type boolean should require the user to select either Yes or No, but currently requires the user to select Yes (because the checkbox is otherwise not checked). A SelectInput could be the solution to this.

[2015-03-04 11:44] raphaelm opened #20 "Retain answers when re-adding items"
If you have an *expired* ``CartPosition`` and you try to add *something else* to your cart, pretix will try to renew all your ``CartPositions`` in order to have a common expiration time for all of them (for user convenience). Currently, this happens by them being removed and added like new positions. This loses all existing information like ``attendee_name`` or existion ``QuestionAnswer`` objects

[2015-03-06 13:57] raphaelm opened #21 "Currency/locale-aware floatformat/decimalformat"

[2015-03-06 21:21] raphaelm opened #22 "Correct handling of required=True"
Currently, when a payment provider defines input fields with required=True, they will be rendered with the required=required HTML attribute. This is bad, as there are often multiple payment providers on one page and the user shouldn't need to fill out _all_ of them.

[2015-03-07 12:07] raphaelm opened #23 "Tax handling for payment method fees"
Currently, tax rates are only specified on item-level. However, if a special payment method adds e.g. a credit card fee, this does not directly belong to a special item but might still need a tax rate configured.

[2015-03-12 20:59] raphaelm opened #24 "Cancel orders"

[2015-03-12 20:59] raphaelm opened #25 "Change question answers/attendee names"

[2015-03-12 20:59] raphaelm opened #26 "Refund processes"

[2015-03-12 21:27] raphaelm opened #27 "Send emails ticket purchase, payment, etc."

[2015-03-12 22:37] #24 closed

[2015-03-12 23:36] #14 closed

[2015-03-13 00:32] raphaelm opened #28 "Allow to replace the quota locking approach by a queue process"
For setups with high load

[2015-03-13 23:49] raphaelm opened #29 ""Shop is live"-Flag"
There should be a button or checkbox to take the whole shop up or down. If it is down, it should be only visible to the admin.

This might be easily implemented as a event setting.

In a second step, a checklist of actions might be enforced before going live, e.g. at least one payment provider selected.

[2015-03-13 23:59] raphaelm commented on #19
``tests.presale.test_checkout.CheckoutTestCase.test_boolean_required_question`` provides a test case for this bug.

[2015-03-14 00:06] raphaelm commented on #20
Test case: ``tests.presale.test_cart.CartTest.test_renew_questions``

[2015-03-14 12:33] raphaelm commented on #25
Fixed in 197fbbd

[2015-03-14 12:33] #25 closed

[2015-03-14 13:07] #8 closed

[2015-03-14 13:20] raphaelm opened #30 "Implement stripe as a payment provider"

[2015-03-15 14:31] raphaelm opened #31 "enable-Checkbox for payment providers is always checked"

[2015-03-15 16:14] raphaelm opened #32 "PayPal: Listen to WebHooks"
PayPal can mark payment objects as `pending`. We should check them for completion using web hooks. The same goes for refunds and therefore also for stripe.
https://developer.paypal.com/docs/integration/direct/rest-webhooks-overview/
https://stripe.com/docs/api#events

[2015-03-15 23:06] raphaelm opened #33 "Native support for re-trying payments"
…or changing the payment method later if it failed.

Re-try is currently implemented in the PayPal provider, but it would nice to implement it on a higher level for all providers (maybe based on flag providers can set).

- [x] Build new API
- [x] Implement API for stripe
- [x] Implement API for PayPal

[2015-03-15 23:56] raphaelm opened #34 "Stripe: Noscript version"
We currently use stripe.js, but we could use the traditional API for people without JavaScript.

[2015-03-16 00:33] #30 closed

[2015-03-16 22:54] raphaelm opened #35 "Microdata for search engines"
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2015-03-19 19:38] raphaelm opened #36 "Is Item.active/ItemVariation.active redundant with quotas?"

[2015-03-19 19:39] raphaelm opened #37 "Clever displaying of date ranges"
e.g. `Sep 5-9th` instead of `Sep 5th - Sep 9th` and similar

[2015-03-20 16:12] raphaelm opened #38 "Enable sorting in the list of orders"
The pretix control panel allows the administrator to view a list of all orders. It should be made possible to sort this list by various columns (like date, value, …) clicking on the table heads.

[2015-03-21 17:06] raphaelm opened #39 "Better integration of permissions"
- [x] Hide links the users has no permission for
- [x] Add an editor for event permissions
- [x] Add an editor for organizer permissions
- [x] Add a _nice_ editor for teams/permissions
- [x] Restructure permissions such that plugins can define them

[2015-03-21 21:27] #12 closed

[2015-03-22 08:03] raphaelm opened #40 "Document that PDF generation is unavailable for Python 3.2"

[2015-03-22 09:23] raphaelm commented on #13
Settled for reportlab.

[2015-03-22 09:23] #13 closed

[2015-03-22 09:23] raphaelm opened #41 "Ticket PDF layout editor"
- [x] Configurable positions and sizes
- [x] Own background PDFs
- [ ] Configurable fonts
- [ ] Drag&drop editor

[2015-04-01 07:17] raphaelm opened #42 "Configurable e-mail texts"

[2015-04-01 07:18] raphaelm opened #43 "Better possibility for local configuration"

[2015-04-01 07:19] raphaelm opened #44 "Optional use of a background task queue"
for
- [x] E-Mail sending
- [x] PDF generation
- [x] Exports

[2015-04-01 07:36] raphaelm opened #45 "E-mails: Possibility to send over admin-specified SMTP-server"

[2015-04-01 08:23] raphaelm opened #46 "Enable admin to send emails to all (un)paying users"

[2015-04-01 08:42] #27 closed

[2015-04-01 08:43] raphaelm opened #47 "Check i18n/timezones"
Are they being used correctly everywhere?

[2015-04-01 08:57] raphaelm opened #48 "Provide an UI for organizer-level settings"

[2015-04-01 09:55] #17 closed

[2015-04-01 10:23] raphaelm commented on #21
Works out of the box.

[2015-04-01 10:23] #21 closed

[2015-04-05 22:16] #16 closed

[2015-04-05 22:21] raphaelm opened #49 "Check versioned data"
Double-check that cleanerversion is used correctly everywhere.

[2015-04-06 10:58] #19 closed

[2015-04-06 11:30] #22 closed

[2015-04-06 11:39] #31 closed

[2015-04-06 11:54] #20 closed

[2015-04-06 14:09] raphaelm opened #50 "Improve handling of stripe API errors"
see https://stripe.com/docs/api#errors

[2015-04-06 14:24] #26 closed

[2015-04-06 14:40] raphaelm opened #51 "Allow rich text in product descriptions"
Currently, product descriptions and category descriptions only allow plain text.

This issue suggests to add support for Markdown markup to allow links and other simple formatting.

[2015-04-12 17:03] raphaelm opened #52 "Banktransfer: CSV import: Parse and normalize dates"
The biggest problem is to tell day-first (europe) from month-first (US).

[2015-04-12 21:38] raphaelm opened #53 "„Product-Add-Ons“"

[2015-04-14 14:15] raphaelm opened #54 "Allow the admin to 'force accept' payments"
Allow manuel EXPIRED->PAID status changes even if the quota is empty. This should show a warning message bevor the operation is performed.

It could also be possible to add an option to accept payments even thought the last date of payments has passed, see #192

[2015-04-14 14:21] #11 closed

[2015-04-14 15:37] raphaelm opened #55 "Datetime picker for datetime input fields"

[2015-04-14 16:00] #10 closed

[2015-04-15 21:19] raphaelm commented on #55
* https://eonasdan.github.io/bootstrap-datetimepicker/ Looks nicest, but has no support for seconds
* https://github.com/nkunihiko/django-bootstrap3-datetimepicker has nice Django integration but an old JavaScript library
* https://tarruda.github.io/bootstrap-datetimepicker/ Does support seconds

The hard part is to get it to use the same (locale-dependent) date format as the Django form component

[2015-04-15 21:30] #50 closed

[2015-04-16 07:36] raphaelm opened #56 "Language switcher UI component"

[2015-04-16 15:07] raphaelm opened #57 "Basic sale statistics"

[2015-04-16 15:43] raphaelm opened #58 "Passbook ticket download plugin"
Currently tickets can only be downloaded as PDF format, but we should allow tickets to be downloaded in Apple passbook/Apple Wallet format as well.

This can easily implemented as a seperate plugin in pretix/plugins using our ticket output hooks. The documentation for them is here: https://docs.pretix.eu/en/latest/development/api/ticketoutput.html

[2015-04-16 16:05] #15 closed

[2015-04-16 16:09] raphaelm opened #59 "Pre-generation of ticket PDFs"

[2015-04-17 19:55] #57 closed

[2015-04-21 17:15] raphaelm commented on #5
The basic feature is implemented. It misses:
* an implementation in the admin and maybe an event-independent one (is there a good way to generalize it, to avoid implementing it twice?)
* a spam protection feature

[2015-05-21 13:49] #56 closed

[2015-05-28 18:00] raphaelm opened #60 "Order of products"

[2015-05-28 18:02] raphaelm opened #61 "Wrong redirect after login/registration"
with SCRIPT_NAME

[2015-05-28 18:03] raphaelm opened #62 "Wrong translation"
"noch 28 für Sie reserviert"
"nicht beantworted"

[2015-05-28 18:03] raphaelm opened #63 "Text overflow in header"

[2015-05-28 18:21] raphaelm opened #64 "Stripe payment renders 500er"

[2015-05-28 19:41] #62 closed

[2015-05-28 20:01] #61 closed

[2015-06-02 22:30] #63 closed

[2015-06-02 22:49] raphaelm opened #65 "A item default price of None does not make sense"

[2015-06-02 22:50] #60 closed

[2015-06-03 16:29] #64 closed

[2015-06-03 16:55] raphaelm opened #66 "Existing orders break if the plugin of the payment provider gets disabled"

[2015-06-06 19:31] raphaelm opened #67 "Activating ticket download feature does not work"

[2015-06-06 19:37] raphaelm opened #68 "Overview fails"
[code]

[2015-06-06 19:37] raphaelm opened #69 "SMTPExceptions should cause an error"
[code]

[2015-06-15 17:09] #68 closed

[2015-06-15 17:21] #67 closed

[2015-06-15 18:19] raphaelm opened #70 "Adjust navigation and buttons to available permissions"
Users who cannot access an area should not see it in the first place

[2015-06-15 21:39] raphaelm opened #71 "Use HTTPS in links in emails, if possible"

[2015-06-18 12:16] #71 closed

[2015-06-23 16:45] raphaelm opened #72 "Optional use of a performant locking mechanism"

[2015-06-23 16:45] raphaelm opened #73 "Cache backend configuration"

[2015-06-23 17:58] #73 closed

[2015-06-23 18:13] raphaelm commented on #70
Fixed (and is part of #39)

[2015-06-23 18:13] #70 closed

[2015-06-23 18:31] raphaelm commented on #47
Seems so.

[2015-06-23 18:31] #47 closed

[2015-06-24 15:09] #6 closed

[2015-06-25 14:00] raphaelm opened #74 "Money loss if quota exceeds after successfull Stripe/PayPal payment"
This should be detected and the money should be charged back.
(And the retry button shouldn't be displayed in the first place.)

[2015-06-26 10:40] #43 closed

[2015-06-26 10:43] #4 closed

[2015-06-29 13:31] raphaelm opened #75 "Possibility to ask for a billing address for invoices"

[2015-06-29 13:32] raphaelm commented on #75
This shouldn't be a ``Question`` as it is per order and not per item.

[2015-06-29 21:09] raphaelm opened #76 "Display a total amount of money before logging in and creating a cart"

[2015-06-30 11:25] raphaelm opened #77 "Responsive UI"

[2015-06-30 17:20] #77 closed

[2015-06-30 17:20] raphaelm commented on #72
Fixed in 235769ce4fefb6f5dd04d3299fd1e4fe718610dc

[2015-06-30 17:20] #72 closed

[2015-07-12 16:45] #46 closed

[2015-07-16 20:40] abrock opened #79 "Add more details to the order overview"
After each and every number currently being showin in the order overview there could be the corresponding amount of money displayed, e.g.:

    Bambini (Youth ticket)        10 (133,70€)        1 (13,37€)     ..........

[2015-07-17 20:48] abrock commented on #79
Also, the totals of the sub-categories could be bold too, not only the totals of the two categories (Tickets and Merch).

Perhaps make the totals for tickets and merch bold and a larger font size and the totals of the subcategories just bold.

[2015-07-17 22:34] abrock opened #80 "Server is running but requests fail"
I managed to install everything according to the setup documentation but when I run the webserver and try to access it in a browser I get:

(env) alexander@toothless:~/rzl/pretix/src$ python manage.py runserver
Performing system checks...

System check identified no issues (0 silenced).
July 17, 2015 - 22:30:50
Django version 1.8.3, using settings 'pretix.settings'
Starting development server at h

[2015-07-19 10:44] raphaelm commented on #80
Yes, this is a documentation flaw and will be fixed with my next commit.

[2015-07-19 10:48] raphaelm commented on #80
Documentation is updated online: http://docs.pretix.eu/en/latest/development/setup.html#run-the-development-server

[2015-07-19 11:19] raphaelm commented on #79
I pushed a change for the money sums. In order to keep information density sensible on smaller displays, you can now toggle between the number of sales and the monetary volume.

I'm unsure about the bold product lines. You are right that it is a problem the way it is now, but I haven't yet found a solution that makes me completely happy.
The problem with making the "T-Shirt" line bold is, that "S"

[2015-07-19 15:59] raphaelm opened #82 "Make the ticket expiry flow more transparent"
- [x] Optional auto expiry
- [x] Manual expiry
- [ ] Manual bulk expiry

[2015-07-19 15:59] raphaelm commented on #40
…or deprecate Python 3.2 instead

[2015-07-19 16:09] raphaelm commented on #40
[PEP 392](https://www.python.org/dev/peps/pep-0392/) states that "3.2 will receive bugfix updates approximately every 4-6 months for approximately 18 months. After the release of 3.3.0 final (see PEP 398 ), a final 3.2 bugfix update will be released. After that, security updates (source only) will be released until 5 years after the release of 3.2 final, which will be February 2016."

Django 1.9 w

[2015-07-19 19:34] abrock commented on #80
Now I get a page showing "Server Error (500)" and from the "python manage.py runserver" command the following error output:

    Performing system checks...

    System check identified no issues (0 silenced).
    July 19, 2015 - 19:26:02
    Django version 1.8.3, using settings 'pretix.settings'
    Starting development server at http://127.0.0.1:8000/
    Quit the server with CONTROL-C.
    [19/

[2015-07-19 19:45] raphaelm commented on #80
That is bad. Could you try creating a file called ``pretix.cfg`` in the directory you are running the commands from (normally ``src/``) with the following content?

[code]

This should make pretix do the LESS compilation on the fly and therefore making it unnecessary to ever run ``python manage.py compress``. If you now get a (more verbose) error 500 in your browser, I'll look into it further.

If

[2015-07-19 20:30] abrock commented on #80
Sure, [this is what i get fro "curl http://localhost:8000/control/login?next=/control/"](https://github.com/abrock/Katzenfutter/blob/master/pretix/2015-07-19-server-error-control) and [this is what I get from "curl http://localhost:8000/mrmcd/2015/"](https://github.com/abrock/Katzenfutter/blob/master/pretix/2015-07-19-server-error-mrmcd-2015)

[2015-07-20 08:47] raphaelm commented on #80
Okay, we might be a step further. Could you try ``python manage.py collectstatic --noinput``?
As soon as I know what is going on, I'll be looking for a way to simplify it…

[2015-07-20 09:01] abrock commented on #80
https://github.com/abrock/Katzenfutter/tree/master/pretix

[2015-07-20 09:19] raphaelm commented on #80
Ah, I think I know what is going on: You didn't use ``git clone --recursive`` to clone the repository, so you need to initialize the submodules manually:

1. Pull the current master branch, as I just changed some things to make it simpler
2. Delete your ``_static/`` directory that was just created by collectstatic, it should no longer be needed for development
3. Check out the submodules with ``gi

[2015-07-20 14:55] abrock commented on #80
This didn't help, so I deleted the whole pretix directory and cloned it with --recursive.
Then I followed the setup instructions and documented what happened:

1. pip install -r requirements.txt

https://github.com/abrock/Katzenfutter/blob/master/pretix/2015-07-20-install-requirements-pip

2. python manage.py migrate

https://github.com/abrock/Katzenfutter/blob/master/pretix/2015-07-20-migrate

3.

[2015-07-20 16:32] raphaelm commented on #80
I did exactly the same thing, and it worked perfectly fine: https://drop.rami.io/6zSZn/plain
Do you spot a major difference?

[2015-07-29 10:16] raphaelm opened #83 "Add an informal German translation"
See also https://groups.google.com/forum/#!topic/django-users/NCeQRG8izQQ

[2015-07-29 16:47] abrock commented on #80
I did it once again from scratch exactly like you did and now I get the presale site and the admin login site but login using the default admin user and pw fails with an error:

https://github.com/abrock/Katzenfutter/blob/master/pretix/2015-07-29-control-after-login.html

This is my log of the installation, looks exactly like yours:

https://github.com/abrock/Katzenfutter/blob/master/pretix/2015-0

[2015-07-29 16:54] raphaelm commented on #80
Well, it's the same error all over again, but at a different page. Weird.

The weird thing is, I *know* that my installation steps *should* be sufficient because it works all fine in Docker containers that contain *only* what I instructed them to contain… Maybe I'll need a "real" look into this, see you tomorrow…

[2015-07-31 08:01] raphaelm opened #84 "Character [ in passwords seems to be a problem"

[2015-07-31 10:59] raphaelm commented on #84
Happens on mrmcd.net, but not locally.

[2015-07-31 11:03] raphaelm commented on #84
It doesn't happen with the docker container and seems to be a fcgi problem.

[2015-08-03 08:14] Unicorn-rzl opened #85 "Time limitation does not remove articles from frontend"
The MRMCD Laufshirt had a time limit set to "02.08.2015 23:59:59" but is still shown in the front end on the 3th of August. How ever, it is not possible to order it, the user is shwon a "out of stock" warning. Shouldn't it be hidden or somehow marked as "unavailable"?

Also: There seem to be some strange dependencies with articles with their limitations/variants. I was not able do disable the MRMC

[2015-08-04 13:58] raphaelm commented on #65
Setting the field to null=False currently causes problems when creating items

[2015-08-04 20:15] nazco opened #86 "Protect modification of properties of a product"
If I select an property for an product I can't unselect it.

[2015-08-04 20:17] nazco opened #87 "Can't delete a product"
If I create a product I can't delete it if something went wrong. It's ok to disable deletion after the firsts item is sold but before it would be nice to have the possibility to delete it again.

[2015-08-08 11:46] raphaelm commented on #87
Yes, it is impossible on purpose, but it is a good idea to allow it for products with no items sold. Thanks for the suggestion.

[2015-08-13 16:31] #87 closed

[2015-08-13 16:56] raphaelm commented on #86
Works for me, but we should change this nevertheless, as it can be dangerous to delete properties.

[2015-08-14 09:39] friedz opened #88 "Participants name dosn't handel utf-8 properly characters shown/saved as '?'"

[2015-08-14 18:00] raphaelm commented on #88
Thanks for the report. It is not a problem with the pretix software, but with the way it is deployed on mrmcd.net. This is hard to change in a running system, so we'll keep it like this for now and do better next time.

[2015-08-14 18:00] #88 closed

[2015-08-14 19:17] #85 closed

[2015-08-14 19:18] raphaelm commented on #85
I pushed several commits that should solve all aspects of the problem. I will deploy them to mrmcd.net soon.

[2015-08-14 22:04] abrock opened #89 "Payment due dates at the end of a presale"
I ordered a bambini ticket for testing (and cancelled it later) (2015RULSE) and the email I got tells me that I have until 08/20/2015 to pay it, but the presale ends on 08/16/2015 and we want the money until 08/18/2015

[2015-08-14 22:09] raphaelm commented on #89
Yes, I know (tested at the same time like you), it's a fuckup and I'll call the t-shirt print shop on tuesday (our guy there is in holiday until and including monday) to find a way to resolve it. I also already changed the configuration.

[2015-08-14 22:09] #89 closed

[2015-08-16 09:47] raphaelm opened #90 "Add semantic data to event pages"
https://developers.google.com/structured-data/testing-tool/
http://json-ld.org/

[2015-08-16 12:25] #83 closed

[2015-08-16 17:39] Unicorn-rzl opened #91 "Make products/orders that are not cancelable"
May be there are some products which shouldn't be cancelable?

[2015-08-16 18:10] raphaelm commented on #91
Orders can only be cancelled before they are paid. So, introducing non-cancelable items only make sense if you're really going to forcefully collect the money for unpaid orders.
I agree that this makes sense for some events and should be possible.

[2015-08-16 18:12] raphaelm commented on #35
https://developers.google.com/structured-data/testing-tool/
http://json-ld.org/

[2015-08-16 18:12] raphaelm commented on #90
Duplicate of #35

[2015-08-16 18:12] #90 closed

[2015-08-16 18:13] raphaelm commented on #84
Can't reproduce.

[2015-08-16 18:13] #84 closed

[2015-08-17 19:39] Unicorn-rzl opened #92 "Not possible to import payments after deadline, even when "accept later payments" is active"
It's not possible to accept new payments after the payment deadline even if the option "accept later payments" is active.
The interface states, that the payments could not be imported due to contingent limits.
Does the payment deadline somehow set the "left contingent" of products to zero?

[2015-08-18 14:16] raphaelm commented on #92
Wil fix this today.

[2015-08-18 16:27] raphaelm commented on #92
This is not a bug, but working as intended. See for example the help thext of the "Accept late payments" option:

The "last date of payments" option is ment to be used in a scenario, where (for example) no shirts should be paid for because they already have been printed.

If we would accept payments *later* than this last date of payments, then we would end up with paid orders that have not been c

[2015-08-18 16:27] #92 closed

[2015-08-19 13:48] Unicorn-rzl opened #93 "Show more details in "order details""
There are more information that could be displayed on the order detail page:
-Order date & time (or better a order history, ordered on day x, payed on day z, downloaded day y, etc)
-Account/Emailadress used

[2015-08-19 13:52] Unicorn-rzl opened #94 "UI improvement for "Import bank data""
The current table presented after the csv-import of bank data is huge and therefore confusing. Suggestion: Make the rows with different background colors (currently, only new&correct orders are shown in green). Problematic rows (like rows with incorrect order number) could be made yellowish or redish.

[2015-08-20 20:38] #94 closed

[2015-08-21 22:07] raphaelm opened #95 "Implement EU cookie law"

[2015-08-22 12:15] raphaelm commented on #95
Do we have to? We use cookies only for authentication, csrf tokens and language preferences. Those purposes should be excluded from the law.

[2015-08-22 12:20] raphaelm commented on #40
Pretix won't have a stable release before December, so we just as well can do this now.

[2015-08-22 12:23] raphaelm commented on #40
iRe

[2015-08-22 12:23] #40 closed

[2015-08-22 12:33] raphaelm commented on #93
An order history is a nice idea, but would not look that good as it would always be very short, it would mostly consist of "ordered" and "paid". We currently do not track ticket downloads and I don't see a real reason to do so. I will instead introduce a box with general information that will also contain order and payment date.

[2015-08-22 12:34] #93 closed

[2015-08-22 12:35] raphaelm commented on #37
The hard thing is to make this locale-aware. Good ideas are very welcome!

[2015-09-01 19:42] raphaelm opened #96 "Get rid of local users / Allow Guest orders"
Lesson learnt from MRMCD:

* Users don't want to remember passwords
* Users won't remember passwords
* Even if they would, they'd have forgotten their usernames

Account creation should be entirely optional. *If* you want to create an account, you will not have an username but log in with your e-mail address. If not, you'll get a private link mailed to you just after your order has been processed,

[2015-09-09 07:53] raphaelm opened #97 "Implement some type of coupon system"
Inspiration: https://django-oscar.readthedocs.org/en/latest/ref/apps/offer.html

[2015-09-15 20:50] raphaelm opened #98 "Deletion, protection, etc. of CachedFile files"
* Evaluate X-Sendfile, StreamingHttpResponse
* Delete handler

[2015-09-16 09:34] #44 closed

[2015-09-17 20:49] #96 closed

[2015-09-29 13:27] raphaelm opened #99 "Support for currencies that have more or less than 2 decimal places"

[2015-09-29 14:47] #98 closed

[2015-10-01 09:29] raphaelm opened #100 "Create an embeddable version for event webpages"
Most ticketing softwares provide a way to integrate the ticket shop into an existing event website. This is a very useful thing and we want to support that too. There are generally two ways this can be done.

* Using a ``<iframe>`` that contains the whole shop. This is how [Eventbrite](https://www.eventbrite.com/support/articles/en_US/How_To/how-to-sell-eventbrite-tickets-registrations-on-your-web

[2015-10-04 13:11] raphaelm opened #102 "Add multiple-choice question types"
pretix currently allows the admin to define questions which can be answered when ordering a ticket. For example, the admin might ask for the attendee's age. Currently, only questions that ask for text, numbers or Yes/No are supported. It would be nice if we would also support asking to choose one of multiple options
- [x] Checkboxes (choose multiple)
- [x] Selects (choose one)
- [ ] "Other"-option

[2015-10-05 22:30] #18 closed

[2015-10-05 22:30] raphaelm commented on #28
Fixed

[2015-10-05 22:30] #28 closed

[2015-10-05 22:38] raphaelm opened #103 "Use stripe connect"

[2015-10-06 06:36] raphaelm opened #104 "Add secret tickets"

[2015-10-06 06:38] raphaelm opened #105 "Add a voucher system"
- [x] Data model
- [x] Creation and editing UI
- [x] Bulk-creation
- [x] Redemption, quota handling
- [x] Tests
- [x] Handle variations
- [x] Quota-dependent vouchers
- [x]  Vouchers
- [x] Tags
- [x] Statistics, Tag statistics
- [x] Check quota when creating blocking vouchers
- [x] Export list, export unused

[2015-10-06 06:47] raphaelm commented on #35
https://developers.google.com/structured-data/events/performers
https://developers.google.com/structured-data/events/ticketers

[2015-10-12 12:42] simoneott commented on #102
Hello,  I'm new to the  github and I would like to work on the multiple question types. Is it ok if I start working on that or is there an official process I need to go through before jumping in. Don't want to step on anyone's toes but would love to get working on a project and this sounds particularly interesting to me.

[2015-10-12 15:04] raphaelm commented on #102
Hello! You are absolutely welcome to start working on this. As this project is currently very small in terms of contributors, we have no formal or official processes. I'd be glad to help you through the technical process, though.

Sadly, it is currently not as easy to set up a local version of pretix as it should be. We have a guide in [our documentation](http://docs.pretix.eu/en/latest/developmen

[2015-10-12 15:16] raphaelm commented on #76
Invalid as logins are no longer needed

[2015-10-14 13:37] simoneott commented on #102
Hello!

That's great news. Thank you for being so welcoming, I am really looking
forward to contributing. So far I haven't used Python or Django before - I
hope that is not a problem. I am teaching myself at the moment so it might
take me a bit longer to complete the tasks but I am very motivated to learn
and contribute. I am just setting up my environment and reading up on the
documentation. So f

[2015-10-14 14:38] raphaelm commented on #102
No, it is not a problem to me, if you're a total beginner, I just wanted to check so that I neiter bore you to death nor leave you completely alone with it. ;)

[2015-11-10 09:20] raphaelm opened #106 "Introduce donation tickets"

[2015-12-03 20:54] raphaelm commented on #82
Some work is done in branch clear-expiry, the only thing that's missing for now is a periodic task that sets tickets to expired if the settings allow to do so. However, we have no fundament for periodic tasks yet.´

[2015-12-03 20:55] raphaelm opened #107 "Add a way to perform periodic cleanup tasks"
Needed for #82

[2015-12-03 20:56] raphaelm opened #108 "Throw out restrictions again"
but keep available from/to somewhere

[2015-12-03 20:57] raphaelm opened #109 "Add a waiting list"
There is work on this happening in the waitinglist branch that I should ressourect at some point

[2015-12-03 21:05] raphaelm opened #110 "Process-local cache is dangerous!"
If neither memcached or redis are installed, pretix currently uses local memory for caching. This is highly dangerous, as we currently rely on cache invalidation for certain things.

We should either turn off caching completely without memcached or redis, or rely less on invalidation.

This was a huge problem as we cached session data which lead to inconsistent sessions. This is fixed in 8dd7b58.

[2015-12-06 16:37] raphaelm commented on #97
Replaced by #105

[2015-12-06 16:37] #97 closed

[2015-12-06 17:24] #108 closed

[2015-12-12 11:22] raphaelm opened #112 "Properties editor is broken"
… and way to complicated.

[2015-12-12 13:17] raphaelm opened #113 "Use Django 1.9's password validation feature"
As we now only have admin users, I'd like to restrict them to somewhat-safe passwords. I'd like to use Django 1.9's new validation feature together with https://pypi.python.org/pypi/zxcvbn for this task.

[2015-12-12 15:13] raphaelm opened #114 "Handle stripe dispute events"

[2015-12-12 20:28] raphaelm opened #115 "File storage in settings does not create new directories"

[2015-12-12 21:11] raphaelm commented on #112
Both JavaScript and logging are broken

[2015-12-12 22:33] raphaelm commented on #49
Obsolete now.

[2015-12-12 22:33] #49 closed

[2015-12-13 13:14] raphaelm commented on #112
Resolved except https://bitbucket.org/tim_heap/django-formset-js/issues/7/

[2015-12-13 13:14] #76 closed

[2015-12-13 14:19] raphaelm opened #117 "Allow admin to change payment method of order"
The hard part is that this might leed to a difference in the order total, therefore e.g. invoices need to be re-created.

[2015-12-13 16:34] #42 closed

[2015-12-13 16:56] #45 closed

[2016-01-13 10:18] raphaelm opened #118 "All quota-affecting actions have to be asynchronous"
This is required for safely implementing things like a waiting list.

[2016-01-17 15:19] raphaelm opened #119 "Set decimal rounding mode"

[2016-02-09 11:26] raphaelm commented on #112
Resolved due to the removal of multi-dimensional properties

[2016-02-09 11:26] #112 closed

[2016-02-09 11:26] raphaelm commented on #80
A lot has changed, a lot will change, let's try that again in a few months.

[2016-02-09 11:26] #80 closed

[2016-02-09 11:26] #79 closed

[2016-02-11 15:46] raphaelm opened #120 "Explicitly store tax values"

[2016-02-11 15:56] raphaelm opened #121 ""Resend link" button in order control"

[2016-02-11 16:16] raphaelm opened #122 "Resend link option for users"
E.g. "Send me an email with links to the download and detail pages of all orders associated with this email address"

- [ ] Spam protection

[2016-02-11 16:17] raphaelm opened #123 "Advanced permission editor"

[2016-02-11 16:22] #121 closed

[2016-02-11 16:28] raphaelm opened #124 "Tax report"

[2016-02-11 16:39] #119 closed

[2016-02-11 16:39] #120 closed

[2016-02-22 11:15] raphaelm opened #125 "Clean up old, unused InvoiceAddress objects"

[2016-02-22 22:10] #5 closed

[2016-02-22 22:10] #29 closed

[2016-02-23 09:17] raphaelm opened #126 "Display object logs"
- [x] Orders
- [x] Items
- [x] Quotas
- [x] Categories
- [x] Vouchers
- [x] Events
- [x] General logs on dashboard

[2016-02-28 14:16] raphaelm commented on #55
Idea: At least provide a good placeholder attribute

[2016-03-03 17:25] raphaelm opened #127 "SMTP settings improvements"
- [ ] Clarify that you need to check the "Use custom server" checkbox even if the test succeeded
- [ ] Implement the test in a way that tests the validity of the login credentials
- [ ] Prevent the password field from being cleared by an empty input if it should be left unchanged

[2016-03-03 17:26] raphaelm commented on #86
Properties do no longer exist, but there is a part of the problem that still is there: A product should not be able to switch between having variations and not having variations.

[2016-03-03 17:29] raphaelm opened #128 "Problems editing events"
[code]

[2016-03-03 17:48] cfra commented on #128
This turned out to be PEBCAK.
I had configured an invalid locale in /etc/pretix/pretix.cfg (de_Informal instead of de-informal). This incorrect locale ended up in the locale setting of the event object, causing the lookup in event.name to fail.

[2016-03-03 17:49] raphaelm commented on #128
Okay, then let's change the scope of this issue ;)

[2016-03-04 15:45] #75 closed

[2016-03-10 14:58] #33 closed

[2016-03-10 21:20] #86 closed

[2016-03-10 21:32] #115 closed

[2016-03-10 21:42] raphaelm commented on #55
Best candidate so far: https://github.com/asaglimbeni/django-datetime-widget

[2016-03-11 20:56] #23 closed

[2016-03-12 10:13] raphaelm opened #130 "Mark required question fields at checkout"
e.g. with a `*`

[2016-03-13 15:04] raphaelm opened #131 "Invoice generation"
- [x] Generate invoices on order creation
- [x] Generate cancellations
- [x] Allow to modify invoice addresses and re-create invoices
- [x] Allow to manually generate invoices
- [x] Admin option to download all invoices
- [x] Tests

[2016-03-13 15:32] raphaelm opened #132 "Be clear about payment fee calculation"
Currently, if PayPal charges you 1.9% and you enter a 1.9% fee in pretix and you then sell a product for 100 €, then pretix will charge 101.90 € via PayPal.

PayPal, however, will charge 1.9% of that 101.90 €, which is 1.94 €, so you only get 99.96 € in revenue which is probably not what you wanted.

If we change our calculation method to "fix" this, it will be very convenient for every payment se

[2016-03-13 18:11] #132 closed

[2016-03-15 11:58] mjbeaton commented on #130
Hi I'm new to this and am looking to make my first contributions.

Do you have any specific advice or objections to me giving this ticket a shot?

Thanks!

[2016-03-15 12:05] raphaelm commented on #130
Hi! Did you alread work with Python or Django or is it your first time in this whole field? I'd be glad to give you some pointers here and there if you help me estimate your prior experience :)

[2016-03-15 12:09] raphaelm commented on #130
I thought about it and now I'm unsure whether this is a good start because while the task sounds really simple (just put a * next to the description every field that is required) it could require you to dive into https://github.com/dyve/django-bootstrap3 to make this work.

[2016-03-15 12:23] mjbeaton commented on #130
I've worked with Python before but not with Django so this probably isn't the most suitable task as you said.

I have 18 months computing experience with Python and I actually teach at GCSE and A level... So a tremendous understanding of all the basics i'm just looking to push myself further, and I'd currently rate myself at CS degree graduate level, maybe a little beyond.

[2016-03-15 12:32] raphaelm commented on #130
I suggest you look for a Django project that is smaller in terms of codebase because it will be easier to get an overview of everything. If you'd like to contribute to pretix, I suggest giving #104 a try, it will take you to various parts of the project with only small changes in every part necessary.

[2016-03-20 09:44] raphaelm commented on #118
pretix.presale, reducing quota:
- [x] Adding cart positions
- [x] Placing orders
- [ ] Paying orders

pretix.presale, increasing quota:
- [x] Removing cart positions
- [x] Cancelling orders

pretix.control, reducing quota:
- [ ] Marking orders as paid
- [ ] Creating or modifying vouchers
- [ ] Modifying and Deleting quotas

pretix.control, increasing quota:
- [ ] Marking orders as unpaid
- [ ] Can

[2016-03-22 12:05] raphaelm commented on #59
We don't really need this.

[2016-03-22 12:05] #59 closed

[2016-03-24 17:01] #106 closed

[2016-03-26 13:15] raphaelm opened #133 "Make the quota calculation more transparent"
The admin UI should have a detailled view on how the "remaining value" of a quota is being calculated

[2016-03-26 13:27] raphaelm opened #134 "Manual bulk expiry of orders"

[2016-03-26 17:26] #133 closed

[2016-03-26 18:13] raphaelm commented on #118
Actually, we can implement a waiting list without this, e.g. by having the quota blocked by the waiting list itself. However, the quota reducing actions should still be asynchronous, at least those that create orders or mark order as paid.

[2016-03-26 18:17] #107 closed

[2016-03-26 18:17] #125 closed

[2016-04-19 16:58] raphaelm opened #135 "Warn about over-booking quota as an admin"
Issue a warning if a quota is overbooked e.g. with blocking vouchers

[2016-05-07 15:04] #9 closed

[2016-05-09 09:26] raphaelm opened #137 "Config option to disable backend registration"

[2016-05-11 11:38] #113 closed

[2016-05-11 14:10] raphaelm commented on #130
With a bit of luck, Django 2.0 will finally have template-based form rendering which will make this a lot easier.

[2016-05-19 05:29] shermdev commented on #38
I would like to work on this issue. I recently had to create something similar for a tour-date React app I'm working on.

[2016-05-20 09:00] raphaelm commented on #38
That is awesome!

The first step would obviously be to get pretix running on your local machine and then play around with its user interface for a bit, so you know how pretix currently looks and fields. There is some documentation at https://docs.pretix.eu/en/latest/development/setup.html on that. If you get stuck, please write me, I'll probably find the problem rather quickly. If something is unc

[2016-05-23 02:07] shermdev commented on #38
I'm new to Python, but I'm figuring out mostly. However, I'm getting this
error at this step cd src/
pip install -r requirements.txt -r requirements/dev.txt:

PermissionError: [WinError 5] Access is denied: 'c:\\program files
(x86)\\python35-32\\Lib\\site-packages\\django'

I've added C:\Program Files (x86)\Python35-32\Lib to PATH in my
environmental variables. Any idea why I'm getting the above e

[2016-05-23 07:30] raphaelm commented on #38
You're apparently trying to install the python package dependencies to a system-wide directory while not working with administrator permissions. Normally, when working with virtual environments, this is not a problem as you are writing them to the venv directory instead.

Sadly, I do not have any experience with virtualenv on Windows, only on Unix systems. But https://virtualenv.pypa.io/en/stable/

[2016-05-23 07:30] raphaelm commented on #38
(Note: The problem seems to be that the venv is not "activated" in your current command line)

[2016-05-23 17:29] raphaelm opened #138 "Useful step size for user-defined prices"
The current step size of 0.01 is not useful.  However, increasing this leads to problems with HTML5 form validation.

[2016-05-24 04:48] shermdev commented on #38
Ah, I see. Thanks for sending that link, it definitely clears things up.
I'll let you know once I've had a chance to get familiar with how pretix
works/feels.

On Mon, May 23, 2016 at 12:30 AM, Raphael Michel <notifications@github.com>
wrote:

[2016-05-26 02:57] shermdev commented on #38
I do apologize for all the questions. The link you sent did help, and I
figured out the Windows virtual environment, among other things. However,
I'm getting errors on the next steps, which seems to be pretty common on
Stack Overflow with Python 3.5, Django 1.9, and Windows. The answers are
all over the place and none are definitive. The answers I found on SO
didn't work, so maybe you can spot the

[2016-05-26 06:10] shermdev commented on #38
I got everything up and running (I'd be happy to add to the Windows
documentation, by the way).

On Wed, May 25, 2016 at 7:57 PM, Will Sherman <w.sherm.87@gmail.com> wrote:

[2016-05-26 08:06] raphaelm commented on #38
Please, don't apologize, it is absolutely fine to ask these questions! I know how frustrating it is if tooling keeps one away from doing the actual work. I'd absolutely love to see improvements to the documentation.!

[2016-06-01 18:57] raphaelm opened #141 "Preview/Caching improvements for ticket outputs"
- [x] Preview features
- [x] Delete cached tickets after settings change
- [x] Delete cached tickets after attendee name or product change

[2016-06-01 19:08] raphaelm commented on #141
Also "delete cache after settings change"

[2016-06-01 19:09] raphaelm commented on #141
Also "delete after attendee name change"

[2016-06-01 19:13] raphaelm opened #142 "Overwriting a file setting seems to be broken"
e.g. setting a new ticket background

[2016-06-04 10:42] gogs21 commented on #104
hello @raphaelm  i am starting to work on it if it is still open as issue i hope that you will help me if there is any trouble :P

[2016-06-04 12:51] raphaelm commented on #104
Hi! That is awesome, but I believe @JRodDynamite is already working on this. Is this correct, Jason?

[2016-06-04 13:03] gogs21 commented on #104
well ok then... i need to work on something for a university course so we need to find something to work on and help with the code part. Is there anything that me and a mate can do in order to help you and complete our task ?

[2016-06-05 10:45] raphaelm commented on #104
Sure, I'll write something for you later today or tomorrow!

[2016-06-05 12:21] raphaelm commented on #104
I've not found something perfect yet, but there are definitely some options:
* There is still some work to do at #102 (see the "Update")
* #58 would be a bit larger possible project
* I just marked #51 as 'easy'
* #35 could be an option as well

Just tell me if you like one of those, otherwise I'll be looking for something new.

[2016-06-06 20:46] raphaelm commented on #142
Fixed in 87b7685cf9461da5963db2baef1762b3e850346d

[2016-06-06 20:46] #142 closed

[2016-06-07 09:56] raphaelm commented on #137
Fixed in a7647d8de2a67679b84ffc0cfa22a609630c9cb8

[2016-06-07 09:56] #137 closed

[2016-06-10 12:54] MrGirlyMan opened #143 "Undismissable Alert"
When registering for pretix, enter a password that is too common. When the page refreshes, the alert that is given should be dismissable, but isn't (Chrome 47.0.2526.73, Mac 10.11.4).

[2016-06-10 13:15] raphaelm commented on #143
Thank you for your feedback! All other error messages in pretix are non-dismissable as well, so I'll change this to be coherent (e.g. remove the icon).
Also, the error should be right next to the password field, not above, I'll look into this.

[2016-06-10 13:45] #143 closed

[2016-06-22 08:53] raphaelm opened #145 "Discount vouchers, Voucher wizard"
- [x] Multi-use vouchers #337
- [x] Vouchers that give % or € off the original price
- [ ] Voucher creation wizard

See also #311

[2016-06-23 17:24] cherti opened #146 "Warn about disabled cookies"
When purchasing a ticket in pretix, cookies need to be enabled. if this isn't the case, pretix just silently fails instead of complaining that cookies are missing.

A note informing the user about disabled cookies would be helpful here.

[2016-06-25 13:39] raphaelm opened #147 "Order filter form does not represent current state"
``/control/event/mrmcd/2016/orders/?status=n&item=4&user=`` will not have the item selected in the filter form

[2016-06-27 17:50] #147 closed

[2016-06-27 17:50] raphaelm commented on #146
Fixed in 5cbb967.

[2016-06-27 17:52] #146 closed

[2016-06-27 18:07] raphaelm opened #148 "Add more information to PDF tickets"
e.g. the order code

[2016-06-27 18:14] raphaelm opened #149 "Copy answers into multiple tickets"
If a user buys more than one ticket, in many cases he has to enter multiple names and answer multiple questions defined by the admin. In some cases, it would be useful to have a butten that copies the answers from the first ticket into the other tickets.

[2016-06-27 19:08] andmckvr13 commented on #149
Hello raphaelm, sorry if this is a stupid question, but are you using JavaScript for this or a different language? I'm a new developer (JS only for now)  and looking to gain more contributions.

[2016-06-27 19:12] raphaelm commented on #149
Hi @andmckvr13, yes, I would do this in JavaScript. We do not have a lot of JS in pretix right now, but this is one of the points where it makes sense.

If you want to to contribute to this, the best way to start is to [get pretix running on your machine](https://docs.pretix.eu/en/latest/development/setup.html) and play with it for a few minutes to get a feeling of how pretix works and where this

[2016-06-27 19:14] andmckvr13 commented on #149
Danke Schön

On Mon, Jun 27, 2016 at 9:12 PM, Raphael Michel <notifications@github.com>
wrote:

[2016-07-07 17:42] raphaelm opened #150 "Reduce latency when waiting for an AsyncTask"
Local network is fast (<1ms), the tasks themselves are fast (<50ms in most cases) but still it feels slow. RabbitMQ might be a bottlenack, but it seems like the only bottleneck is the browser checking only every 250ms. Websockets could help here, for example.

[2016-07-19 08:12] raphaelm opened #152 "Render linebreaks in multiline answers to questions"
If a product has a question attached that allows for multiline answers, the answer is currently rendered within one line. This can be easily fixed by adding appropriate template filters.

[2016-07-20 16:41] raphaelm opened #153 "Find a graceful way to deal with plugin exceptions"
If a plugin, e.g. in response to a signal or during URL contruction, fails, we maybe should:
- Provide a specific error message to point to the responsive plugin, or
- silence the exception and log it

[2016-07-28 21:52] raphaelm opened #155 "CSP-compliant error pages"
Our error pages (404, 403, ...) contain links to e.g. ``javascript:history.back()`` that won't work due to our [Content Security Policy](https://de.wikipedia.org/wiki/Content_Security_Policy) headers that forbid javascript: URLs or ``<script>`` tags. The solution would be to move those JavaScript lines into a seperate ``.js`` file that is loaded by the error page and attaches those handlers to the

[2016-08-03 18:06] FlaviaBastos commented on #51
Hi, @raphaelm
I am working on this issue and I have a couple questions for you when you have time, please.
I used [django-markup](https://django-markup.readthedocs.io/en/latest/installation.html) to implement this.
1) where should I put this in the requirements? I'm guessing I have to add line 'django-markup' to 'pretix/src/requirements/production.txt' but I wanted to check with you first

2) I ra

[2016-08-03 18:37] raphaelm commented on #51
Hey @FlaviaBastos that is really awesome! I'm very happy to respond to your questions! Starting on Saturday I'll be on holiday, so do expect *late* replies, but you can certainly *expect* replies ;)

1) ``production.txt`` is totally fine as it will be required by all installations! You should probably also add it in ``setup.py``, although we are not really using it at that time.

2a) ``flake8 .``

[2016-08-04 07:26] rixx opened #156 "Provide a unified approach to plugin settings"
At the moment (https://github.com/pretix/pretix/commit/8dcb8193fa185b894b3024e53299e07017c6704e), the [docs](https://docs.pretix.eu/en/latest/development/implementation/settings.html) reference both `SettingsSandbox` and `SettingsForm` as a way of interacting with settings storage. But at this point, the plugin is still responsible for providing a view and a template for the `SettingsForm`, and th

[2016-08-04 07:38] rixx opened #157 "Document mail testing setup for (plugin) devs"
To test `pretix.base.services.mail.mail`, apparently you just need to add

[code]

to your config and execute `python -m smtpd -n -c DebuggingServer localhost:1025` to see all mails printed to stdout in that process (and keep pretix from erroring due to lack of mail config).

[2016-08-04 17:51] FlaviaBastos commented on #51
Thanks @raphaelm for answering my questions.
I tested the tests separately (ha!) to make sure I didn't break anything and I'm pretty confident I didn't. Please let me know if you think otherwise.
As you can probably see, I followed your advice for requirements and setup.py and added support to rich text on category descriptions also.
I hope all is fine but please feel free to ask for changes!

[2016-08-05 08:32] #105 closed

[2016-08-05 09:49] #131 closed

[2016-08-05 21:35] FlaviaBastos opened #160 "Document that 'collectstatic' is required in development for some features to work"
When trying to edit the display event settings, after hit 'save' you get:
[code]
STEPS TO DUPLICATE:

1. Access http://localhost:8000/control/event/mrmcd/2015/settings/display
2. Add text to 'Frontpage text' field
3. Click on 'save'
Error will be displayed

[2016-08-05 21:47] raphaelm commented on #160
Uhm, that should not happen. I can only imagine it is a problem of the ``DEBUG`` mode. Can you try running ``python manage.py collectstatic`` to copy the SCSS files from the source folder to the ``STATIC_ROOT`` directory?

[2016-08-05 21:51] raphaelm commented on #104
@JRodDynamite Are you still planning to work on this or is this free to grab for someone else? :)

[2016-08-05 21:52] raphaelm commented on #38
@shermdev Are you still planning to work on this or is this free to grab for someone else? Is there anything we can assist you with? :)

[2016-08-05 21:53] #51 closed

[2016-08-06 06:05] rixx opened #161 "Add "Empty Cart" button"
Just a feature proposal, feel free to disregard:

Maybe that's only relevant for testing, and not for actual users, but an "Empty Cart" button would have made my life a bit simpler today. Maybe just a small 'X' in a corner somewhere?

[2016-08-06 07:03] Unicorn-rzl opened #162 "Allow to add tags/flags to orders"
I had the idea to allow the admin to add tags to orders (sth. like flags) which the admin can use to document the completion of certain tasks regarding that order.
I would have used it during this years MRMCD to track the state of the orders requiring sending out some stuff, but it could also be used to document things like "badge for this order printed" or what ever else future organizers come up

[2016-08-07 13:56] abrock opened #163 "Allow admin to change order to different products/variations"
Imagine someone would organize a IT-security conference where the visitors can order T-Shirts.
Suddenly a wild visitor writes an hypothetical e-mail, asking the organizers to change the (already paid) T-shirt size from "XXL" to "XL".
That should be possible as an admin.

[2016-08-07 14:21] JRodDynamite commented on #104
Hey @raphaelm, sorry about the long break that I took. I'll work on this. :)

[2016-08-07 16:53] rixx commented on #162
We could include this in the re-write of Voucher Tags - implementing one tagging system. Then we'd have the availability to add multiple tags to any voucher and any order.

[2016-08-07 16:59] rixx commented on #163
Agreed, that would be cool.

This is a bit more tricky than it seems because variations (such as XXL and XL) are allowed to have different prices. Changing a variation to a variation of a different price would introduce a new payment cycle. So we either handle that complexity, or we make sure that only variations of the same price are allowed.

[2016-08-07 17:25] rixx opened #164 "Mail sending issue"
When sending mails in a production environment, the pretix `mail()` method returned non-success values while the mail server actually succeeded in sending the mail.

While I understand that a positive return value does not guarantee that a mail has actually been sent (let alone delivered), a negative (well, zero) value should definitely indicate an issue with the mail delivery, imo.

[2016-08-07 17:32] abrock commented on #163
The restriction could be reduced to allowing only changes where the total price doesn't increase :-)

Or there could be a warning like "The price is going to change from X to Y, are you sure?"

[2016-08-07 21:13] rixx opened #165 "Voucher does not get reactivated on canceled orders"
If you use a voucher for an order, and the order gets canceled, the voucher is still marked as used. That is incorrect behaviour, in my opinion.

[2016-08-07 21:14] rixx opened #166 "Don't display "resend link" in canceled order"
Canceled orders have no business being exposed again, and sending the link of a canceled order to a user would probably only lead to confusion.

[2016-08-07 21:18] rixx opened #167 "Extend list of sans-serif fonts in CSS"
Below, you see Chromium on the left, Firefox on the right. Since status indicators are very prominent in pretix, having them look good in both major browsers would be cool.

![2016-08-07-231700_1666x94_scrot](https://cloud.githubusercontent.com/assets/2657547/17465349/2cf5ec02-5cf5-11e6-83e8-724e3dd75800.png)

[2016-08-08 17:24] FlaviaBastos commented on #160
Yes.
Running `python manage.py collectstatic` fixed this issue.
This can be closed now.

[2016-08-09 06:00] raphaelm commented on #163
They can not only be different in price, one size could already be sold out, or only be available in a given timeframe. Also, if the total changes, invoices need to change and if the payment is already paid via PayPal or Stripe, there needs to be user interaction for a partial re-payment. Then, payment fees might need to be calculated differently, ... The list goes on, this is the classic "ticket

[2016-08-09 06:02] raphaelm commented on #160
I'm afraid it can't ;) We need to fix developer documentation here

[2016-08-09 06:02] raphaelm commented on #160
Alternatively we could make it such that this is *not* necessary in development :)

[2016-08-09 08:57] abrock commented on #163
That's all true but these are reasons why users shouldn't be able to change these things.
There are also a lot of cases where it would be convenient if the admin could just change something small like the size of the t-shirt.

[2016-08-09 17:13] raphaelm commented on #163
I totally see your point. This *needs* to be possible, absolutely. But I'm trying to figure out a way to enable admins to do this, while still preventing admins to shoot themselves into their own foot.

[2016-08-09 17:14] raphaelm commented on #104
Hi @JRodDynamite, thanks for the answer! I wasn't trying to put pressure on you, just wanted to check whether I can recommend this to someone else :)

[2016-08-09 17:16] raphaelm commented on #104
If you implement this, please look have a quick look at f91c95b1bca8dc4637ee2f61dfcd463642d3ea4b. Maybe there is a good way to combine this together with ``hide_without_voucher`` in some kind of visibility ChoiceField? I'm not quite sure about whether this would be nice yet.

[2016-08-09 17:17] raphaelm commented on #164
I came to the conclusion that ``mail()`` shouldn't return anything at all and should raise an exception whenever it is clear that it errored. Returning a boolean to indicate success is neither pythonic nor good style.

[2016-08-09 17:32] FlaviaBastos commented on #160
Ops, sorry for closing the issue. You are right! :)
I will research how to make it not necessary in development and see what I come up with.

I am also planning to make one or two documentation suggestions because I finally sorted out what was wrong with my setup and failing tests. The doc had no reference to some requirements I didn't know I hadn't met (I will elaborate later).

[2016-08-09 19:31] rixx commented on #167
So apparently this happens because I have neither of `"Helvetica Neue", Helvetica, Arial, sans-serif` installed on my system, and Firefox falls back on Nimbus (which looks awful) while Chrome falls back on Liberation.

I'd suggest extending the fonts list provided by another one or two fallback fonts such as Liberation. We could either hardcode this, or offer the font as another variable as `$bran

[2016-08-09 19:42] rixx commented on #164
Would you want to include error handling on all pretix-core calls of `mail()`? There are only about five of them, but we''d need to decide on what to do with them. None of these checked the return value of `mail()` up until now.

[2016-08-10 11:19] JRodDynamite commented on #104
Hi @raphaelm, I'm facing an error which I'm not able to figure out. Could you help me out? This is the error I get.

[code]
I've got the project up on [cloud9](https://ide.c9.io/jroddynamite/pretix). It has all the changes I've made so far.

[2016-08-10 19:01] rixx commented on #145
It seems to me that either adding a `multi_use` flag or an `availability` field (naming things, meh. an IntegerField, anyways) to the Voucher model would be the best choice to implement multi-use. I find a BooleanField cleaner, but an IntegerField might capture more accurately what's actually needed in practice.

[2016-08-10 19:11] rixx opened #170 "Cannot create/update voucher for an item with variations"
pretix crashes when trying to create a voucher for an item with variations (if you choose the dropdown entry for "Item X - Any variation").

[2016-08-10 19:16] rixx commented on #165
Ah, apparently introduced in ce6e8d0f.

[2016-08-10 19:39] rixx commented on #165
I think a reasonable default would be to create the voucher(s) if any variation is still available and the sum of available items is larger than the amount of vouchers generated.

[2016-08-11 08:07] rixx opened #172 "Add filter/state for overdue orders"
At the moment, Orders can be Pending and Pending (expired). A Pending (overdue) state and/or filter would be really useful, partly because when sending emails to all overdue users, you might want to see who they are. And since it's possible to change the payment due date, it's not as straightforward as just looking at the last `n` users in your orders-pending list.

[2016-08-11 08:15] rixx opened #173 "Add context variables to emails (sendmail plugin)"
When sending emails, you might want to reference some user-dependant data, that could be provided and then used as `{{ variables }}`.
- link to the user's order(s)
- username?
- order date
- due date

For the best UX, one would probably provide an exemplary rendered email for confirmation before actually sending the whole batch.

[2016-08-11 16:25] Unicorn-rzl opened #174 "Exclude external payment provider fees from sales value"
Currently payment fees are added to the sales value. This only makes sense for internal payment fees. If the fees are charged by an external payment provider (eg. Stripe for credit cards) those fees should not be included in sales values, as they never reach the events account.

[2016-08-11 17:06] rixx commented on #174
Both in the orders overview (when choosing to see revenue) and the standard dashboard widget.

[2016-08-11 18:01] Unicorn-rzl commented on #174
Nevermind. Regarding taxation the behavior is correct as it is.

[2016-08-12 08:13] rixx opened #176 "Provide localized "Bank account details" field in Bank transfer plugin"
Bank account details might include words like "Bank", "Address", "account holder" etc that should be localized.

[2016-08-12 08:28] rixx opened #177 "Add comment field to orders"
Analogous to voucher comment fields - available internally for staff/support to denote arrangements etc. Would not be displayed to the user at any point.

Questions:
 - where in the order detail view should the comment be displayed (including a "Save" button)

[2016-08-12 17:59] rixx opened #179 "Dashboard shows tile off-by one in Firefox"
See attached images, issue does not occur with Chrome. FF version is 48.0, haven't verified it on a different PC.

In attributes inherited from body, the inspector shows this:

[code]

Note the `line-height`. Setting it to `1.4` fixes the issue.

`1.417` seems to be the largest working value, as an aside, which is incidentally the exact value set in `pretix/src/static/bootstrap/scss/bootstrap/_sca

[2016-08-12 22:08] FlaviaBastos commented on #160
I made a couple additions to dev doc but I noticed that `_build/` is listed in `.gitignore`.
Should I force to add and commit my changes or is it better to edit the page through GitHub directly? I'm fine with either - I just want to make sure someone has the chance to review the changes before they go live :)

[2016-08-13 06:57] rixx commented on #160
Ah, no, `_build/` has just the compiled output, you'd add the changes you want to make to the `rst` files in the `doc/` directory. Then, to see the changes applied, you'd run `make html` in the `doc/` directory again, which would rebuild the contents of `_build/`.

[2016-08-13 10:13] rixx opened #180 ""Add to cart" is shown when there are no products listed"
![2016-08-13-121250_1289x371_scrot](https://cloud.githubusercontent.com/assets/2657547/17642681/4655263c-614f-11e6-8584-c7277a52ac11.png)

[2016-08-13 10:14] rixx opened #181 "Voucher list shows only Product"
In the voucher list, only the chosen product is shown even if a variation is specified. This is kind of misleading.

[2016-08-13 13:41] raphaelm commented on #145
Yes, I think it is a possible to reuse the Voucher model. However, adding a count is not sufficient, we also need.to:

* allow a list of applicable products (can be done with pseudo-quotas currently but this is not very nice from an UX view)
* differentiate between absolute (-5€) and relative (-5%) discounts in addition to the "set price to" that we currently have
* let the organizer, decide wheth

[2016-08-13 13:44] raphaelm commented on #104
Do you get the error only after your modification or do you get it with our code version? I apparently would need an account for the c9 link. Could you also paste the full stacktrace?

[2016-08-13 13:46] raphaelm commented on #174
Yep, the order overview is correct this way. One *could* argue to subtract them in the dashboard, but I'm nor in favour of differentiating between internal and external fees.

[2016-08-13 13:46] #174 closed

[2016-08-13 13:51] raphaelm commented on #157
Fixed in #169

[2016-08-13 13:51] #157 closed

[2016-08-13 13:58] rixx commented on #145
+1 for avoiding cluttered concepts.

The thing is that you have multiple features here and you need to decide how to divide them up:

 - multi-use vs single-use
 - relative vs absolute discounts
 - discounts per ticket or per order

I agree that this would be a lot of features in addition to the already-existing features of vouchers:

 - blocking vs non-blocking
 - ignoring quota vs not
 - applyin

[2016-08-13 18:21] raphaelm commented on #161
Good idea! :) Should be easy to implement.

If someone wants to tackle this as his or her first issue in the project, do not hesitate to ask me questions if you get stuck!

[2016-08-13 18:25] raphaelm commented on #145
Yep, you are totally right. See why I postponed this so far? :/

[2016-08-13 18:38] raphaelm commented on #181
Yes, that should be fixed. This will require a small template change in the voucher list as well as an extended ``select_related`` in the voucher list view to save database calls.

If someone wants to tackle this as his or her first issue in the project, do not hesitate to ask me questions if you get stuck!

[2016-08-13 18:38] raphaelm commented on #166
Agreed. A small template change in the order detail view should be sufficient.

If someone wants to tackle this as his or her first issue in the project, do not hesitate to ask me questions if you get stuck!

[2016-08-13 18:41] raphaelm commented on #167
Wow, neither Helvetica nor Arial is surprising ;) Is Nimbus your system font? Could you check how DejaVu Sans looks?

This should be an easy change, there is a LESS variable from bootstrap that we can just override.
If someone wants to tackle this as his or her first issue in the project, do not hesitate to ask me questions if you get stuck!

[2016-08-13 18:44] raphaelm commented on #172
This would require to implement the [status filter](https://github.com/pretix/pretix/blob/master/src/pretix/control/views/orders.py#L52) in a similar way to the filter in the sendmail plugin that can be found in [sendmail/views.py](https://github.com/pretix/pretix/blob/master/src/pretix/plugins/sendmail/views.py#L31)

If someone wants to tackle this as his or her first issue in the project, do not

[2016-08-13 18:46] raphaelm commented on #173
Sounds reasonable. :)

If someone wants to tackle this as his or her first issue in the project, do not hesitate to ask me questions if you get stuck!

[2016-08-13 18:47] raphaelm commented on #176
Yes, that shouldn't be too hard, but might require some insight into our settings localization toolchain, so I'll not mark this as easy fo rnow.

[2016-08-13 18:48] raphaelm commented on #179
If we go for a custom font, I'll vote for Open Sans that the pretix.eu landing page already uses.

[2016-08-13 18:49] raphaelm opened #182 "Add Open Sans webfont and use it everywhere"
Might fix #179 and obsoletes #167.

[2016-08-13 18:50] raphaelm commented on #167
I created #182 that probably solves this.

[2016-08-13 18:50] #167 closed

[2016-08-13 18:50] raphaelm commented on #180
If someone wants to tackle this as his or her first issue in the project, do not hesitate to ask me questions if you get stuck!

[2016-08-13 19:21] raphaelm commented on #177
Fixed in #178. Thanks!

[2016-08-13 19:21] #177 closed

[2016-08-13 19:22] raphaelm commented on #164
Fixed in #169

[2016-08-13 19:22] #164 closed

[2016-08-14 06:57] JRodDynamite commented on #104
I narrowed down the issue. When I set a field to [`disabled`](https://docs.djangoproject.com/en/1.9/ref/forms/fields/#disabled) in the forms, I get this error.

I had added the following line of code in `__init__` method of `pretix.control.forms.item.ItemUpdateForm`.

    self.fields['secret'].disabled = True

From what I can understand is that I need to make some changes in `i18n.py` for it to su

[2016-08-14 08:39] raphaelm commented on #104
You might have found a bug there, I'll look into that. But: Is your secret a localized field? The secret should be a plain CharField in both model and form, as it is the same for all languages.

[2016-08-14 08:46] raphaelm commented on #104
Nevertheless, I fixed the bug in b53ef74

[2016-08-14 16:44] raphaelm opened #185 "Support SEPA direct debit"
It would be nice to have a payment provider that collects debit information and creates SEPA debit files

[2016-08-14 16:45] raphaelm commented on #165
When I implemented vouchers, I accepted this because I feared for surprising scenarious if redeemed vouchers do get reactivated. Hence the decision for a ``redeemed`` field instead of checking ``is_ordered`` all the time.

After thinking for a while, I believe I found such a scenario:
Currently, it is possible to cancel an expiring order. Quota Q with item P is of size 1. The admin creates voucher

[2016-08-14 16:46] raphaelm opened #186 "Data integrity check for overbooking"
If it somehow happens that a quota is overbooked, an error message should be raised. This shouldn't ever happen, but a safeguard would be nice.

[2016-08-14 18:24] raphaelm opened #187 "Unify usages of canceLed vs canceLLed"
currently is mixed througout the sourcecode and texts... LL leads in usage, L is probalby what we want.

[2016-08-14 19:11] raphaelm opened #188 "Allow manual ordering of questions"
Categories and items can manually brought into a specific order in the admin panel. This should also be possible for questions. Therefore we'd need to:

* Add a ``position`` field to the ``Question`` model
* Add views and buttons to reorder, similar to the categories
* Use this ``position`` field as the default ordering for questions, make sure that it is used while displaying questions during the

[2016-08-15 09:38] raphaelm commented on #186
Of course, a user can create an overbooked event anytime by changing the quota size. We should at least warn about this ;)

[2016-08-15 09:55] #170 closed

[2016-08-15 14:33] raphaelm commented on #91
To implement this, the following steps are required:

* Add a boolean property as ``allow_cancel`` to the ``Item`` model that defaults to ``True`` and create a migration
* Add this property to the item editing form
* Add an appropriate check to ``Order.can_user_cancel``

If someone wants to tackle this as his or her first issue in the project, do not hesitate to ask me questions if you get stuck!

[2016-08-15 21:04] raphaelm opened #190 "Allow admin to change question answers after last_modification_date"
Related to #163

[2016-08-16 06:30] JRodDynamite commented on #104
Hi @raphaelm, I changed the `secret` field to use `CharField`. I have so far added a `secret` and `is_secret` field to the models and the templates to create and edit products.

I'm unable to understand the next step

Does the secret link will show only the single secret product? What all products should I be able to see when I go to the secret link (eg: http://localhost/mrmcd/2015/EJL7rVvVbf6vIlM

[2016-08-16 07:59] Unicorn-rzl opened #192 "Importing bank transfers after last payment date (global setting) should show better visible error"
Currently it is not possible to change the payment state of an order after the global set "last payment date" is over. If you try to change an order manually, it will show a correct error (like "too late to accept payment").
How ever: When importing bank transfers, there is only a small yellowish notice on the top instead of a error. Furthermore the message is not really helpful (in comparison to

[2016-08-16 08:11] raphaelm commented on #104
Hi @JRodDynamite, sure, that might have been unclear. I imagined it the following way:

If you go to the secret link of a regular product, you will be asked how many times you want to add the product to your cart. Only this single product is shown on this page.

If you go to the secret link of a product with variations, you will be asked how many times you want every single variation in your cart,

[2016-08-16 12:24] raphaelm commented on #104
Hi @JRodDynamite just for your information: I'll be on holiday until the 29th of August. If you have any questions, feel free to ask anyway, but it might take a few days for me to answer :)

[2016-08-18 06:41] sathe-aditya commented on #161
Hello, I'm a beginner to open-source, and would like to address this issue! Could anyone please guide me?

[2016-08-18 11:12] rixx commented on #161
Hi! There are several starting points you could choose. If you are not familiar with Django (the Python web framework used in pretix), you could follow the [official Django tutorial](https://docs.djangoproject.com/en/1.9/intro/tutorial01/) or the [Django Girls tutorial](http://tutorial.djangogirls.org/) to familiarize yourself with Django's overall structure.

If (or: once) you are familiar with D

[2016-08-18 12:44] sathe-aditya commented on #161
Sure! I am not familiar with Django; I'll start getting familiarized with it right away!
Thanks a lot for your help, I'll definitely ask you if I run into some problem!

[2016-08-19 19:27] rixx opened #195 "Tell users that their invoice won't change automatically"
When a user changes their invoice address, they might expect their invoice to change, too. Add a notification on-change (maybe even pre-change?) that they should message the support to get a new version of their invoice.

[2016-08-19 22:07] rixx opened #198 "Display invoice form collapsed if invoice info is optional"
If invoice info is optional, the large and serious-looking form will still compel people to fill it in, especially since the "(optional)" is not that visible.

This is a fairly simple change in `src/pretix/presale/templates/pretixpresale/event/checkout_questions.html`, but good usability would require to move away from usage of bootstrap's accordion (try it, you'll see) and switch to regular colla

[2016-08-20 12:40] vishalsodani commented on #180
I would like to have a go at this. I have figured out that we have to check -

1. if there are no items active or
2. if no vouchers exist for any of the items

then the 'Add to cart' button can be hidden.  Am I correct?

[2016-08-20 15:02] rixx commented on #180
Hi! :)

I think your first point is sufficient - voucher redemption works separately from the normal way items are added to a cart.

[2016-08-20 17:10] vishalsodani commented on #180
Hi,

I actually meant to say "if no available quantity in quotas exist for any of the items" for second point.

I  ran the unit tests but some of them are failing. Are they supposed to? I am using sqllite3 for tests.

[2016-08-20 19:55] rixx commented on #180
That sounds basically correct, but it might be a bit more simple: Pretix is already doing all of these checks in the view (if an item is active, if the item or its variations are still available according to their quotas). It then supplies the template with a variable containing all items that are active and available, `items_by_category`, which is then rendered by the template.

As long as this v

[2016-08-20 20:23] vishalsodani commented on #180
Yes. I will push my change.

[2016-08-21 13:36] rixx commented on #36
Still used to mark an item as deleted if there are already `OrderPosition` objects referencing this item. Maybe change the naming and explanation to reflect the usage?

[2016-08-21 14:28] rixx commented on #165
Picking this up again in #201 - so if we'd disallow cancelling of expired orders (which makes a lot of sense to me), you'd be willing to go ahead with this? I added it to the new PR as a separate commit, so it can still be taken out.

Funnily enough, the "Cancel order" button was already only shown if the order was still marked as pending in the frontend. (Cancelling was allowed in the view, but t

[2016-08-22 12:59] rixx opened #203 "Provide an additional hint on I18nFormFields"
At some point, a flag might not be helpful in indicating a language (such as when there are two languages configured for the same flag). Adding a simpe alt-text would be good enough for me.

[2016-08-22 13:48] vishalsodani commented on #180
Hi,

I have pushed my change. I see 2 tests are failing as they expect 'Add to cart' row.

[2016-08-22 14:12] rixx commented on #180
I think @raphaelm is away atm, so it could take until next week until he has a look at your pull request.

As for the tests, I think the best thing would be for you to adjust the tests so that they don't expect the 'Add to cart' button on empty item lists - instead they could assert that the button is **not** there :)

[2016-08-22 16:34] rixx opened #206 "Correct error message when adding too many products"
The error message itself is fine, but when I have 10 products (which is the maximum) in my cart, every remaining product is still available - maybe add text like "Your cart is already full/at maximum capacity" instead.

On that note, maybe adding a "Contact our support at <mail> for larger orders." would be nice, too.

[2016-08-22 17:20] rixx opened #208 "Offer a settings export/import"
Serializing all event settings to a .json would be really useful for local tests. Maybe also an import command for parts of the json export (items and categories). Manage commands would be sufficient for imports, and would avoid backend users screwing anything up by importing when they don't really mean to.

[2016-08-23 08:11] rixx opened #209 "Separate custom text for cancellation invoice"
I think for most cases, the custom added text will mostly include thanks for buying a ticket and maybe the reminder to pay within the payment term … which is fairly nonsensical on cancellations. So there should either be a separate cancellation text, or none at all (which I think is reasonable).

[2016-08-24 11:15] rixx opened #212 "Decouple language selection in /control"
The language used in the /control/ backend should be determined **only** by the user's language and any session/cookie choice set by the frontend should be ignored.

- [ ] Decouple language choice from frontend. The backend language should be coming from the user object, not from the session.
- [ ] MAYBE: Introduce a quick way to change the user locale in the backend if ``DEBUG`` is on to ease dev

[2016-08-25 15:07] rixx opened #220 "Refactor user input handling/validation in orders and cart views"
At the moment, cart and presale data are rendered by using hand-made html forms and "manual" validation of POST parameters. Even though Django forms might seem clumsy for relatively dynamic content, being able to just call `form.is_valid()` might provide more security and stability than a custom validation logic of raw POST params.

[2016-08-25 16:28] raphaelm commented on #220
This might be a solution, but I believe there are other, maybe easier ways to achive this than to squeeze this into Django forms. Let's discuss this when we refactored the services.orders into a state machine and use that structure to refactor services.cart.

[2016-08-25 16:41] rixx commented on #220
In that case, let's keep this issue as a general "unify user input validation/handling in orders and cart" issue.

[2016-08-27 11:37] rixx opened #222 "Link the related order(s) in a used voucher"
In the DetailView of a used voucher, there is a warning not to modify the already-used voucher. It would be nice to see the order/orders in which the voucher was used.

[2016-08-29 17:12] #166 closed

[2016-08-29 17:16] #172 closed

[2016-08-29 17:17] #203 closed

[2016-08-29 17:18] #198 closed

[2016-08-29 17:30] #180 closed

[2016-08-29 19:15] #165 closed

[2016-08-29 19:17] raphaelm commented on #104
Hi, I'm back from vacation. Please tell me if I can assist you here :)

[2016-08-29 19:19] raphaelm commented on #36
Nope, that is a very good reason. Closing this as wontfix.

[2016-08-29 19:19] #36 closed

[2016-08-29 19:23] raphaelm commented on #206
Can you please specifiy this further? I get a very correct error message of "You cannot select more than %s items per order."

[2016-08-29 19:26] raphaelm commented on #209
No, it needs to be the same or a separate text. The custom text might include important things like "No taxes applied due to $LAW" that need to be included.

[2016-08-29 19:28] rixx commented on #206
Yeah, didn't describe it properly, sorry.

What I meant was: It'd be nice if all products/variations would have a message instead of a textinput field (or a disabled field, maybe) once your cart is full, similar to products/variations that are only available using a voucher etc.

[2016-08-29 19:32] raphaelm commented on #206
Ah, I see. I'm not decided on that one. Currently those type of message is used only for issues that are (a) specific to an item and (b) the user cannot do anything about. "Cart is full" is neither of those things, so I'm not quite sure I want to use this UI concept here. It might be a good idea but I'm not yet sure :)

[2016-08-29 19:33] rixx commented on #206
I think the most idiomatic thing in terms of web interfaces would be disabling the inputs. Just my two cents, and nothing I feel strongly about - but I dislike GUIs that let me try things that are obviously impossible (like adding items to a full cart).

[2016-08-29 19:37] raphaelm commented on #206
Yes, but a disabled field doesn't ever tell you *why* it's disabled. But it might be a start, combined with a message.

[2016-08-29 20:26] #160 closed

[2016-08-30 11:22] #195 closed

[2016-08-30 19:29] FlaviaBastos commented on #152
Hey, @raphaelm!
I was looking into this issue but I need some directions, please.
I understand that you can duplicate this issue when you add the item that has a question linked to it to the cart and checkout, right?
I'm stuck on my 'Checkout' page where I have to choose payment method but it has 'go back' and 'continue' only. I'm wondering if I'm missing any step to run the dev server that will d

[2016-08-30 19:40] raphaelm commented on #152
Hi :) It is partly related to live mode -- if you try to switch it to live mode, it will tell you what the problem is: No payment method is active. The easiest way is to first go to Settings->Plugins and activate Bank transfer, then go to Settings->Payment and activate it there as well :)

[2016-08-31 17:10] #163 closed

[2016-08-31 17:57] raphaelm commented on #117
Fixed in 022e02d (with typo in commit message)

[2016-08-31 17:57] #117 closed

[2016-09-01 06:55] #91 closed

[2016-09-01 06:59] #122 closed

[2016-09-01 12:25] raphaelm commented on #114
Fixed in 5aa7740c453b5013b10ce0d60ce8e3a9273d596d

[2016-09-01 12:25] #114 closed

[2016-09-01 19:45] esaezgil commented on #152
@raphaelm maybe that explanation could be included in the docs?

[2016-09-01 19:48] #152 closed

[2016-09-01 19:59] #188 closed

[2016-09-01 20:24] #222 closed

[2016-09-02 07:52] raphaelm commented on #152
@esaezgil I don't think that should go into the developer docs, I rather think we need to improve the UI so that the solution becomes obvious as soon as the problem occurs. This will not only be encountered by developers.

[2016-09-04 20:11] #176 closed

[2016-09-09 17:04] rixx commented on #212
Hm, by now I discovered that you *can* change your locale in `/control`, but you have to go and edit your user profile to do it. I'm standing by my original suggestion.

[2016-09-09 17:09] rixx commented on #209
I think we can consider this closed: regular configured text will be included in cancellations while payment provider specific text will be omitted.

[2016-09-09 17:09] #209 closed

[2016-09-11 16:04] rixx opened #228 "Substring search when matching voucher tags"
I might use a tagging structure such as "DE-Berlin", "DE-Stuttgart" for vouchers, and it'd be neat to match all "DE-" tagged vouchers at once.

[2016-09-12 11:08] raphaelm opened #229 "JavaScript i18n does not use pretix language"
it instead always uses browser language

![Screenshot](https://drop.rami.io/Mbo/)

thanks @nomoketo for finding

[2016-09-12 13:07] s72785 opened #230 "customer-bound voucher"
To prevent people from selling vouchers, they could be bound to either
-  to a member id (e.g. CCC e.V. Mitgliedsnummer)
- email address of the purchaser (issued to email address)
- organisation (to be delegated as one of the versions above, e.g. by erfa/chaostreff)

[2016-09-12 22:17] davidak opened #231 "Support for Stripe's Bitcoin API"
You already use Stripe for credit card payments, they also support Bitcoin.

It should be very easy to enable: https://stripe.com/bitcoin

Bitcoins have a lot of advantages like fast (unlike wire transfer) and secure payment and you can use them anonymously.

[2016-09-13 07:03] raphaelm commented on #231
Yes, that would be a nice addition to the software! However, its not very relevant to the events this is currently used for,  because of this:

Source: https://stripe.com/docs/bitcoin

[2016-09-13 08:29] pc-coholic opened #232 "History-entry for successful Stripe-payment"
A successful Stripe-payment will add add an entry to the order-history-sidebar.

However, this entry just reads "pretix.plugins.stripe.event". This should eventually be changed to a more verbose string.

![image](https://cloud.githubusercontent.com/assets/654548/18466671/eb46bfd8-799c-11e6-8977-67ab49daa558.png)

[2016-09-13 12:24] pc-coholic opened #233 "Filter orderlist by payment_provider"
Oder overview offers a links to a filtered order-list (like payment pending, cancelled, refunded, etc).

There is even a breakdown on the "Payment method fees" per payment_provider. However clicking for example on the "Payment Pending"-link in the "Stripe"-row, won't just return the pending orders that are associated with this payment-method. Instead, all payments are returned.

[2016-09-14 11:01] #233 closed

[2016-09-15 07:37] majewsky opened #239 "IBAN is not very readable"
![screen1](https://cloud.githubusercontent.com/assets/24696/18541796/bacb40a4-7b27-11e6-988b-4bd37e162b3d.png)

This applies to both the web UI and the emails sent: It's customary to group the IBAN into four-digit groups with non-breaking spaces to make them easier to read and memorize, e.g. in this case `DE05 1001 0010 0017 6951 05`.

[2016-09-15 07:43] raphaelm commented on #239
This is not a software problem, just a configuration issue. Thanks for the feedback anyway, we'll change that on tickets.events.ccc.de!

[2016-09-15 07:43] #239 closed

[2016-09-15 18:49] koebi commented on #228
Hey,
I'm willing to contribute to pretix, and @raphaelm pointed me to this. I'm currently kind of getting the hang of pretix and just thought I'd let you know I'm working on this.

[2016-09-15 21:54] koebi commented on #181
This seems like it got fixed in #213, this issue can be closed

[2016-09-15 22:06] #228 closed

[2016-09-15 23:10] #181 closed

[2016-09-17 20:34] #55 closed

[2016-09-17 20:47] #229 closed

[2016-09-18 16:29] #232 closed

[2016-09-18 16:31] raphaelm commented on #231
I'm labeling this with "plugin ideas" as I do not see this getting into pretix' core, but I do encourage you to create a payment provider plugin that adds this functionality.

[2016-09-20 16:32] FlaviaBastos commented on #187
Hi, @raphaelm
Both 'cancelled' and 'canceled' [are correct](http://www.dictionary.com/browse/cancelled). It's a matter of preference (American x British), I think.
I can work on this, if that's ok.
I'm assuming you will want all to be 'canceLed', correct?

[2016-09-20 16:43] raphaelm commented on #187
Hi @FlaviaBastos!

I prefer the L version, because American English is more common in the project and in programming in general, however, LL is already more widespread in the project. (153x LL and 26x L). But I guess, we should still go for L, as consistency wins.

Replacing the strings is straightforward, replacing variable names requires some caution. Especially renaming things like ``Order.STAT

[2016-09-20 16:50] FlaviaBastos commented on #187
Got it! Thanks!
I will start working on this and reach out if needed.

[2016-09-20 21:18] FlaviaBastos opened #244 "OfflineGenerationError at /control/login"
I ran into this error when trying to access http://localhost:8000/ and http://localhost:8000/mrmcd/2015
This is after a fresh installation (clone and all). `python manage.py runserver` doesn't generate any error on the terminal but the browser gives this:

`You have offline compression enabled but key "22a806d67d65a69a2a5c00eb139516ce" is missing from offline manifest. You may need to run "python

[2016-09-21 07:05] raphaelm commented on #244
We need to somehow solve this for development. To find the error source, can you try if ``python manage.py collectstatic`` helps?

[2016-09-21 11:32] raphaelm commented on #244
Oh, I just found I accidentally commited a settings change. Fixed in 912a81d. Thanks!

[2016-09-21 11:32] #244 closed

[2016-09-22 19:52] #187 closed

[2016-09-22 20:05] raphaelm opened #248 "UX bug: Failed stripe payment"
If a payment failed with an error message, the following happens:
![download](https://cloud.githubusercontent.com/assets/64280/18764172/91c77440-8110-11e6-8ceb-1b9bda03eb34.png)

In this case, the green "thanks" note should not be displayed, but instead another message that explains that the order was successful, but the payment wasn't.

However, for a payment method like banktransfer where it is

[2016-09-23 07:50] raphaelm opened #249 "Blacklist some exceptions for celeries error reporting"
If an ``OrderError`` or ``CartError`` happens in a task, celery should not send an error notification by email.

Go along the lines of the approach described here: https://github.com/celery/celery/blob/759939cd727b49d5f04a49e567e0f8aaad90d1fe/docs/whatsnew-3.1.rst#scheduled-removals

[2016-09-24 11:28] #249 closed

[2016-09-25 10:05] raphaelm opened #250 "Keep payment deadlines on weekdays"
In Germany, the [law](https://dejure.org/gesetze/BGB/193.html) requires not to put any payment deadlines on a Saturday or Sunday. We should support this requirement at least optionally.

[2016-09-25 10:21] raphaelm commented on #250
We could use something like [holidays](https://pypi.python.org/pypi/holidays), but I feel we'd need some kind of editor for other countries, which clutters the UI a lot. I don't really like this :(

[2016-09-27 08:17] pc-coholic opened #253 "Voucher-counting returning True/False"
The tag-counting of vouchers seems two have two issues at the moment:

- No voucher has been used yet:
`False/<Number of Vouchers>` instead of `0/<Number of Vouchers>`

- Some other bug, if some vouchers have already been redeemed (cannot put my finger on, when this happens/why this happens):
`True/<Number of Vouchers>` instead of `<Number of used Vouchers>/<Number of Vouchers>`

Second item can b

[2016-09-27 08:21] raphaelm commented on #253
``True`` seems to be ``1``. As I can't reproduce this locally, this *might* be MySQL-specific.

[2016-09-27 09:36] rixx commented on #253
[It is](https://code.djangoproject.com/ticket/24662)

[2016-09-27 09:42] #253 closed

[2016-09-29 22:11] rixx opened #256 "Tag filtering, again"
Substring search in tags is great! … Except when it isn't.

If you have a category `free` and a category `freebies`, and you look at them in the tag overview to see their usage, and then click on `free` to see which vouchers are in there … you'll naturally get vouchers of both `free` and `freebies`. For a better user experience pretix should probaby differentiate between _showing_ a tag and _filte

[2016-09-30 07:24] raphaelm commented on #256
This is what I originally intended with the tag filter... I originally deliberately did not do substring matching in the "tag" input field, but also matched for tag substrings in the "search" field. But apparently, that was unclear in the UI and everyone expected the "tag" field to do substrings again. So yeah, we need a different way for this.

[2016-09-30 08:48] rixx commented on #256
So if pretix were to differentiate between search and a tag view, there'd be some nice things it could do:

 - when filtering: highlight the matched part of a tag
 - when selecting: show usage stats above matches, and show the tag name more prominently
 - when selecting: maybe pre-fill the voucher creation form with the correponding tag when coming from here

I *think* the most natural thing would

[2016-09-30 08:55] raphaelm commented on #256
Agreed.

[2016-10-02 15:00] rixx opened #258 "Annotate bank transactions"
When working on bank transfers, it would be useful to be able to annotate/comment invalid or ignored payments in the "Bank Import" view to denote communication/research/decisions etc.

[2016-10-04 17:39] FlaviaBastos opened #259 "Cannot login in control: TypeError at /control/ process() takes 2 positional arguments but 3 were given"
This is on a fresh clone/install on mac os x el capitan (v 10.11.6), running python 3.4, following all the steps outlined in docs (https://docs.pretix.eu/en/latest/development/setup.html)

- run `python manage.py runserver`
- access: http://localhost:8000/control/ (same result with http://localhost:8000/mrmcd/2015/)
- login

After login page, I get:
`TypeError at /control/
process() takes 2 positi

[2016-10-04 17:58] rixx commented on #259
I cannot reproduce this with python3.5 or python3.4 - after running `python manage.py migrate`, a normal login page shows. http://localhost:8000/control/ redirects to http://localhost:8000/control/login?next=/control/

[2016-10-04 18:14] FlaviaBastos commented on #259
Hi @rixx 👋
Hmm... I did run migrate also... 😕
Wait, did you try to login? Because I also get the login page fine. The issue is when it tries to authenticate user.
If you can login fine, I guess I will try on python3.5

[2016-10-04 18:24] rixx commented on #259
Ohh, I missed that!

The problem exists on clean installs of both python3.4 and python3.5.

[2016-10-04 18:34] rixx commented on #259
It's a development-only issue resulting from a incompatibility of django-debugtoolbar with sqlparse in a certain version as detailed in jazzband/django-debug-toolbar#862, except that the issue is solved by upgrading sqlparse to 0.2.1 (and probably higher version, but I submitted a pinned version for now).

You might just want to run `pip install --upgrade sqlparse` locally until the PR is merged (

[2016-10-04 18:55] FlaviaBastos commented on #259
yup! Upgrading sqlparse fixed it here too! :tada:
Thank you!

[2016-10-05 07:31] #259 closed

[2016-10-05 16:17] #155 closed

[2016-10-06 20:25] FlaviaBastos commented on #148
Hi, @raphaelm
I added the order code to the PDF - please check file attached.
Is this ok? Is there anything else you think should be added also?
[1d73f4f9-8ae4-464d-becd-a0accfed05d0..pdf](https://github.com/pretix/pretix/files/514727/1d73f4f9-8ae4-464d-becd-a0accfed05d0.pdf)

[2016-10-08 10:22] raphaelm commented on #148
Yes, this is totally fine as a default :) Just like the other strings in the PDF, there should be settings for their position and size such that one day we can build a fancy drag-and-drop PDF editor :)
From the top of my head, I currently cannot think of other useful information to include there.

[2016-10-08 16:40] #148 closed

[2016-10-08 18:18] #258 closed

[2016-10-09 20:32] yash2696 commented on #192
hey I want to work on it.

[2016-10-10 11:51] raphaelm opened #267 "Call celery tasks not before the end of a transaction"
See: https://blog.hypertrack.io/2016/10/08/dealing-with-database-transactions-in-django-celery/

Currently this is solved in some places by a timeout, e.g. invoices.py in the last line

[2016-10-10 12:42] rixx commented on #267
[services/invoices.py](https://github.com/pretix/pretix/blob/master/src/pretix/base/services/invoices.py#L400), that is.

[2016-10-10 14:38] raphaelm commented on #267
fixed in #268

[2016-10-10 14:38] #267 closed

[2016-10-11 13:44] cptfoo commented on #231
Why stripe? The whole point of Bitcoin is that it makes it easy to accept payments without a third party. Why give Stripe money instead of just writing the code? And writing the code would make it easy for others to use since its free software.

[2016-10-11 13:47] cptfoo opened #269 "If I brute force a voucher or found a hack to let me buy a ticket, will anyone be really mad?"
I have went for the last 3 years, I usually volunteer but do not typically volunteer enough to get shirts and I'm a loner so I'm not part of any hacking oragnziation in Germany. I'm also kinda an outsider since I moved here from California, but not for that startup bullshit, I just work on open source projects I think are fun.

I don't have a voucher and I'm worried I won't get a ticket, if I brut

[2016-10-11 13:48] raphaelm commented on #231
Nobody ever said that you cannot implement other plugins that accept bitcoin in a different way. :) Tgat's just not what this "plugin idea" ticket is about :)

The reason some event organizers would want stripe to handle this is not only the technical part, it is also about the organizational part regarding flaky conversion rates, taxes, etc. which are abstracted a layer away if you use Stripe or

[2016-10-11 14:30] raphaelm commented on #269
Hey @cptfoo,

please note that this is the issue tracker of pretix, a free software that can be used to run conference sales. This is *not* a Q&A forum for the 33rd Communication Congress ticket sale. If you want to contact the 33c3 team, please write to 33c3-tickets@cccv.de.

If you do find a security-relevant issue in pretix, I politely ask you not to disclose it in public but privately to suppo

[2016-10-11 14:31] #269 closed

[2016-10-11 14:47] cptfoo commented on #269
Ack, sorry for cluttering the issues

[2016-10-11 18:48] FlaviaBastos commented on #173
Hi, @raphaelm
I would like to work on this but I need a few pointers, please, if you don't mind.

From the issue's description I understand that @rixx is suggesting that the sendmail plugin has similar capabilities that the Email settings in control, where one can edit the email content by using {event}, {total}, etc (the available placeholders).
If so, I am looking into modifying `pretix/src/pret

[2016-10-12 08:24] raphaelm commented on #173
Hi Flavia!

An ``I18nModelForm`` won't get you very far as we aren't dealing with models here. I'll try to describe more precisely what this is about.

If you activate the sendmail plugin (in settings → plugins), you see that it adds a new menu entry in the main menu that allows you to do a very simple thing: Send an email to all or some of the conference attendees. The interface is also rather si

[2016-10-12 16:32] FlaviaBastos commented on #173
Wow, thank you very much for the detailed explanation! It sounds much less complicated now :grin:
I will chew this info and submit something for feedback.
I will try to add the preview also - sounds like an interesting part to work on. I will reach out if I get stuck.
Thanks again!

[2016-10-13 20:02] raphaelm commented on #38
Okay, just for your information, someone else is now starting to work on this :)

[2016-10-14 11:08] rixx opened #273 "Display correct expiry timestamp"
An order expires after a day is over - the time of the `DateTimeField` is ignored. We could:

 - always show midnight (`23:59`) next to the expiry date
 - show only a date
 - show and save only a date (migrate to DateField)

For a more complete solution, I'm in favor of migrating to a `DateField` and renaming the field to `valid_until` instead of `expires` (which is ambiguous on if the date is inc

[2016-10-14 12:30] rixx opened #274 "Disable weekends in datetimepicker for expiry"
… if `payment_term_weekdays` is set. The datetimepicker accepts a `daysOfWeekDisabled` option for this purpose.

[2016-10-14 13:07] raphaelm commented on #273
I see two valid options:
* Use a ``DateTimeField`` but let the user only edit the date and always *set* the time to 23:59 (in the event's timezone)
* Use a ``DateField`` and make clear that the expiry happens at the end of the day (I'm fine with renaming the field)

I don't want to have a time saved in the database that is then ignored.

[2016-10-14 13:19] raphaelm commented on #273
I believe the first approach is easier in terms of timezone handling, so I'd recommend that (although I'd also merge a patch using the other approach).

[2016-10-15 19:18] raphaelm opened #275 "Check if refunds properly set the user on their log entry"
especially with stripe

[2016-10-19 09:07] raphaelm opened #277 "iframe-embeddable version of the shop"

[2016-10-19 09:43] raphaelm opened #278 "Preview feature for invoices"

[2016-10-20 10:04] #273 closed

[2016-10-20 18:44] #278 closed

[2016-10-24 15:02] chrisdamba commented on #149
Hi @raphaelm Is this feature still needed? This would be my first pull request but I would like to give it a go?

[2016-10-24 15:06] raphaelm commented on #149
Hi @chrisdamba! I believe this would still be useful, so feel free to try yourself! If you get stuck in the process, please ask, I'll be happy to help :)

[2016-10-24 15:16] chrisdamba commented on #149
Thanks @raphaelm for the opportunity, let me set up pretix and will definitely give you a nudge should I bump into any problem :)

[2016-10-24 18:19] chrisdamba commented on #149
@raphaelm I've attached a screenshot of what I think may be the correct page to implement the enhancement, is that right? Am I looking into the right place, i.e. `pretix/control/templates/pretixcontrol/order/index.html`?
![pretix_1](https://cloud.githubusercontent.com/assets/2035056/19658130/b6e7e2d8-9a1e-11e6-8a16-3948c2ddb909.png)

[2016-10-24 18:24] raphaelm commented on #149
Yes, that is the correct file!

[2016-10-27 12:59] #275 closed

[2016-10-27 22:53] FlaviaBastos commented on #161
@sathe-aditya hey! Are you planning to work on this or could I take a look?

[2016-10-28 06:51] sathe-aditya commented on #161
Hey there! Could you please take a look? Thanks.

On Fri, Oct 28, 2016 at 4:24 AM +0530, "Flavia Bastos" <notifications@github.com<mailto:notifications@github.com>> wrote:

@sathe-aditya<https://github.com/sathe-aditya> hey! Are you planning to work on this or could I take a look?

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.c

[2016-10-29 20:08] rixx opened #291 "UI/UX: Differentiate order numbers and order position numbers"
When you see in the overview that there are 100 orderpositions of a specific product in a certain state ("Standard ticket, pending"), and you follow the link to a list of 80 orders … this is quite confusing.

There needs to be a way to make it clear that one number is about orders, and the other is of orders …

[2016-10-31 14:46] raphaelm opened #293 "Download reminder email"
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2016-11-01 09:10] raphaelm opened #294 "Create a blacklist for slug validation"
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2016-11-02 09:32] raphaelm opened #296 "Fix DST issues with expiry"
If an order is created during daylight-saving time but its expiry date is not, it's expiration won't be exactly at 23:59.

[2016-11-02 09:37] raphaelm opened #297 "pretixdroid: Show metrics in the control panel"
The pretixdroid Android app allows organizers to scan the tickets at the entrance. The date and time of those check-ins are saved and it would be nice to do at least the following things with them:

- [x] Add checkin to order log
- [x] Show list of checkins by ticket
- [x] Show number of checkins on dashboard
- [x] List of people already checked in / not yet checked in

[2016-11-02 09:38] raphaelm commented on #248
For the record, @koebi is working on this :)

[2016-11-02 09:40] raphaelm commented on #135
You can't overbook e.g. by creating vouchers any longer, only by reducing a quota limit or with quota-ignoring vouchers

[2016-11-02 09:40] raphaelm opened #298 "Release Checklist"
- [x] Get rid of non-release-version dependencies
    - [x] celery
    - [x] django-formset-js
- [x] Packaging
- [x] Plugin install docs with docker
- [x] Plugin install docs without docker

Before 1.0:
- [x] Check translations
- [x] Test install docs
- [x] Squash migrations
- [x] Write blogpost
- [ ] Notify people
- [x] Adjust Readme

[2016-11-02 09:41] raphaelm commented on #138
The stepsize is removed, which also removes client-side validation. Is there a better solution?

[2016-11-02 09:46] raphaelm commented on #82
The open thing here is the same as #134

[2016-11-02 09:46] #82 closed

[2016-11-02 09:47] raphaelm commented on #58
Happening at https://github.com/pretix/pretix-passbook :)

[2016-11-02 09:47] #58 closed

[2016-11-02 09:49] raphaelm commented on #52
We tried… they are too different, I've even seen unix timestamps in there. Not worth the hassle.

[2016-11-02 09:49] #52 closed

[2016-11-02 09:49] raphaelm commented on #39
possible duplicate of #123

[2016-11-02 09:50] raphaelm commented on #34
In the interest of security, this won't happen in the foreseeable future.

[2016-11-02 09:50] #34 closed

[2016-11-02 13:35] rixx commented on #296
This, again, would be in favour of just using dates db-side.

[2016-11-02 13:55] raphaelm commented on #296
No, I believe using dates is *still* more complicated, as we can not use a simple ``.filter(expires__lt=now())`` any more because if we have events with different timezones on the same server they all *should* expire at different times.

[2016-11-07 20:09] Flameeyes opened #299 "Separate JS file for translation can make at least some pages stop working"
(Originally reported in a twitter conversation with @nomoketo.)

When the serving side of the app is not reliable (e.g. irregularly collapsing under load) it is possible for only part of the JavaScript to load. This can be a problem in some pages (for example the confirmation page) as the buttons actions are rebound to use AJAX, but the bound functions use interfaces defined in other JS files that

[2016-11-08 08:16] raphaelm commented on #299
Thanks for reporting! I'll improve on failsafety here.

[2016-11-08 10:29] h01ger opened #300 "don't use flags to indicate languages"
Hi,

please don't spread the bad habit of using flags to indicate languages.

See https://www.w3.org/International/questions/qa-link-lang and http://www.flagsarenotlanguages.com/blog/why-flags-do-not-represent-language/ for explainations why.

Instead, please use the language name in the language itself, so "English / Deutsch" in this case or more generally عربية (Arabiya) Български (Bəlgarski) ca

[2016-11-08 10:51] raphaelm commented on #300
Good point, thanks a lot. I'm totally in favor of changing this in the frontend and will either do so if I get to it or accept a patch that does this.

In the backend, it'll be harder as we use flags to indicate target languages of input fields. We could use shortcodes there, but it would require additional design decisions and effort.

[2016-11-08 16:28] #299 closed

[2016-11-09 13:28] raphaelm opened #301 "Order overview: Show net prices"
The order overview can currently show counts and gross prices. It should also be able to show net prices.

[2016-11-09 13:30] raphaelm opened #302 "Order overview: Improve columns"
The labels of the columns are unclear and should be improved, maybe with explaining tooltips. Also, a reordering of the columns could help.

[2016-11-09 13:32] raphaelm opened #303 "Add time limits to payment providers"
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2016-11-09 13:38] raphaelm opened #304 "Send consistent metadata to PayPal"
We have two problems here:

- [x] The current PayPal implementation is lazy and sends different metadata to PayPal in ``order_prepare`` and ``checkout_prepare``

- [x] As ``checkout_prepare`` does not know the order code yet, it is not contained in the meta data which makes debugging hard. We need to consider if we can [update](https://developer.paypal.com/docs/api/payments/#payment_update) the pa

[2016-11-09 13:39] raphaelm opened #305 "Include tax data in CSV export"

[2016-11-09 13:39] raphaelm opened #306 "Add optional HTML version to emails"
including event logo etc.

[2016-11-09 13:41] raphaelm opened #307 "Sendmail: Log sent mails"
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2016-11-09 13:42] raphaelm opened #308 "Add preview functionality to mail templates"
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2016-11-09 13:46] raphaelm opened #309 "Add an interest list"
Add the possibility to register *before* the presale starts to be notified when it starts. This allows the organizer to estimate the interest in the event.

[2016-11-09 13:49] raphaelm opened #310 "Conditional refunds"
Goal: If the event is sold out, the user can click on "request refund" and you will get their money back (minus a possible refund charge) as soon as (and only if) someone else bought and paid the ticket instead.

This goes best after #109.

[2016-11-09 13:53] raphaelm opened #311 "Show vouchers in groups in the voucher list"
It would probably be better to go away from the tag concept and introduce an actual "voucher group" concept. If you create N vouchers at once, they will be placed in one group and the voucher list only shows groups, not single vouchers.

see also #145

[2016-11-09 13:54] raphaelm opened #312 "Allow to immediately send out vouchers via email"
It would be nice to add a field to the voucher creation process that says "Send this voucher code via email including a redemption link to address XYZ" and then automatically doing so and adding the email address to the voucher comment.

For bulk create, the form would take an email address.

This would require a new email template to be added.

[2016-11-09 13:55] raphaelm commented on #145
XING Events does not have all of our features (e.g. like blocking vouchers and applying to quotas, they don't even have quotas as we know it), but they solve the UI problem by having a four-step wizard that lets you make a number of decision first and then sends you into a suitable stripped-down form that only shows you the relevant options. This gives the possibility to better explain the implica

[2016-11-09 15:30] rixx commented on #312
Wouldn't add this until you start a wizard-y interface as per #145, because one more field will just add more clutter.

[2016-11-09 15:31] rixx commented on #311
How would you add vouchers to a group, then? Via drop-down?

[2016-11-09 15:37] raphaelm commented on #311
Well, you would create a group while you create the first vouchers for that group. If you want to create more later, you can just go to the detail page of that group and say "add more"

[2016-11-09 16:43] #305 closed

[2016-11-09 17:18] #173 closed

[2016-11-10 12:23] chrisdamba commented on #274
Could pick this up if that's ok?

[2016-11-10 12:36] raphaelm commented on #274
Sure, go ahead! :)

[2016-11-10 14:19] #124 closed

[2016-11-10 14:37] rixx commented on #301
So, `[Show number | Show {currency} (gross) | Show {currency} (net)]`?

(On that note, `[Show orders | Show revenue (gross) | Show revenue (net)]` might be better wording.)

[2016-11-10 14:40] raphaelm commented on #301
+1 for "[Show orders | Show revenue (gross) | Show revenue (net)]"

[2016-11-10 14:42] rixx commented on #302
Ideas:

 - Remove 'cancelled' column, it's only irritating
 - Hence, rename 'Total (pending and paid)' to 'Total'
 - Move 'Total' to the far right, because that's where you would commonly expect the columns summing everything up?
 - Different highlighting for the last row, or at least a thick line in between. As is, it does not differ from category sums
 - Folding categories seems cool to me, but

[2016-11-10 14:48] raphaelm commented on #302
I'm unsure here, that is an important metric.

If we remove cancelled and call the other thing total, we still have refunded in there. Do we want that? Refunded is an even more important metric than cancelled.

Agreed

Agreed

Folding items with lots of variations seems useful, categories not so much.

Nice! This could improve #291 as well

[2016-11-10 15:03] rixx commented on #212
Should wait for #300.

[2016-11-10 15:06] raphaelm commented on #212
Yes. Also, I'm not yet sure that we need this. It should be enough that you can change the backend language in your user settings. However, the language controls in the shop should not influence the backend language.

[2016-11-10 15:36] rixx commented on #302
Okay, agreed. How about
[code]
With thinner lines between pending, paid and total?

[2016-11-10 15:40] raphaelm commented on #302
I like that a lot!

[2016-11-10 21:02] chrisdamba commented on #274
@rixx This may sound silly but how do I pass the `payment_term_weekdays` context variable into the main.js file where the datetimepicker plugin is initialised?

[2016-11-10 21:07] raphaelm commented on #274
@chrisdamba it isn't, there is no obvious solution for that. But we had the problem before e.g. with the date formats and we solved it like this:

* in ``pretix/control/context.py`` we pass the variable to the template
* in the ``pretix/control/templates/pretixcontrol/base.html`` we set it as a data attribute to the ``<body>`` tag
* we then read it from there with javascript

[2016-11-10 21:20] chrisdamba commented on #274
Thanks @raphaelm for the workaround, that's quite helpful

[2016-11-10 21:25] #301 closed

[2016-11-10 21:32] #149 closed

[2016-11-11 13:40] #182 closed

[2016-11-11 13:51] raphaelm opened #314 "More endpoints for the RESTful API"

[2016-11-11 15:15] jfwiebe opened #315 "pretixdroid configuration barcode contains wrong data under specific circumstances"
Dear devs,

in my scenario, pretix is installed in a docker container strictly following the manual. The ports are not published to the net, instead incoming HTTPS requests will be redirected via Apache mod_proxy as HTTP to pretix. Pretix recognizes this as an HTTP request and the pretixdroid configuration barcode will contain a HTTP url (under which the Api is not reachable in my scenario). Is th

[2016-11-11 16:13] raphaelm commented on #315
Hi,

could you try one of the following options and tell me if it works?

* instruct your Apache to set the header ``X-Forwarded-Proto: https`` on the forwarded request or
* use the ``url`` setting in pretix' [config file](https://docs.pretix.eu/en/latest/admin/config.html#pretix-settings)

Best
Raphael

[2016-11-12 01:05] jfwiebe commented on #315
@raphaelm Thanks for your fast answer - the url was set to http, a mistake on my side. sorry for bothering you!

[2016-11-12 01:05] #315 closed

[2016-11-12 09:41] raphaelm commented on #315
No problem, glad to help!

[2016-11-12 18:56] jfwiebe commented on #314
Great idea. The API would be great to abstract logic and GUI. Advancing pretixdroid (see @[Issue 4](https://github.com/pretix/pretixdroid/issues/4)) would become very easy, especially for Python-Newbies (like me).

[2016-11-12 19:03] raphaelm commented on #314
Sure. But as this API will probably not happen very soon (as it requires either major changes or a lot of duplicate logic), if you want to work on pretixdroid now, there current JSON-API for pretixdroid is not that hard to extend. It currently lives in ``pretix/plugins/pretixdroid/views.py`` (with urls defined in ``pretix/plugins/pretixdroid/urls.py``) and contains an ``ApiRedeemView`` and an ``Ap

[2016-11-13 15:08] raphaelm opened #316 "Validate the last date of payments"
If the last date of payments is set to a value *before* the end of the presale period, users can buy tickets but never pay them. This is probably not a situation anyone wants to have :)

We should validate in the settings form that this cannot be set this way.

[2016-11-14 09:34] raphaelm commented on #179
It's not font-related and it also happens in Chrome :/

[2016-11-14 11:31] ligi opened #318 "Problem updating requirements"
After I pulled the latest master I got the following error:

[code]

so I thought - just a new dependency and I have to install them - but now updating the requirements fails for me:

[code]

[2016-11-14 11:40] raphaelm commented on #318
Can you try if ``pip install -Ur requirements.txt -r requirements/dev.txt`` helps so ``cffi`` gets upgraded?

[2016-11-14 11:42] ligi commented on #318
just found out that my problem is that I used pip and not pip3 - was just confused as the documentation states pip and not pip3 - might have been my inexperience with python here

[2016-11-14 11:43] raphaelm commented on #318
Using a virtualenvironment *should* alias pip to pip3, but apparently it doesn't in all cases. Let's keep this as a docs issue then. :)

[2016-11-14 11:43] ligi commented on #318
thanks!

[2016-11-15 04:51] aagarwal-optumsoft commented on #316
Hi,

Could you please explain more about the issue? Specially what is the 'last date of payments'? What do you mean by 'user can buy but not pay for them'?

[2016-11-15 04:55] amateurInventer commented on #316
Hi,
Could you please explain more about the issue?
What is the 'last data of payments'?
What do you mean by 'users can buy tickets but never  pay them'?

Thanks
Abhinav

[2016-11-15 08:02] raphaelm commented on #316
Hi @amateurInventer!

The first step ist to [make pretix run locally](https://docs.pretix.eu/en/latest/development/setup.html) to be able to click around and get a feeling for how pretix works.  This ticket in particular is about two settings that any event organizer can make in pretix:

* You can set a "end of presale" data which simply means that after the given date no one can buy a ticket anym

[2016-11-15 08:32] raphaelm commented on #38
This has been completed in the meantime :)

[2016-11-15 08:32] #38 closed

[2016-11-15 08:33] raphaelm commented on #192
Hi @yash2696, very sorry, I somehow did not see this! Are you still looking into it? Just say if you need any help!

[2016-11-15 08:41] raphaelm commented on #300
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2016-11-16 09:13] chrisdamba commented on #300
Just a word of appreciation and gratitude for the welcoming gesture, very helpful and constructive feedback you give on first-time contributors like me; quite motivational and encouraging. Thank you!

[2016-11-16 19:28] rixx opened #319 "Offer encrypted emails"
Soo, bear with me.

I'd like for users to optionally include a PGP key/fingerprint when they enter their email address (if PGP is configured for the event address), and then receive all emails encrypted.

This would, of course, work best as a plugin, but it'd need to monkey patch the mail command, which isn't cool. So the real issue here is "provide mail hooks for plugins", I guess?

Edit: I'd be

[2016-11-17 10:20] raphaelm commented on #319
By "users", do you mean backend users or ticket buyers?

For backend users I'd even want to have this in core, as is it could be just another row in the user settings. It would then encrypt mails we send to them (which currently are only password resets and account change notifications but could be more in the future).

For ticket buyers this would need to go in a plugin.

[2016-11-17 10:29] rixx commented on #319
I was only thinking about customers, hence the plugin. But having the functionality in core for backend users would of course make the plugin much simpler; I'm down for that, too.

[2016-11-17 21:39] #274 closed

[2016-11-17 23:56] FlaviaBastos opened #322 "Tests should not require compilejsi18n"
Hi!
I ran into a bunch of pytest failures and just to make sure it wasn't my fork or my branches, I cloned directly from pretix master. Pytest is also failing this new installation.
I get:
`313 failed, 496 passed, 1 skipped, 1286 pytest-warnings, 939 rerun in 1166.09 seconds` --> yep, it takes a long time!

My env:
`platform linux -- Python 3.5.2, pytest-2.9.2, py-1.4.31, pluggy-0.3.1
Django setti

[2016-11-18 08:01] raphaelm commented on #322
Ouch. The error you mentioned suggests that
[code]
might help. Can you try that? That might be necessary due to a recent change. If this is the case, I'll find a way to make this not necessary.

[2016-11-18 11:00] chrisdamba commented on #294
Would like to have a go at this. Ideally, where should we keep the list of blacklisted slug values, in a config, db?

[2016-11-18 11:07] raphaelm commented on #294
I think it would be perfectly fine to keep them as a list in the code. They are somehow part of the code and don't change often.

I could imagine using validator classes somewhere like this inside ``pretix.control.forms`` (maybe an own file)?

[code]

[2016-11-18 11:45] FlaviaBastos commented on #322
Sweet! It fixes it!
`809 passed, 1 skipped`
Thanks!

[2016-11-18 12:48] chrisdamba commented on #294
That would be a good approach, considering that they don't change much often so it would be safe to keep them in a list. I would also go for creating a validator class as suggested. Any thoughts on how best to test this (unit tests)?

[2016-11-18 13:39] raphaelm commented on #294
Testing this is probably rather easy, it could be done on two levels.

* Unit test: Just call the validator with one valid and one invalid value and check that only one of the calls raises an exception

* Integration test: Use Django's test client (used all over the place in our tests) to acutally submit the Organizer/Event creation form and check that the response contains an error message if the

[2016-11-18 13:40] raphaelm commented on #294
P.S.: Testing at *one* of the two levels would be good enough, on both would be optional but great. (Unit test runs faster and is more helpful to track down the problem when it fails but integration test prevents us from forgetting to *use* the validator).

[2016-11-18 13:59] chrisdamba commented on #294
Thank you so much, your above pointers are priceless! Yes please, would appreciate the similar tests pointers very much, thanks

[2016-11-18 14:07] raphaelm commented on #294
Hmm, there doesn't seem to be any integration test for the event creation form yet. I'd suggest you first stick with the unit test (that one should be very short and easy, just call your new method) and I'll add the integration test later.

[2016-11-18 14:10] chrisdamba commented on #294
Cool, will start working on this asap.

[2016-11-21 10:57] #294 closed

[2016-11-22 09:12] rixx opened #327 "Bank transfer filtering is broken"
- [ ] Does not filter comment
 - [ ] "Filter" button does not actually filter (hitting enter works)
 - [ ] Filtering for a non-matching string removes the whole list, including filter field

[2016-11-22 12:27] raphaelm opened #329 "RFC: Smart locking algorithm for better concurrency"
## Indroduction

If a quota is set to 100 tickets, we need to be absolutely sure that pretix allows *exactly* 100 tickets to be sold and not one more (and, also important) and not less, even under high load and distributed across a number of servers. This means the process of calculating and reducing quota needs to be free of race conditions.

Currently, this is achieved by using a lock whenever w

[2016-11-22 12:58] #327 closed

[2016-11-23 09:55] chrisdamba commented on #303
Looking to pick this up if that's ok ;)

[2016-11-23 10:00] raphaelm commented on #303
Sure, go ahead!

[2016-11-23 20:52] jfwiebe opened #330 "Stripe Webhook disabled with disabled shop"
While a shop for a specific event is disabled, the stripe webhook endpoint is also disabled, it returns a HTTP 403 to stripe which contains "Sie haben keine Berechtigung, diese Inhalte aufzurufen. Der ausgewählte Ticket-Shop ist im Moment nicht verfügbar."

Is this the intended behaviour? I would expect the webhook to be available as long as the event exists in pretix.

Regards
Jan Felix

[2016-11-23 20:58] chrisdamba commented on #303
Just a quick one, what would be the ideal label and help text for this field and is this a required field or optional?

[2016-11-23 21:28] rixx commented on #303
Maybe something more descriptive for the help text? Such as 'The latest date this payment can be chosen by users.'?

[2016-11-23 21:57] raphaelm commented on #330
This is not intended, no. Thanks for reporting.

[2016-11-23 22:51] raphaelm commented on #330
Fixing this probably is best done by adding an argument ``require_live=False`` to the ``@event_view`` decorator that allows plugins to specify that this check shall be skipped for thin view.

[2016-11-24 09:06] rixx commented on #330
See PR #331

[2016-11-24 13:13] Kashyap12 commented on #316
Hi @raphaelm , seems the issue is still open , I am new to open source and would love to contribute.

[2016-11-24 14:32] raphaelm commented on #316
Hi @Kashyap12, sure, if @amateurInventer is not interested, have a go!

[2016-11-24 15:33] raphaelm opened #332 "Stripe: Check if handling of "manual review" is correct"
If a payment has "elevated risk", stripe will trigger a "manual review". This apparently shows as a failed payment in pretix and if the user tries to pay again with a different card, two payments have been made.

The charge looks like this (only non-sensitice things shown):
[code]

[2016-11-24 17:05] raphaelm commented on #303
I'd suggest
* Label: "Available until"
* Help text: "Users will not be able to choose this payment provider after the given date."

[2016-11-25 10:08] chrisdamba commented on #329
Very interesting! I've subscribed to see and learn how this is implemented.

[2016-11-25 13:19] rixx commented on #329
Having thought about this for a day or two, I didn't run into any major flaws. I'm still not entirely sure about implementing part of this in lua, and making redis a required component is just a design decision you need to make, but other than that - go for it!

[2016-11-25 13:34] #330 closed

[2016-11-25 13:37] raphaelm commented on #329
We don't need to require redis. Without redis, we can just fall back to the same hard locking that we do right now. :)

[2016-11-25 13:39] rixx commented on #329
Oh, I missed that, apparently. In that case: :sparkles:

[2016-11-26 11:14] raphaelm commented on #161
THis has been fixed in the meantime :)

[2016-11-26 11:14] #161 closed

[2016-11-26 11:23] #69 closed

[2016-11-26 11:33] raphaelm commented on #104
@rixx made me aware that we have products that require a voucher now and that #145 will bring us multi-use vouchers. Once #145 is there, secret products can be realized easily and we don't need this feature any more.

[2016-11-26 11:36] raphaelm commented on #230
Thanks for your suggestion and sorry for me not answering earlier! I'm closing this here now, as it is a *very* c3-specifc feature that would better live in a plugin to pretix.

However, I also don't think it would be used at CCC, beause of first, voucher selling wasn't *that* much of a problem this year (I only know of one *fake* offer) and second, we *really* dislike storing unnecessary data abo

[2016-11-26 11:36] #230 closed

[2016-11-26 11:39] rixx commented on #162
Hm, at least we have order comments by now, which have some of the use case, but cannot be filtered or sorted for. Opinions?

[2016-11-26 12:10] #318 closed

[2016-11-27 13:36] #302 closed

[2016-11-27 15:09] #303 closed

[2016-11-28 21:22] FlaviaBastos commented on #307
I am currently working on this.

[2016-11-29 12:55] raphaelm opened #339 "Allow to split orders"
We can change orders in the admin panel now, it would be nice if it was possible to split them into multiple orders as well.

[2016-11-29 13:18] raphaelm opened #340 "Allow order changes for paid orders"
Currently, we only allow order changes for unpaid orders, because changing paid orders might have weird implications like overpaid or partially-paid orders. But it would still be nice to support it :)

[2016-11-29 14:54] #141 closed

[2016-11-29 15:50] #304 closed

[2016-11-29 16:05] #296 closed

[2016-11-29 16:19] #110 closed

[2016-11-29 18:47] raphaelm opened #343 "Stripe: Refund after a double payment invalidates order"
Scenario:

1. There is some bug (e.g. #332) that leads to a payment being charged twice to a user's card
2. One of the two payments is refunded via Stripe's web interface
3. Stripe sends the refund event to our webhook endpoint
4. pretix marks the ticket as refunded and ... it's gone, even though it is still paid.

I'm not sure how we should solve this. We probably need to track Stripe payments in

[2016-11-29 18:50] raphaelm commented on #186
Duplicate of #135, then

[2016-11-29 18:50] #186 closed

[2016-11-29 19:00] raphaelm commented on #179
It happens whenever the boxes are of different height. In your example, it is this fragile and line-height dependent because the "your shop is live" box is just *slightly* higher than the other ones. If the differences get larger, the problem gets worse.

Without giving them a fixed height (hard to determine as they come from plugins) this is not really fixable without losing some responsiveness i

[2016-11-29 20:57] rixx commented on #179
Soo, would an easy fix include setting a sensible minimum height for tiles, so that offsets aren't as easy to reach, as long as plugins add reasonable tiles?

[2016-11-29 22:32] raphaelm commented on #179
Yes. We already have a min-height of 160px, increasing that by a few pixels should help in *this* case. However it will still break even without plugins in many cases, e.g. the same view is used on /control/ showing all events you have access to. As soon as an event name takes more than one line, your heights begin to vary a lot. If the height is to big, we have huge white gaps which doesn't look

[2016-11-30 08:38] rixx commented on #179
Okay, I'm just going to ask a silly question and then slink away and leave this alone, but: Wouldn't flexbox kinda sorta solve this?

Try [this](http://codepen.io/anon/pen/ENbWeL) for size (and see the comments and try it with stretch in the child divs, too).

[2016-11-30 09:12] raphaelm commented on #179
Not silly, great thought!

[2016-11-30 11:24] raphaelm commented on #179
:heart:

[2016-11-30 11:44] rixx commented on #179
Well that was thinking my idea would be silly and already proven not to work :stuck_out_tongue:

[2016-11-30 12:04] raphaelm commented on #332
Can't reproduce with test card 4000000000009235. bfd87f11dda385e98e594f205805fbd6309a9edc should help a bit.

[2016-11-30 12:04] #332 closed

[2016-12-01 16:36] #179 closed

[2016-12-02 07:43] rixx opened #345 "Log old email when changing an order's email address"
… because otherwise it's completely lost.

[2016-12-02 08:00] rixx commented on #345
Oh, it's already logged, just not displayed. Whelp. I only saw that after implementing the log display with `old_email` and `new_email` as log attributes, so yay for consistent naming!

[2016-12-02 08:31] #345 closed

[2016-12-03 17:51] saschafoerster commented on #277
Sounds like the same "issue"? https://github.com/pretix/pretix/issues/100

[2016-12-04 16:45] raphaelm commented on #277
Oops. It is.

[2016-12-04 16:45] #277 closed

[2016-12-05 09:52] raphaelm opened #349 "Allow to clone an event with all its settings"

[2016-12-05 21:08] FlaviaBastos commented on #307
Hey, @raphaelm!
I have a question, please: I have [some partial code done](https://github.com/FlaviaBastos/pretix/commit/438c33bbf9a94a688e382710ce0db52490342310) and while I was looking for some info on Views, I found [this doc about Logging](https://docs.pretix.eu/en/latest/development/implementation/logging.html) and now I am wondering if I should have used it to implement this feature - I'm no

[2016-12-06 08:08] raphaelm commented on #307
Hi Flavia,

no worries, everything correct. It would probably have been possible using our logging system, but using a custom model here has a number of advantages, so it's totally fine with me, just continue this way.
I'll leave a few hints in your commit about other things, though :)

Cheers
Raphael

[2016-12-06 08:16] raphaelm commented on #307
Uh. There is a "bigger problem" that I haven't thought of before, sorry for that.

As I planned it, there is *one* LoggedSendMail for all that is connected to *all* the orders. Obviously, this wouldn't work, because thanks to your improvements on the feature, the text might be different for all orders.
As you implemented it now, there will be *one* LoggedSendMail *per order* that received one, eac

[2016-12-06 20:49] FlaviaBastos commented on #307
Yeah, I was thinking about that while researching how to display the emails.... It would be crazy to display a bunch of similar emails! The only individual required info would be the list of email addresses, correct? Anyway, I will do as you suggested. :)

Right now I'm not sure I follow everything you wrote. I will try to rephrase and you please correct me if I got it wrong?
* In the view I will

[2016-12-06 21:16] raphaelm commented on #307
You rephrased correctly! :)

[2016-12-07 18:46] FlaviaBastos commented on #307
Hum, I'm confused now and need another pair(s) of eyes, please.

I was going through what we discussed above and just implemented logging the email sent (final text) using the existing Logging mechanism. Then I checked the database to see what was logged and found out that the sendmail plugin already logs the raw message in all different locales: it's on `pretixbase_logentry` table and the action

[2016-12-07 18:48] tyll opened #350 "Do not send links that allow to download tickets without further authentication in unencrypted emails"
For the 33C3 the installed pretix instance sent unencrypted e-mails that contains links to download tickets without further authentication. Therefore anyone with access to these e-mails can download the respective tickets without the actual buyers noticing. Therefore it would be better from a security perspective to just notify users that they can download their tickets now after authenticating to

[2016-12-08 06:51] rixx commented on #350
Authenticating how?

For people with a working PGP setup, that is.

[2016-12-08 08:18] raphaelm commented on #350
Hi,

thanks for your feedback!

1. The "hey, your ticket is available" mail does not make a difference as the very same URL is already in the "your order has been placed" and the "we received your payment" emails.

2. There is no authentication for buyers in pretix. We had that in the original design, but we've thrown it out because it added a bunch of complexity to the checkout process and a rais

[2016-12-08 08:18] #350 closed

[2016-12-09 10:57] raphaelm commented on #307
You are correct. I completely forgot about this line in there :see_no_evil:

[code]

However, this is on *event*-level, not *order*-level, so I'd still be interested in logging the final texts per order. But you are totally correct, the new model would add some new possibilities, but they are very small and it seems unnecessary now. I'm very sorry that I caused you that effort :cry:

New plan:

*

[2016-12-09 16:35] FlaviaBastos commented on #307
Oh, there's nothing to be sorry about! It really was a good opportunity for me to write a model and make it work. If you decide to not use it (which is fine by me, honest!), I still got the chance to write it. Sorry if it sounded like I was complaining in my previous message; I didn't mean to. I was (still am) super confused! :stuck_out_tongue:

Right now I am working on displaying 'stuff' on the

[2016-12-09 19:39] jfwiebe opened #352 "Docker Hub build failing"
I do not know if this is a thing but it feels like no new features are coming into the docker image. As seen in the Docker Hub, there are many errors. I am not a docker expert, so maybe you can have a look at this?

[2016-12-09 19:39] jfwiebe commented on #352
![image](https://cloud.githubusercontent.com/assets/6865786/21062103/8f587476-be4f-11e6-8754-32066f48237e.png)

[2016-12-10 11:06] raphaelm commented on #352
Uh, thanks for noticing. I will look into this.

[2016-12-10 11:10] raphaelm commented on #352
Oh, thanks for noticing! I'll look into this!

[2016-12-10 11:34] raphaelm commented on #352
Fixed in 765cb09 :)

[2016-12-10 11:34] #352 closed

[2016-12-10 13:14] jfwiebe commented on #352
![image](https://cloud.githubusercontent.com/assets/6865786/21073590/e463a114-bee2-11e6-9a8a-391094ca805b.png)
Great, thank you!

[2016-12-10 20:48] jfwiebe commented on #306
Google offers standardized schemas to embed event information (and even ticket data) in a structured way, that will be displayed for the users in their mail client or on their smartphone prior to the event. Maybe have a look at https://developers.google.com/gmail/markup/reference/go-to-action for adding e.g. the order link or https://developers.google.com/schemas/reference/event-reservation#event_

[2016-12-11 16:13] raphaelm commented on #306
I know and like this, but its not worth the effort as Google won't show them. You need to [register](https://developers.google.com/gmail/markup/registering-with-google) your domain for it and they'll only accept you if you sent on the "order of hundred emails a day minimum to Gmail". I tried already for a different project. :(

[2016-12-12 08:04] jfwiebe commented on #306
Oh Google, why? Especially for this kind of decentral system you won't reach "hundred of mails"... My mails will be sent from my mailserver and e.g. the ccc mails will be sent by the ccc mail server.

[2016-12-12 08:18] raphaelm commented on #306
The why is probably because they fear that this could make phising mails look more legit. But yes, your point exactly.

[2016-12-13 22:23] jfwiebe opened #355 "Fonts get %22 in URL"
Dear team,
since today, fonts won't be loaded anymore because a "-Symbol is added to all font domains (see screenshot). I do not know if this correlates with an update I did yesterday. I use a fairly docker-deployment as described in the docs. I am not able to spot the root cause of the issue, everything that has been committed since my last update seems to be not the cause. I am currently thinkin

[2016-12-13 23:31] raphaelm commented on #355
Haven't tried with docker yet but can't reproduce it otherwise. Can you show the ``[urls]`` part of your ``pretix.cfg`` if there is any? If there is nothing suspicious in there, I'll try it out with docker myself.

[2016-12-13 23:33] jfwiebe commented on #355
There is no [url] tag in the config file.

[2016-12-14 13:08] #355 closed

[2016-12-14 13:08] raphaelm commented on #355
Fixed :) new docker container should be available… well, as soon as docker hub has the time for it ;)

[2016-12-14 14:05] raphaelm opened #356 "Allow to download all tickets of an order at once"
* Show an additional button, only for >1 tickets in an order.
* Add an optional API method to ticket providers to generate those files
* Implement this as multi-page files for PDF
* Default to zipping the files if a provider does not implement that method

[2016-12-14 23:31] rixx opened #357 "Search orders/go to voucher"
- When I enter an order code in the input box on the order list, and the order exists, I'll see the detail view of the order.
- When I enter a partial order code, I'll get no matches.
- When I enter a voucher code in the input box on the voucher list, and the voucher exists, I'll see a list view containing that one voucher.
- When I enter a partial voucher code, I'll get all vouchers matching that

[2016-12-15 06:53] jfwiebe commented on #355
@raphaelm awesome!

[2016-12-15 10:53] abhanshgiri21 commented on #316
hey
i just today decided to see and contribute to some open source projects so i also wanna do something in open source, can i contribute to this one? if yes, what should i do?

[2016-12-15 11:09] raphaelm commented on #316
Hi @abhanshgiri21, sure! Is my comment above clear to you? Have you any specific questions? I suggest that you take a quick look at Django's documentation regarding forms and validation :)

[2016-12-15 19:19] raphaelm commented on #357
I'm not a fan of search of forms which *sometimes* take you to the detail page and *sometimes* to a result list. If you look closely, for orders there is a "go to" and a "search" part of the form, while vouchers only have the "search" part. Probably, this is also not a perfect UI. I'm open for ideas here.

Substring search for orders is useful, sure thing. And no, no security concerns there.

[2016-12-15 23:27] rixx commented on #357
I am aware of the difference between "go to" and "search", but I really enjoyed going directly to orders and found myself often surprised when copying a voucher would not take me there. But since I prefer the go-to style to remain, I think I'll retract this one - substring search for vouchers might be nice, but not as nice as going directly to a voucher.

[2016-12-16 08:36] raphaelm commented on #357
No reason to close this, I absolutely see the point! The title of this issue is still valid:

* Implement substring search for order codes
* Implement **go to** for vouchers

[2016-12-16 09:05] chotee opened #358 "TypeError: type object got multiple values for keyword argument 'virtual_host'"
When running pretix from a development server,

```$ python manage.py runserver 192.168.56.103:8080```

Certain urls (like cart/add) give the following error:

[code]

[2016-12-16 09:17] raphaelm commented on #358
Can you show me the ``[celery]`` part of your ``pretix.cfg``, if there is any?

[2016-12-16 19:04] rixx opened #359 "Better error message on empty bank import"
Trying the bank upload without any given file says

I'm fairly sure it'd be possible to see that there is no file at all, and output a corresponding error (or disallow sending the form client-side?)

[2016-12-17 03:20] brandon-pineda commented on #359
Hello, I'd like to attempt this but could you give me some more details about the issue please?

[2016-12-17 03:31] rixx commented on #359
Sure!

You don't acutally need a deep familiarity with Django here - having worked with Python should be good enough :)

A good first step would be to get pretix up and running locally - you can follow the [developer guide](https://docs.pretix.eu/en/latest/development/setup.html) for that.

This issue is about the bank import functionality which is enabled by the bank transfer plugin - you'll need

[2016-12-17 03:36] brandon-pineda commented on #359
Ok thanks for the info! I'll try it out.

[2016-12-17 04:43] brandon-pineda commented on #359
I have made an appropriate error message, but  I do not know how to get it to not reload the page as if I do not use the redirect_back() function I get an error for not returning an HTTPResponse object. I tried using HTTPResponseNotModified but that caused issues with the error message not showing up. Here is my code and error if I do not return an HTTPResponse.
![code](https://cloud.githubusercon

[2016-12-17 05:23] rixx commented on #359
What do you mean by "not reloading the page"? Since this code runs server side, the site will be reloaded, if only to show the new errors.

By the way: it might be easier to see which branch returns which value if you add a `return self.redirect_back()` to `elif self.request.FILES.get('file') is None:` - then every branch of the if/elif/else statement has its own return value. (Logically the same

[2016-12-17 05:31] brandon-pineda commented on #359
Woops, I've been learning a lot about front end stuff lately, forgot this was server side XP funnily enough I actually had each have its own return statement earlier, but I thought people may like it more this way. Alright I'll do that.

[2016-12-17 10:43] #359 closed

[2016-12-17 14:15] raphaelm opened #364 "Import check-in data from external source"

[2016-12-18 01:33] brandon-pineda commented on #316
If this is still open I'll take a crack at it.

[2016-12-18 06:36] brandon-pineda commented on #316
How do you get data from one form into another, as I see that I need to access the general settings data in the payment settings data.

[2016-12-18 09:40] raphaelm commented on #316
@brandon-pineda Before you jump onto this, let's ask @abhanshgiri21 if he/she is still working on it?

You can always access the ``settings`` property on the ``Event`` object. To get that in the form, you need to pass the event instance to the form's constructor (which is probably already in there.)

[2016-12-18 13:36] abhanshgiri21 commented on #316
@brandon-pineda you can do this one, i am having lot of confusions and questions as i am new to open source. so i am gonna clear them up and then i will surely like to contribute as much as i can. thanks for the lovely support.

[2016-12-18 14:48] chotee commented on #358
In_ my /etc/pretix/pretix.cfg I have the following:
[celery]
backend=redis://127.0.0.1?virtual_host=1
broker=redis://127.0.0.1?virtual_host=2

I redid the the dev installation into a new python "env"  following "https://docs.pretix.eu/en/latest/development/setup.html#your-local-python-environment" But I keep hitting this issue. This machine has a non-dev installation of pretix already. I'll retry

[2016-12-18 22:05] chotee commented on #358
Okay... just did a clean reinstall, now properly following the "The development setup" page on a clean Debian 8.6 Debian machine and now it does work (for now).

This issue is probably caused by me trying to be smarter then I am and skrewing up the install in weird and wonderful ways.

[2016-12-25 22:11] #37 closed

[2016-12-30 10:17] faheel commented on #300
I'm working on this issue.

[2017-01-01 16:14] raphaelm opened #367 "Test mode"
It should be possible (either with a new flag or with the "live" flag) to turn the shop into a test mode, in which no actual payments are made and in which all orders can be cleared before going live.

[2017-01-01 19:36] #349 closed

[2017-01-03 20:40] raphaelm commented on #316
@brandon-pineda Happy new year! :) Have you started on this yet?

[2017-01-03 21:14] #135 closed

[2017-01-03 22:27] brandon-pineda commented on #316
@raphaelm sorry, I haven't done much cause of all the holidays going on

[2017-01-03 23:08] #126 closed

[2017-01-03 23:43] #307 closed

[2017-01-03 23:44] raphaelm commented on #316
@brandon-pineda No problem, hope you had a good time :) I was off here for a few days myself, just wanted to say that I'm here to help again if you get stuck :)

[2017-01-04 09:18] abhanshgiri21 commented on #316
hi @raphaelm , i am back on this one. can you  please tell me which file i have to look in for this issue.it seems pretty easy to fix i guess. so i thought of giving it a try.

[2017-01-04 09:33] raphaelm commented on #316
@abhanshgiri21 I think @brandon-pineda works on this now. Correct, Brandon?

[2017-01-04 12:32] #306 closed

[2017-01-04 14:04] raphaelm opened #368 "Notify admin via email of new RequiredActions"

[2017-01-04 14:04] #343 closed

[2017-01-04 14:51] raphaelm opened #369 "Automate or document obtaining PayPal API credentials"

[2017-01-04 15:46] raphaelm opened #370 "PayPal webhooks: Automatic registration"
PayPal has an API that we could use to automatically register our webhook: https://developer.paypal.com/docs/api/webhooks/

[2017-01-04 18:20] #74 closed

[2017-01-04 22:32] raphaelm commented on #298
Notes for people upgrading from pre-1.0.0 (in progress)

* You can keep your source tree and continue updating by git pull, or you switch to pip installation, see docs. Switching should be seamless.
* ``celery -A pretix.celery worker -l info`` is now ``celery -A pretix.celery_app worker -l info``

[2017-01-05 09:08] abhanshgiri21 commented on #316
ok!, i would find some other easy issue! @raphaelm
but if brandon isn't working on this then i might also give it a try.

[2017-01-05 09:14] brandon-pineda commented on #316
@abhanshgiri21 go ahead and do it if you want to, I got multiple things going on rn so it'd take me a whole regardless

[2017-01-05 11:51] raphaelm commented on #316
@abhanshgiri21 To do this, you'll need to add some [validation logic](https://docs.djangoproject.com/en/1.10/ref/forms/validation/#using-validation-in-practice) to ``PaymentSettingsForm`` in ``pretix/control/forms/event.py``.

[2017-01-09 18:37] raphaelm opened #372 "Plugin hook for "Copy from event""

[2017-01-09 18:38] raphaelm commented on #372
e.g. for the Pages plugin

[2017-01-10 21:05] eomot commented on #358
I get the same error when installing like described here:
https://docs.pretix.eu/en/latest/admin/installation/manual_smallscale.html
So basically with pip.

Happens when starting the service pretix-worker or adding a product to the cart.
System is debian 8.5
Any ideas ?

The relevant part of my pretix.cfg:

[redis]
location=redis://127.0.0.1/0
sessions=true

[celery]
backend=redis://127.0.0.1?virt

[2017-01-10 22:33] raphaelm commented on #358
Can you show me the output of ``pip freeze`` to check the dependency versions? :)

[2017-01-10 23:17] eomot commented on #358
amqp==2.1.4
beautifulsoup4==4.5.3
billiard==3.5.0.2
bleach==1.5.0
celery==4.0.2
cffi==1.9.1
chardet==2.3.0
contextlib2==0.5.4
cryptography==1.7.1
csscompressor==0.9.4
cssutils==1.0.1
dj-static==0.0.6
Django==1.10.5
django-appconf==1.0.2
django-bootstrap3==7.1.0
django-compressor==2.1
django-formset-js-improved==0.5.0.1
django-formtools==1.0
django-jquery-js==3.1.1
django-libsass==0.7
django-markup

[2017-01-11 03:29] jfwiebe commented on #364
Did I get right that the checkin-data is currently only stored if the pretixdroid plugin is enabled? wouldn't it be nice to move the "checked in" flag to the core so that it can be interacted with it in various ways?

[2017-01-11 08:17] raphaelm commented on #364
Heh, I already did that some time ago in fa0bd5e89e2fe1e3fb546fe2a3ec1856c6c4e2e6 :)

Also, we did this import that is mentioned here from [c6sh](https://github.com/c3cashdesk/c6sh) data using a very simple management command, so the remaining scope of this issue would be to wrap this in some small user interface (could be a plugin, too).

[code]

[2017-01-13 15:16] #356 closed

[2017-01-14 12:04] raphaelm commented on #358
Weird. I did not experience this before or know what it could be right now :(

[2017-01-14 12:05] raphaelm commented on #358
Ah, can you try
[code]
instead of
[code]

[2017-01-14 12:05] raphaelm commented on #358
Maybe this is just a documentation bug

[2017-01-14 12:24] eomot commented on #358
yep, this fixes the problem. thank you!
it may not be the right right thread to discuss this (sorry), but in the documentation there are two more "problems".
1. I also needed to pip3 install typing
2. I needed to python -m pretix migrate first and then rebuild, since there was an error when trying to rebuild first, since the mysql database is still empty at that point. So maybe just flip the order

[2017-01-14 12:32] raphaelm commented on #358
Thank you very much @eomot, I fixed all of them in 559864dd! :)

[2017-01-14 12:32] #358 closed

[2017-01-14 15:12] #192 closed

[2017-01-14 15:20] raphaelm opened #374 "Allow for multiple payment reminders"
Currently, you can configure a mail to be sent N days before the order expires. It would be nice to allow multiple mays, e.g. one 5 days and one 2 days before the expiry.

[2017-01-15 19:57] raphaelm opened #375 "Contradictory messages after PayPal payment"
Apparently, it is possible with PayPal payments to get this message:

![img_0600](https://cloud.githubusercontent.com/assets/64280/21965680/31344fe0-db65-11e6-8eaa-b1e517748fed.png)

I wasn't able to reproduce it until now.

[2017-01-15 20:28] raphaelm commented on #32
Implemented, but seems unreliable. But that just might be PayPal's sandbox?

[2017-01-15 20:29] raphaelm commented on #32
Okay, their UI and their simulator is just bad, see 56bf3fe4

[2017-01-15 20:37] #32 closed

[2017-01-15 20:38] raphaelm opened #376 "PayPal: Prevent duplicate payments"
Somehow, if pretix fails in bad ways, it is possible for PayPal payments to be charged multiple times if the users presses reload in the wrong place. This should be prevented.

[2017-01-18 08:44] raphaelm opened #378 "JavaScript i18n loads de instead of de_Informal"

[2017-01-18 09:00] raphaelm commented on #378
See https://github.com/zyegfryed/django-statici18n/pull/29

[2017-01-18 18:03] jfwiebe opened #379 "Add logo to event organizers"
What's about adding a "logo" attribute to event organizers (similar to events) which is displayed on the front page of each event organizer?

[2017-01-18 18:09] jfwiebe opened #380 "Missing translations on public event organizer page"
Dear dev's,

on the public event organizer page, german translations for "Event list" and "Upcoming Events" are missing.

With best regards,
JF

[2017-01-18 18:10] jfwiebe commented on #379
(maybe even something like main color, similar to events)

[2017-01-18 18:15] jfwiebe opened #381 "Adding a location field to an event"
Hey devs!
Adding a location field would be great. Each major ticket reseller prints the location of the venue onto the ticket. It would be great to have such a setting in pretix.
Regards
Jan Felix

(All these past issues of mine are only small things but I think they are all worth mentioning. I hope that you are okay with that, if not, please let me know)

[2017-01-18 18:21] raphaelm commented on #381
Yes, good idea!

[2017-01-18 18:21] raphaelm commented on #379
We have very few organizer-based settings, because that was not much of a priority to me so far, but I'd sure take pull requests :)

[2017-01-18 18:22] raphaelm commented on #381
(And yes, keep those minor issues coming! They make pretix better, they don't get lost if they are here on GitHub, and they tend to be easy pickings for new contributors)

[2017-01-18 20:57] rixx opened #383 "Makemessages does things"
When issuing the other pull request, I noticed that `makemessages` produced unexpected (to me) output, specifically regarding the `helpers` directory. I couldn't make sure at a glance why this was and if it was intended. I made sure my dependencies were up to date.

PR is attached to show the results of makemessages if committed as produced. Please review.

[2017-01-19 10:02] raphaelm commented on #383
I believe this is why the ``Makefile`` calls ``./manage.py makemessages --all --ignore "pretix/helpers/*"``. But maybe we can even get rid of this and handle this otherwise, so I'll leave this open for now.

The complication with the helpers directory is that it stores the ``de_Informal`` translation of Django itself which is a pretty non-standard thing to do.

[2017-01-19 10:03] #380 closed

[2017-01-19 10:07] rixx commented on #383
Oh. Haven't gotten used to the `Makefile` yet.

[2017-01-19 22:35] ZEROF commented on #383
I will share my solution:

Add to travis file:

install:
    - pip install -U pip wheel setuptools==28.6.1
    - apt-get install gettext

I don't use travis, i use shippable, but same config will work ;). Now i have some other error on last build step, but if i don't find solution i will open new issue.

[2017-01-20 08:38] raphaelm commented on #383
Hi @ZEROF :) That is not the problem that rixx was having but thanks for your comment anyways! If you see ways in which we can improve the documentation or if you get stuck, please open an issue! :)

[2017-01-20 11:36] raphaelm opened #386 "Allow to copy products"
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2017-01-20 14:07] rixx opened #387 "Show orders per {day, week, month}"
Orders per day is not very useful for many longer-running presales - allowing to switch between orders per day, week and month would show much more usable data imo.

[2017-01-20 14:09] rixx opened #388 "Use appropriate interval for revenue over time"
In the statistics view, when your presale is longer-running (spanning, say, six to twelve month), having each day as a data point on the "Revenue over time" chart is overkill and makes the graph consist mostly of bullets … scaling down to alternate days (… every other day, one out of three …) dynamically would be nice here, I think.

[2017-01-20 14:15] rixx opened #389 "Offer ical link/export for events"
Many events offer ical links - generating one from an event data automatically would be nice.

[2017-01-20 14:16] raphaelm commented on #389
Is best done after #381

[2017-01-20 14:22] rixx opened #390 "Better feedback after generating a voucher"
Including the voucher string in the success notification would be a great step. (Without further voucher features, doing the same for bulk creation does not seem as feasible, UX-wise.)

[2017-01-20 14:24] rixx opened #391 "Send mail on cancelled order"
It would be nice to send a notification if a pending order is cancelled. (Wouldn't do this for expired orders necessarily, but going from a valid pending order to a cancellation should document this change to the user.)

[2017-01-20 21:00] ZEROF commented on #383
Yep, i saw to late :). Anyway, now build on shippable is working, i will share tip with others.

[2017-01-21 10:26] raphaelm opened #392 "Support for custom terms of service etc."
It would be nice to have easy support for the organizer to add custom terms of services or Widerrufsbelehrungen etc. that the user has to accept before the order can be completed.

[2017-01-22 16:46] raphaelm opened #393 "Automatically set <a> around links in product descriptions etc."

[2017-01-26 02:02] Flamacue commented on #386
new to contributing to open source projects, but I'd love to give this one a try

[2017-01-26 08:18] raphaelm commented on #386
Sure, go ahead! If you have any questions, just ask :)

[2017-01-30 08:39] raphaelm commented on #386
Something like ``event.items.all()`` should be fine :) You might need to add something to the constructor of the form class to pass the event from the view into the form.

[2017-02-01 07:43] jlwt90 commented on #381
Hi @jfwiebe @raphaelm,

can I help on this issue? Basically I just need to add a location field in event settings and the field should be **I18nCharField** (coz venue address should be displayed in event's local language?)

Thanks!

[2017-02-01 08:48] raphaelm commented on #381
Hi @jlwt90 -- exactly! Just give it a try and tell me if you get stuck! :)

[2017-02-01 20:33] jfwiebe opened #397 "Reminder e-mail formatting"
Dear devs,

today one of my users recieved a reminder email for an outstanding payment:

![image](https://cloud.githubusercontent.com/assets/6865786/22524993/bf058790-e8c5-11e6-80ba-1406933a43b6.png)

As you can see, ...
1. ...the language of the subject is english, but the mail body is german (and the event has only DE_informal available)
2. ...the date is not formatted correctly (it means 2nd fe

[2017-02-02 07:20] jlwt90 commented on #381
@raphaelm  thanks! I created a pull request. Could you please give me some comments?
#398

[2017-02-02 16:51] #381 closed

[2017-02-02 17:33] jfwiebe commented on #381
@jlwt90 thank you!

[2017-02-03 11:12] raphaelm opened #399 "Optionally create invoices only after successful payment"
Maybe this should even be the default

[2017-02-03 11:13] raphaelm opened #400 "Automatically create cancellations for invoices on expiry"
…this requires a re-creation of the invoice if the payment is made and accepted later on.

[2017-02-03 11:21] raphaelm commented on #376
No longer reproducible, some safeguards implemented

[2017-02-03 11:21] #376 closed

[2017-02-03 11:37] #399 closed

[2017-02-03 13:10] #397 closed

[2017-02-03 14:57] #298 closed

[2017-02-06 10:05] raphaelm opened #402 "Bulk-generate invoices for (all, paid) orders"

[2017-02-06 10:20] raphaelm opened #403 "Better payment information on invoices"

[2017-02-06 13:07] jlwt90 commented on #389
Hello, can i take this enhancement ticket?

I am planning to add the ical link to the event page.
http://localhost:8000/bigevents/xxxxxxx/

The link will dynamically generate an .ics file for download, e.g.
http://www.pratie.com/lab/icalendar/

does it look good?

[2017-02-06 13:11] raphaelm commented on #389
Sure, go ahead! :) I believe the [icalendar](https://pypi.python.org/pypi/icalendar) package might be helpful to generate the file.

[2017-02-07 09:04] raphaelm opened #406 "Waiting list: Allow to reorder manually"
Allow the admin to manually move people up or down on the list to enhance their chances to get a ticket.

[2017-02-08 09:16] #386 closed

[2017-02-08 11:01] raphaelm opened #407 "Add support for Stripe's new integrations with SEPA, SOFORT, ..."

[2017-02-11 00:08] FlaviaBastos opened #409 "Sendmail plugin: false success message"
In the sendmail plugin, if an order status that has 0 orders in that condition is selected, previewing that message will display the success 'Your message has been queued... ". It also logs that message as send in the email history.

Example:
I have no "expired" orders in my system. In the sendmail plugin I select "expired" in the "send to" field and fill in a subject and message. Clicking on prev

[2017-02-11 20:49] #409 closed

[2017-02-14 11:45] raphaelm opened #411 "Payment provider: Coinify"
see eg. https://github.com/bornhack/bornhack-website/blob/master/src/shop/views.py#L530-L647

[2017-02-14 14:03] jlwt90 commented on #389
@raphaelm sorry for the late. I am pretty new to django. Could you please give me some comments on the changes?
https://github.com/jlwt90/pretix/commit/16bd3ccc3f8bb8115de02797e3039d0b39d5f5ef

I added a link on event index page which sends a GET request to url <organizer>/<event>/download . The EventDownload view will then create a CacheFile using icalendar library and return a FileResponse objec

[2017-02-15 06:49] scarescrow commented on #316
Hey, @abhanshgiri21 , @raphaelm Is this issue still open? I would like to contribute.

[2017-02-15 15:10] raphaelm commented on #389
Hi @jlwt90 no problem at all! Next time just create a pull request, that makes it easier to leave comments and discuss the changes. Overall, this looks very good! Thank you! I have two comments to beginn with:

* Could you name it ``EventIcalDownload`` instead of ``EventDownload`` and the URL ``/ical`` instead of ``/download``? Because you are downloading an ical, not an event, so this would be cl

[2017-02-15 15:36] raphaelm commented on #316
Hi @abhanshgiri21, we really want to have this done here and @rixx was so friendly to implement it, as we haven't heard from you in a long time. If you already did something, sorry for that :( There are a few really issues currently open, what do you think about #390?

Hi @scarescrow, this is therefore now closed. Would you like to have a look at #379.

[2017-02-15 15:36] #316 closed

[2017-02-15 17:55] raphaelm commented on #393
Done since 73490d29

[2017-02-15 17:55] #393 closed

[2017-02-16 10:34] ligi commented on #231
Like this issue! But I would rename it from "Support for Stripe's Bitcoin API" to "Add payment-plugin for crypto-currencies ) as I agree with @cptfoo - no need for stripe here

[2017-02-16 10:38] davidak commented on #231
@ligi maybe create a new issue and close this since the discussion yet was about stripe.

[2017-02-16 10:41] ligi commented on #231
Not sure about this - @raphaelm - rename or reopen?

[2017-02-16 11:35] raphaelm commented on #231
As I stated above, this issue is specifically for Stripe's bitcoin API. There is #411 for Coinify. For the **vast** majority of event organizers a gateway like Stripe or Coinify is required. I don't know of any event organizers who would want to deal with the issues that come with crypto currencies (fluctuating prices, taxes, conversion to a traditional currency) etc. themselves without an abstrac

[2017-02-16 12:37] davidak commented on #231
@raphaelm you are right.

Stripe is already there.

https://stripe.com/docs/bitcoin#quickstart-using-checkout

I'm not sure if Stripe supports Bitcoin in Germany now.

Would you accept such small Code change in core? Probably need to be made optional in pretix.

[2017-02-16 13:05] raphaelm commented on #231
As the Stripe plugin currently lives in core, I probably accept extensions to it if they are properly configurable. This goes also for #407 which I find even more interesting personally.

...if you use Stripe Checkout, yes. Unfortunately, we currently support two Stripe interfaces, one based on Stripe Checkout, one based on Stripe.js. I'm totally for dropping one of them in the long run, but while

[2017-02-18 16:30] davidak commented on #231
@raphaelm i agree that we should implement SEPA first since more people are using it (all bank accounts in the EU).

[2017-02-20 14:57] raphaelm commented on #392
Fixed through f16aabc1 and the latest updates in the pages plugin.

[2017-02-20 14:57] #392 closed

[2017-02-20 17:03] davidak commented on #231
https://stripe.com/docs/bitcoin#bitcoin-requirements

[2017-02-24 13:11] #248 closed

[2017-02-25 11:03] saschafoerster opened #419 "Errors after updating"
I run a pretix in a Docker-container and recently updated it, with the instructions provided:
[code]
After the last command, I get the following errors in my console:

[code]

in the pretix-log-file, I get the following errors:

[code]

What did I do wrong? :)

[2017-02-25 11:45] raphaelm commented on #419
Might be a problem on our side with the Docker packaging, I will look into it, possibly today.

[2017-02-26 10:59] raphaelm commented on #419
Hi,

I think I fixed the bug. Docker Hub will still take some time to build the new version but once all lines [here](https://hub.docker.com/r/pretix/standalone/builds/) are saying Success, you can pull the docker image again and try again.

FYI: I now created a ``stable`` tag of the docker image. As you already pulled the ``latest`` tag, you should *not* switch to the `´stable`` tag right now, as

[2017-02-26 19:01] saschafoerster commented on #419
It just works! 👍 Next plan on my ToDo-List: learn how to install plugins! :)

[2017-02-26 19:01] #419 closed

[2017-02-28 10:42] saschafoerster opened #421 "Please more details in Docker-plugin-installation documentation"
I would like to install some plugins, but I need more informations about the process. Think of me as a user, who needs to know every step, especially when you write: "create a new directory": But where should the Dockerfile be placed? And do I need to create a dockerfile for every plugin? :)

[2017-02-28 18:20] raphaelm commented on #421
Hi,

thanks for the feedback! :) I'd be happy to try to make it clearer, however I'm not yet sure how. Maybe we can first try to make it work for you and then you suggest a better wording?

Well, you just need a directory. Any directory. Doesn't matter how its named, where it is, just that its an empty directory.

The docs currently say "create a new directory and place a file named Dockerfile in

[2017-03-01 18:31] raphaelm opened #422 "Release checklist for 1.1.0"
- [x] Check translations
- [x] Squash migrations and test them
- [x] Prepare blogpost
- [x] Bump version in ``src/pretix/__init__.py``
- [x] Create git branch
- [x] Create git tag
- [x] Upload PyPI package (sdist and wheel)
- [x] Create tag on docker hub
- [x] Check if any official plugins need a release
- [x] Check if pretixdroid needs a release
- [ ] Publish blogpost

[2017-03-02 10:00] saschafoerster commented on #421
See! Linux has thousands of folders for special purposes: I don't want to break anything and I am shure there is a file path just made for this kind of files. So please give me advice. :)

[2017-03-02 10:08] raphaelm commented on #421
No, there is not, you can really just choose *any* directory. You can even throw it away later (although I'd advise you to keep it to save time on the next update)!
Docker just needs a Dockerfile with rules to build the image and that Dockerfile needs to be in a directory together with all other files that docker needs for the image. In our case, no other files are needed.

[code]

[2017-03-02 16:39] rixx commented on #390
Looks good, yep. I guess we have solved the bulk creation thing partially via the "copy to clipboard" feature, so this should be sufficient until the voucher rewrite happens.

[2017-03-02 22:02] raphaelm commented on #390
Yep, this looks good! :)

[2017-03-02 22:50] #422 closed

[2017-03-03 16:05] saschafoerster commented on #421
Okay okay... :) But now at least I know the user folder is fine. ;)

[2017-03-03 16:05] #421 closed

[2017-03-04 10:53] SurajGoel commented on #391
Can I take this ?

[2017-03-05 08:31] raphaelm commented on #391
Hi @surajgoel, sure, go ahead! There are many similar things in pretix (like the mail for changed orders) that you can copy from. Be sure to ask if you have any questions!

[2017-03-07 00:18] jlwt90 opened #428 "Event time with timezone"
It's actually a follow-up for #413.

I asked this question because I found something interesting when creating event.
The scenarios are as follows:
1) Create new event using timezone `Asia/Tokyo`
![create-tokyo](https://cloud.githubusercontent.com/assets/25281597/23635820/37274f74-0315-11e7-86dd-806d867e7323.png)
After save:
![saved-tokyo](https://cloud.githubusercontent.com/assets/25281597/236358

[2017-03-07 08:43] raphaelm commented on #428
No, this is certainly not wanted and a bug. Thank you for finding and reporting this. The user should only ever see local time in the timezone the user wants.

[2017-03-07 12:29] harshavamsi commented on #35
Hi @raphaelm, I'm trying to contribute to my first open source project and I think this is something I'm interested in. Can I work on this?

[2017-03-07 12:42] raphaelm commented on #35
Hi @harshavamsi! Sure, go ahead! If you have any questions, just ask! :)

[2017-03-07 13:06] harshavamsi commented on #35
@raphaelm So as per my understanding, I should be using one script tag inside the index.html page with the JSON template and load variable data. Am I on the right track?

Should I add the tag at the bottom of the page because I don't see any base template being used.

[2017-03-07 13:51] raphaelm commented on #35
Sounds good to add it a the bottom of the index.html, yes

[2017-03-07 14:30] harshavamsi commented on #35
@raphaelm Does something like this make sense? I'm not sure how the event name is being passed to the template.
[code]

[2017-03-07 23:00] raphaelm commented on #35
Hi,

yes, that goes into the right direction, but it won't yet work this way.

Maybe have a look at ``src/pretix/presale/templates/pretixpresale/event/base.html`` which uses the event name (``{{ event.name }}``), generates a link (``{% eventurl event "presale:event.index" %}``) and displays date and time. You'll also have to make sure that the date and time are in the correct format.

Looking at t

[2017-03-08 12:50] harshavamsi commented on #35
Hi,

For django to parse json shouldn't I first be sending in parsed data from the view and then use it in the script tag?

[2017-03-08 14:50] IVI053 commented on #369
+1 from my side. I tried to get it to work but could not find anything useful on the Paypal side that looks like ClientID and Secret. Nothing in the docs either :-(
Looks like you need some deep Paypal Dev knowledge to get this to work.

[2017-03-08 14:51] raphaelm commented on #35
Both ways are possible, but I think generating it in the view and then sending the final JSON to the tempalte is better :)

[2017-03-08 15:04] #390 closed

[2017-03-08 16:35] harshavamsi commented on #35
Yeah that's what I thought. I'll work on this!

[2017-03-08 16:59] raphaelm commented on #369
The basic flow is:

* Sign up at the [PayPal developer dashboard](https://developer.paypal.com/developer/applications/)
* Go to the "REST API apps" sections
* Click "Create App"
* Enter a name for your pretix installation
* Switch the toggle in the upper right to "Live"
* Copy the Client ID and Secret (first box)
* Add a Webhook to the URL specified in pretix (second box)
* Configure pretix
* Done

[2017-03-08 18:36] b-lawrence commented on #379
Hi guys,

I'm new to the project. Happy to contribute. Looks like I'll be taking a crack on this one. I believe this should set me going in the right direction. 😄

[2017-03-09 06:14] shubh-shetty commented on #391
i am newbie.I would like to work on this project.

[2017-03-09 08:18] raphaelm commented on #379
Thank you very much! :) If you have any questions just ask!

[2017-03-09 08:18] raphaelm commented on #391
@shubh-shetty I believe @SurajGoel is currently working on this

[2017-03-09 10:28] b-lawrence commented on #379
Sure thing @raphaelm. From what I understand so far, we need to allow `event organizers` add logos to their organizer pages, and maybe a full-width banner to sit on (something that represents the `organizer's' theme`)? Also, maybe we could do the same for `events` because I noticed events don't have that feature as well. Am I understanding this correctly?

[2017-03-09 10:33] raphaelm commented on #379
Yes. Let's go for the logo first in a similar way that we currently have event logos.

Once that works, if that's an area that you are interested in, I'd be happy to explore options to allow more custom styling together with you.

Currently we have logos (that can in theory be a full-width banner) and custom primary colors. However, it would be nice if even more theme customization was possible, I

[2017-03-09 10:39] b-lawrence commented on #379
Sounds good. Getting right to it. 😄

[2017-03-09 13:15] jfwiebe opened #429 "Event-independent callback URLs for payment providers"
Hi!
At the moment, It seems like that each event has its own callback url for e.g. paypal or stripe. wouldn't it be great to have one central url where the callback needs to be placed? At the moment you have to (or it seems like) add a new callback url at each payment provider for each event.

PS: I am not sure if a callback delivered to /organizer/event_a but with information regarding a transact

[2017-03-09 13:30] raphaelm commented on #429
Hi!

I understand why this is useful, but this is highly non-trivial. It used to be different but it is the way it is for two reasons. The first is that at the CCC installation, all non-event-related views are not accessible from the public network, so it needed to be an event-related view. 😉 The second reason goes a lot deeper:

* Webhook calls from most payment providers are unauthenticated POST

[2017-03-09 17:22] jlwt90 commented on #428
I think I can help fix this bug but probably need some directions.
I went through the code related to the above behaviour:
[code]

Apparently, there are 2 ways to fix the issue.
1) Modify `EventWizard` (probably `done` method) and `EventUpdate` (`post` method) for handling timezone switching
2) Update the `def save(self, *args, **kwargs):` in Event` module. I'll modify the datetime value with resp

[2017-03-09 17:34] raphaelm commented on #428
Hi!

From the top of my head, I would go neither for option 1 nor for option 2. ``EventWizard`` and ``EventUpdate`` are views, which are rather to high-level for this kind of thing and ``Event`` is a model which is rather to low-level for this. In my opinion, the golden middle road would be the **forms** involved, which are ``EventWizardBasicsForm`` and ``EventUpdateForm``. We could do it in the `

[2017-03-09 18:04] pkhatri1 opened #430 "TEST"
TEST

[2017-03-09 18:13] raphaelm commented on #430
Your test was successful.

[2017-03-09 18:13] #430 closed

[2017-03-09 20:13] #389 closed

[2017-03-09 20:20] b-lawrence commented on #379
Looks like I'm missing a `pretix.cfg` file. I presume that's the highly confidential project's config file? I have been testing using the default DB (sqlite3).

[2017-03-09 20:27] rixx commented on #379
The `pretix.cfg` structure is detailed [here](https://docs.pretix.eu/en/latest/admin/config.html), development specific settings are mentioned [here](https://docs.pretix.eu/en/latest/development/setup.html?#working-with-mails). Hope this helps :)

[2017-03-09 20:35] raphaelm commented on #379
Why do you think you are missing it? :) Most development work *should* be possible without one.

[2017-03-09 20:56] b-lawrence commented on #379
@raphaelm yeah you're right. It would not matter anyway since there are fallback options along the way in `settings.py`. Thanks @rixx, that would come in handy.

Right now, I'm getting this weird error:

[code]

I've tried resyncing my DB, making migrations, and re-migrating. None seems to work.

[2017-03-09 21:25] b-lawrence commented on #379
Works now. Had to`rm` my local SQLite DB, and then added it again.

[2017-03-09 21:33] raphaelm commented on #379
Okay, strange :( Glad to hear it works now.

[2017-03-09 22:13] jfwiebe commented on #429
Hi!
First: Sorry for the greeting - of course I want to adress everyone who is reading this!

Yeha, thanks for the great explaination. I totally understood the point you are saying and it sounds hard to make it fit for all purposes in which people will use pretix.

Same as above. I can only imagine something like a checkbox stating "overwrite organizer's settings", but it will be hard to implement

[2017-03-10 09:09] raphaelm commented on #429
No offense taken, just wanted to note it ;)

[2017-03-10 11:55] b-lawrence commented on #379
Guys, what would be the best way to persist the `logo_image` value from the organizer's update form using the `OrganizerSetting` model? I noticed that these models(GlobalSetting, OrganizerSetting, EventSetting) are being used site-wide to hold key-value pairs of relevant data related to each entity. Since the `OrganizerUpdate` view class is using an `UpdateView`, would it be wise to create an extr

[2017-03-10 12:00] raphaelm commented on #379
The ``OrganizerSetting`` can also hold a file as a value (though it is a bit of a hack), so we can use this, but yes, this will require that ``OrganizerUpdate`` contains *both* a ``ModelForm`` and a ``SettingsForm``. You can just look at ``EventUpdate`` and copy from there -- it does exactly the same thing ;)

[2017-03-10 12:09] b-lawrence commented on #379
"The OrganizerSetting can also hold a file as a value (though it is a bit of a hack)" -> yeah I figured :). Thanks a lot! This'll do.

[2017-03-11 13:37] raphaelm commented on #156
As the plugin list grows, the sidebar navigation becomes very long, so I'd really like to see this, in case somebody wants to work on this :)

[2017-03-11 23:33] raphaelm commented on #391
Hey @SurajGoel, everything going alright? (Don't want to put you under pressure, just check if you have any quetsions here.)

[2017-03-12 06:56] SurajGoel commented on #391
Hey @raphaelm , Actually I have been swarmed by other works, and I might take a while on this. Since @shubh-shetty is interested, I suggest that he addresses this issue, while I will tackle another one when I am able to do so. Thanks for your support though, very much appreciated.

[2017-03-12 15:57] raphaelm commented on #391
@SurajGoel Alright, thanks for the notice! @shubh-shetty are you still interested?

[2017-03-12 15:58] raphaelm opened #433 "Support group discounts"

[2017-03-13 15:44] #428 closed

[2017-03-13 15:46] #109 closed

[2017-03-13 15:47] #95 closed

[2017-03-13 15:48] raphaelm commented on #185
Solved with the release of https://github.com/pretix/pretix-sepadebit

[2017-03-13 15:48] #185 closed

[2017-03-15 07:58] raphaelm commented on #308
For the record, @jlwt90 is planning to work on this.

[2017-03-17 09:57] saurabhgoyaliitr commented on #391
@raphaelm   I am new to open source. Can you help me taking this?

[2017-03-17 10:02] raphaelm commented on #391
@saurabhgoyaliitr I'm currently not sure if @shubh-shetty is interested to work on this.

[2017-03-17 10:08] saurabhgoyaliitr commented on #391
then I could try fixing some other easy bug. but i need to know how to get started .

[2017-03-17 10:14] raphaelm commented on #391
There currently aren't that many easy bugs free. #293 is very similar to this one and has a detailled description, wanna look there? :)

[2017-03-17 10:41] saurabhgoyaliitr commented on #293
Sure. I would start with this one.

[2017-03-19 06:32] jlwt90 opened #436 "Failed test cases in test_models.py"
Hi,

I realised that some tests are failing in master branch. That's what I see from my log:
[code]

I thought I somehow screwed up my local environment so I checked the logs in travis CI, e.g.
https://travis-ci.org/pretix/pretix/jobs/212569908

And I found that the test result should be failure but build status is "success".
Here is the extract of the latest build job.
[code]

I guess we probably

[2017-03-19 12:43] raphaelm commented on #436
Yes, we changed logic there, I'll fix the tests ASAP. Thanks for the notice, apparently our Travis setup is also broken and does not mark the tests as failed.

[2017-03-19 12:58] #436 closed

[2017-03-19 15:17] jlwt90 commented on #308
@raphaelm will start working on this task tomorrow (just a heads up). I will make changes in one textfield and create a pull request :)

[2017-03-19 15:21] raphaelm commented on #308
Nice! :) Be sure to ask if there are any questions, I believe that this is not trivial on the user interface side, which is why I removed the "easy" label recently. I'm looking forward to your ideas and I'm happy to discuss them with you :)

[2017-03-22 09:46] anusha94 commented on #433
i am interested @raphaelm

[2017-03-23 09:26] raphaelm commented on #433
Hi @anusha94! It's very nice of you that you want to contribute!

Do you have any prior experience with Django? I'm not sure that this is a good place to start with this project, I did put the "big idea" label on this issue for a reason. If you don't have much prior experience I'd suggest to start with something simpler like #300 or #312.

[2017-03-23 17:49] MacLake opened #437 "PayPal/Stripe: Track actual paid payment fees"
Currently you can only enter the fees for Paypal or other payment methods as an additional charge in the event configuration, but there are some problems with that:

- You can’t really calculate the Paypal fee because it depends on the country of the customer’s and merchant’s Paypal account. Within the Euro zone it’s 2.9 % + 0.35 € to a German account, but from other countries it’s significantly m

[2017-03-23 18:08] raphaelm commented on #437
Hi,

thank you very much for the suggestion!

First of all, I want to stress a difference, just to make it 100% clear for other people who read this (I think I get what you are saying but others might not): The fee that can be currently configured in pretix is always **added** to the customers total (and therefore also shown. This is by design and is unlikely to change. For this purpose, yes, it i

[2017-03-23 19:06] MacLake commented on #437
Hi Raphael,

thanks for your fast answer. Yes, I was talking about tracking the real fees charged by the providers after the payments. I don’t expect Pretix to get the exact fees in advance (I would expect from Paypal or Stripe that they have predictable fees, but that’s another thing). The configuration options for charging the user for different payment methods are just perfect, no need to chang

[2017-03-24 08:11] raphaelm commented on #293
Hi @saurabhgoyaliitr, have you tried anything yet? Anything I can help with?

[2017-03-24 08:13] raphaelm commented on #35
Hey @harshavamsi! How is it going? I don't want to build pressure, just check if everything is fine or if I can help :)

[2017-03-24 08:14] raphaelm commented on #391
Hi @shubh-shetty, have you tried anything yet? Anything I can help with?

[2017-03-24 13:14] harshavamsi commented on #35
Hey @raphaelm I've worked on some django apps and this is by far the most complex one I've seen :P Sorry for the delay been flushed with work. But yeah I do need some help in passing data to the template the right way.

[2017-03-24 13:52] raphaelm commented on #35
No problem at all. Do you see the ``get_context_data(self, **kwargs)`` method in ``EventIndex`` in ``pretix/presale/views/event.py``? If you add entries to the dictionary constructed there, you should be able to use them as variables in the template.

[2017-03-25 14:21] harshavamsi commented on #35
Oh alright. I'll give it a try!

[2017-03-25 21:38] raphaelm opened #439 "Optimize performance of event dashboard"

[2017-03-25 21:40] raphaelm opened #440 "Optimize performance of event frontpage"

[2017-03-26 03:21] morrme commented on #300
So right now the link is represented by the image generated by
`<img src="{% static "pretixbase/img/flags/"|add:l|add:".png" %}"/>`

Are you saying that that img tag should be replaced with one that just displays language name? Or do you want the images in that path to be replaced?

[2017-03-26 08:03] raphaelm commented on #300
Yes, I think the image tag should be replaced by the name of the language. In the second step, it should be the name of the language *in* the language, which might be a bit harder. Also, we need to somehow make it look nice then :)

[2017-03-26 08:26] morrme commented on #300
i may need a little help with navigation, because i can't find any file that has the full form version of the language name...would this need to be something added?

would you ever do something like this (styled to fit the app)
![language-names-7057347](https://cloud.githubusercontent.com/assets/26514778/24329670/f486f918-11d2-11e7-87e3-67dd5bec2e56.jpg)

[2017-03-26 08:42] raphaelm commented on #300
There is the ``LANGUAGES`` list available from ``django.conf.settings`` that has the form

      LANGUAGES = [
           ('en', _('English')),
           ('de', _('German')),
           ('de-informal', _('German (informal)')),
      ]

  I suggest that, for now, you find a way to use this information (you might have to do that in Python code and pass it to the template somehow, this could be done

[2017-03-26 09:53] morrme commented on #300
I am not sure I could correctly implement this in a timely manner.  Hopefully someone with a better understanding of the application will come along and help.

[2017-03-27 07:44] anusha94 commented on #433
@raphaelm thank you for the suggestion :) i am new to Django, so let me start with something simpler.

[2017-03-27 07:55] anusha94 commented on #300
Hi @raphaelm i could give a try :) Can you please assign this to me?

[2017-03-27 08:38] raphaelm commented on #300
Hi @anusha94, sadly, GitHub is unable to formally assign issues to non-project-members. But yeah, go ahead and ask if you have any questions! :)

[2017-03-27 20:09] raphaelm opened #441 "Evaluate (and improve?) performance impact of metrics"
We should measure how large the performance impact of metrics is due to the redis latency and we should evaluate options to queue the redis commands and do them asynchronously after the request is processed -- or at least do them all at once a the end of the request.

[2017-03-27 20:09] raphaelm commented on #441
Not urgent, as we currently only have two metrics per request at max, but nevertheless worth looking into.

[2017-03-27 23:26] cherti commented on #441
@raphaelm
Didn't a4ead5bd072d0432ebd973d48c6a57fea3faa415 already fix this?

[2017-03-28 07:53] raphaelm commented on #441
@cherti For now, as we only do one histogram per request and as we pipeline histogram. Once -- if -- we add more metrics, it would be nice to have a generalized mechanism pipelining *all* redis queries within a request.

[2017-03-28 08:30] raphaelm opened #442 "Release checklist for 1.2.0"
- [x] Check translations
- [x] Squash migrations and test them
- [x] Prepare blogpost
- [x] Bump version in ``src/pretix/__init__.py``
- [x] Create git branch
- [x] Create git tag
- [x] Upload PyPI package (sdist and wheel)
- [x] Create tag on docker hub
- [x] Check if any official plugins need a release
- [x] Check if pretixdroid needs a release
- [x] Publish blogpost
- [x] Update data.json

[2017-03-28 10:40] cherti commented on #441
ah, IC. That's indeed true.

[2017-03-30 19:50] raphaelm commented on #407
+ iDeal

[2017-03-31 07:41] raphaelm opened #443 "2FA setup wizard: Show private key"
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2017-03-31 07:45] raphaelm opened #444 "Add alternative text to the top-right navigation"
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2017-03-31 07:52] raphaelm opened #445 "Global "go to shop""
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2017-03-31 08:05] raphaelm opened #446 "Enforce currencies to be a valid ISO code"
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2017-03-31 08:17] raphaelm opened #447 "Sendmail plugin: Create new mail based on an old one"
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2017-03-31 08:22] raphaelm opened #448 "Auto-detect wrong placeholders in mail texts"
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2017-03-31 08:27] raphaelm opened #449 "Show and change the locale of an order"
**Hey!** If you ever wanted to contribute to an Open Source project, but didn't know how, you just found a perfect place to start. We try to write this issue as instructive as possible, but as we're humans we almost certainly forgot to write something important in here. If you want to try to tackle this issue and get stuck at _any_ point, please do not hesitate and ask us, either here on GitHub or

[2017-03-31 08:59] raphaelm opened #450 "Improve color scheme"
Currently, we are using the following three shades of our brand color within the UI:

![c_b](https://cloud.githubusercontent.com/assets/64280/24543694/cae8bda8-1600-11e7-971b-da40eb17e79e.png)

I want to keep the brand color as it is and I want to keep it for the top navigation bar. However, I'd be looking for a different (darker?) shade as a link color because the current one feels a bit aggressi

[2017-03-31 10:45] raphaelm commented on #450
I played around a bit in [HCL space](https://www.vis4.net/blog/posts/avoid-equidistant-hsv-colors/).
![2017-03-31-124424_912x222_scrot](https://cloud.githubusercontent.com/assets/64280/24547406/e2a53fe8-160f-11e7-981a-374b1146f024.png)

If you want to play yourself: https://jsfiddle.net/orp3pknx/9/

[2017-03-31 11:01] raphaelm commented on #449
Good choice, give it a try and let me know if there are any problems.

FYI, I'll travel to DjangoCon Europe on Sunday, so I might be a bit slow with replying but I will reply ;)

[2017-04-01 07:07] alainrk commented on #449
Hi @raphaelm, I am recently approaching to bigger open source projects to collaborate on in my free time, and I am coming here from a couple of article about first-timers-only github tag. My congratulations for pretix! :)

Currently, I am setting up the requirements in the virtual environment, but I got stuck on the following error executing `pip3 install -r requirements.txt -r requirements/dev.tx

[2017-04-01 09:04] raphaelm commented on #449
Hi @alainrk, welcome to pretix! For problems like this the best is you open a seperate issue with this, so we don't spam @rahmonov and we can keep track of that we improve our documentation. For your issue, can you try installing the packe ``python3-dev`` if you are on Debian or the equivalent if you are on a different distribution?

[2017-04-01 10:01] alainrk commented on #449
Sorry @raphaelm, and thank you for your help, the installation of `python3-dev` solve the problem. I am on Debian based system.

[2017-04-01 10:05] raphaelm commented on #449
No worries, glad I could help :)

[2017-04-01 10:06] raphaelm commented on #449
@alainrk Would you mind making your first pull request to the project by adding it to the package list in the developer documentation? ;)

[2017-04-01 18:56] morrme commented on #444
Hi @raphaelm  !!!  Perhaps I could try this one?

[2017-04-01 19:12] emersonmde commented on #446
I would love to give it a shot. I've been looking for a way to get into open source but a lot of projects have a high barrier to entry.

[2017-04-01 22:12] raphaelm commented on #444
Hi @morrme sure, go ahead! :)

[2017-04-01 22:12] raphaelm commented on #446
Hi @emersonmde, sure, go ahead and tell me if there are any problems!

[2017-04-01 22:18] morrme commented on #444
@raphaelm great! excited to finally contribute! :)

[2017-04-02 00:15] morrme commented on #444
@raphaelm what should the title of the User page be? "User Settings"?  "User settings" ?

[2017-04-02 03:56] emersonmde commented on #446
I think I've got it, so I created a PR #452.

I forgot to run the tests/checks so I added a 3rd commit to clean up the first 2. Please let me know if it's better to just re-create the branch and pull request so there is only 1 commit.

Thanks for the info too! It was really helpful.

[2017-04-02 04:58] alainrk opened #453 "Pytest fails on test_updatecheck.py on fresh install"
I get this error on `python3 -m py.test` for the fresh pretix clone:

`ERROR collecting tests/base/test_updatecheck.py`

`tests/base/test_updatecheck.py:5: in <module>
    import responses
E   ImportError: No module named 'responses'
==== 926 passed, 1 skipped, 1 error in 107.04 seconds`

Thanks!

[2017-04-02 05:20] rixx commented on #453
Did you install the dev dependencies? Try `pip install -U requirements/dev.txt`, this pulls in responses, which has been added less than a day ago.

[2017-04-02 05:30] alainrk commented on #453
Oh thank you, it works!

[2017-04-02 05:31] #453 closed

[2017-04-02 19:51] raphaelm commented on #446
Hi @emersonmde alright, I'll look at the PR.

No worries, GitHub is able to squash that while merging, so that doesn't cause any issues.

[2017-04-02 19:58] raphaelm commented on #444
I'd suggest it to be "Account settings" since this is the headline you get if you click on it 😉

[2017-04-03 21:24] morrme commented on #444
@raphaelm OK that's done, now I am on to the documentation.  Do I simply add that the title  can be set by plugins, or is there something else you'd want to place here? I don't see a similar statement anywhere in the documentation, so I just want to be sure.